[2019-06-03 10:53] vddesai1871 commented on #377
Yes the test I mentioned in the issue is already in test_Collection_GET, I do not remember how I missed it. Still I'll reevaluate it and then close it if I find nothing.

[2019-06-03 12:01] vddesai1871 commented on #377
I think it was for checking the validity of member item URIs in the collection response. I encountered it while working on #378 , but yes the description I gave was wrong, I have updated it and I am creating a PR for it.

[2019-06-03 13:52] chrizandr commented on #377
Merged in #398

[2019-06-03 13:52] #377 closed

[2019-06-03 14:12] chrizandr commented on #361
Merged in #376

[2019-06-03 14:12] #361 closed

[2019-06-04 12:20] vddesai1871 commented on #349
Merged in #389

[2019-06-04 12:20] #349 closed

[2019-06-05 12:37] Guttz commented on #302
Useful links detailing the interaction between server and client regarding search functionality:

- https://github.com/HydraCG/cookbook/blob/master/drafts/7.searching-events.md
- https://github.com/HydraCG/cookbook/blob/master/drafts/8.filtering-events.md

[2019-06-05 13:35] vddesai1871 commented on #392
While coding this I found out we are already following the exact procedure you mentioned with the help of the "Location" header. So that solves the `id` issue. I am going with the response structure I mentioned above to close this and resolve #396.

[2019-06-05 13:43] Guttz commented on #392
Seems to be working. Thanks for clarifying @vddesai1871!

![Group 3 (3)](https://user-images.githubusercontent.com/11739405/58961005-9aa0dd80-87a8-11e9-8f40-49e720f5339d.png)

[2019-06-06 08:54] iddan opened #401 "[Question] Custom Backend"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:
Currently hydrus is only integrated with SQLAlchemy as a backend.

### Expected Behaviour:
Allow providing a backend that complies to a defined API

### Do you want to work on this issue?
Yes

[2019-06-06 10:49] Mec-iS commented on #401
Thanks for opening a feature request.

can you be more specific in what you want to achieve? hydrus uses by design choice an SQL database; SQLalchemy allows plugging in the most popular SQL databases (with some caveats about dialects). Do you mean allowing hydrus to use a key-value or document store? Or allowing usage of different ORMs?

[2019-06-06 13:12] iddan commented on #401
Actually I'm curious about integrating it with a triple store. I want to expose a hydra API on top of a graph DB / API.

[2019-06-06 14:11] Guttz commented on #397
[Adding for documentation references]

 Hydra Spec ref for this: https://www.hydra-cg.com/spec/latest/core/#client-initiated-pagination

[2019-06-06 16:42] Mec-iS commented on #401
You can have ideas about scenarios by going through [this document](https://www.hydraecosystem.org/Design). According to how we are engineering the client-server implementation, we have defined the server `hydrus` as pure HTTP REST server and because of that SQL is the perfect match for this design (HTTP verbs map to CRUD operations and queries in the database).
The actual graph that will hold the

[2019-06-06 16:58] #375 closed

[2019-06-06 16:58] Mec-iS commented on #392
Moved to #396

[2019-06-06 16:58] #392 closed

[2019-06-06 16:59] #226 closed

[2019-06-06 17:01] Mec-iS commented on #397
This has to be done with #302

[2019-06-06 17:01] #397 closed

[2019-06-06 17:02] Mec-iS commented on #302
NOTE: obviously the IRITemplate endpoint should make pagination available

[2019-06-27 14:37] vddesai1871 commented on #302
Regarding pagination, as discussed here http://www.hydra-cg.com/spec/latest/core/#client-initiated-pagination hydrus can add `limit`, `offset` and `pageIndex` variables to the IriTemplate attached with collection.
ex.
[code]
So client have two ways to paginate i) `offset and limit` and ii) `pageIndex and limit.`
1) I don't think it would be a valid case but if by mistake somehow client sends both

[2019-06-27 16:46] Mec-iS commented on #302
Probably we should return status `400` with a proper error message and maybe a link to the spec in the message.

At the moment the range for `hydra:search` is a `IRItemplate` not a list of them:
[code]
I suggest you to open a issue on https://github.com/HydraCG/Specifications/issues as it may be a good idea.

[2019-06-28 06:01] vddesai1871 commented on #302
Yeah but I don't think that prevents it from having list of IriTemplates.

For example take a look at `hydra:mapping` it has `IriTemplateMapping` as range but takes lists of `IriTemplateMapping`.(Look at any examples of it over here http://www.hydra-cg.com/spec/latest/core/#templated-links or in the use cases.)
[code]
Another similar example is `hydra:possibleStatus`. Which takes list of `hydra:St

[2019-07-01 12:19] vddesai1871 commented on #386
I think the IriTemplate approach we agreed to before can't be used as this issue is not just about showing nested collections but providing complete support for them at hydrus. If I am correct, right now hydrus doesn't provide any support for nested collections, by that I mean that hydrus doesn't provide a way to do any sort of operations over nested collections. The IriTemplate method just provid

[2019-07-01 12:26] vddesai1871 opened #404 "Creation of dynamic endpoints"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

Right now, hydrus only serves static data and provides standard CRUD operations over
that data, it doesn’t allow the user to define some logic to process incoming data and
provide generated output.
### Expected Behaviour:

hydrus should provide some way to define dynamic endpoints, and thus let users define
logi

[2019-07-01 12:51] Mec-iS commented on #386
i don't understand why a query on the db cannot return all the comments with `article_id` X, SQLAlchemy can implent the `relationship` function to have bi-directional queries. Having explicitly set the parent may help for a graph representation but it should be already possible to query all the comments by article.
The Article object should look like:
[code]
and the IRItemplate that it links to sh

[2019-07-01 14:18] vddesai1871 commented on #386
Yeah, I had agreed to that earlier, but the question is how hydrus add new comments to articles? Don't we need `../articles/3/comments` endpoint from where the client can add new comments?  If we are having an endpoint for nested collections then there is no need of using IriTemplates.

We do not have different models for different classes, we have only one model `Instance`, so I do not think back

[2019-07-02 11:48] Mec-iS commented on #386
This should happen in the Comment resource, what we have now sounds a bit of un-RESTy. It has been until now for convenience but maybe we can think something better?

maybe we should consider having resources classes that extend Instance and not use it directly.

having a generic parent_id sounds good for Instance then.

[2019-07-02 13:16] #401 closed

[2019-07-02 13:31] Mec-iS commented on #404
Are you talking about a Falcon/Flask-like pre_request and post_response hooks?

[2019-07-02 14:19] vddesai1871 commented on #404
Yes, something very similar to that.

I don't know exactly how. But if we are talking about `before_request` method provided by Flask, then it applies to all requests. Which we do not want. Even if we find inbuilt support for having pre-request hook for individuals responders(like `Item/get`), it wouldn't work as `Item/get` is responsible for all hydra resources(`Drone`, `State`, etc.), and the de

[2019-07-03 15:21] vddesai1871 commented on #386
#### UPDATE:
This issue is actually about providing support for properties of type `hydra:Link`(subclass of `rdf:Property`).
Such `Link` properties might lead to a collection of resources or an individual resource, it might also involve a list of `supportedOperations` which might be somewhat different than `supportedOperations` of the resource it links to.(for example Comment might have `issue` pr

[2019-07-03 20:29] Mec-iS commented on #404
IMHO we need to consolidate the existing functionalities before getting into improving the developer experience. Please run a double-check (a checklist maybe) about what it is currently usable in hydrus and what it is in the spec. I feel we still have something else to do before starting with adding features to improve the developer experience.

[2019-07-04 08:24] xadahiya commented on #386
I agree with @Mec-iS  here. Comments should be added to the CommentCollection endpoint only. Doing it any other way is not restful.

Using the Issues and comments vocab example [here](http://www.markus-lanthaler.com/hydra/api-demo/vocab), Everything will work as it does right now i.e
- Issues will be added on the IssueCollection endpoint
- Comments will be added on CommentCollection endpoint
- Use

[2019-07-04 09:02] vddesai1871 commented on #386
@xadahiya that's exactly what I was looking for, thanks.

I was considering the unRESTy case where the client can add new comments at `article/id/comments` so the Comment instance in the request might not require article_id field as it is already in the url. But as it's ruled out, the paragraph above makes perfect sense.

If I am not missing something then it will require us to create a new resour

[2019-07-04 17:35] xadahiya commented on #386
Exactly!
You can then parse and use the child ids of item `Collectiontype/<ID>` to create a partial collection that will have the type of `<NestedCollectiontype>`

[2019-07-08 09:33] chrizandr commented on #404
What I meant by dynamic endpoints was for developers to be able to decide how the incoming data is to be processed. Right now, the only functionality that hydrus provides is for developers to be able to store data in a database without being able to control how the data is processed at the server end. There is nowhere that a developer can insert custom code to be able to create a full fledged serv

[2019-07-16 10:41] Mec-iS commented on #404
Is this something similar to use `before_request` and `after_request` decorators in Flask? Developer can just declare those hooks.

[2019-07-19 12:05] Guttz commented on #300
The server automatically launches a Flask server and creates a socket in the Namespace '/sync', all clients connect to that socket and listen for events.

**The server has a limited sized modifications_table as the following:**

| JOB_ID      | METHOD | RESOURCE_URL                                                      |
|-------------|--------|------------------------------------------------------

[2019-07-19 12:35] xadahiya opened #412 "[Discussion] Research better multiple-table architecture (objetive 2021)"
Research and discuss a multiple-table database architecture where different type of resources are stored in different tables to improve scalability and efficiency.

[2019-07-19 13:14] Guttz commented on #412
To make the discussion easier I figured it would be good to deploy an instance of the DB with an IDE.
Available at: https://sqliteonline.com/#fiddle-5d31c0c75d188js6jya4czcr @Mec-iS

![image](https://user-images.githubusercontent.com/11739405/61537518-bf29df80-aa0d-11e9-9961-b56c1f3c482f.png)

[2019-08-15 12:17] chrizandr opened #416 "Treating collections as a resource"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

I've been speculating for some time now that our treatment of collections as a single resource for every class is wrong. Nowhere in the spec is it mentioned that a collection is a set of all objects for a given class. It is mentioned that a collection is "a set of somehow related resources". This does not imply

[2019-08-16 11:47] vddesai1871 commented on #416
:+1:

I think this problem can be solved by hydra:Link, by having a 'bidirectional' link, as Markus has used here http://www.markus-lanthaler.com/hydra/api-demo/vocab. The solution you proposed is somewhat better than such reliance on links to imply relations, but still I think we will need to have that as fallback or alternative. As we are allowing the Api Desigenr to decide whether he wants to a

[2019-08-16 12:23] Mec-iS commented on #416
I have mentioned sometime that collections are just "alias names" for "collections of pointers" to instances. What I meant is basically that they are representation for sets of instances, this may be implemented by having the collection endpoint (the alias name) that return a sequence (i.e. list, vector) `of `HydraLinks` to proper instances. Is it specified otherwise in the specs that the member o

[2019-08-16 12:57] #302 closed

[2019-08-16 12:58] chrizandr commented on #386
Discussion moved to #416

[2019-08-16 12:58] #386 closed

[2019-08-21 13:02] chrizandr commented on #404
Yes but those are more general to be done after every request. What if the processing needs to be done specific to an endpoint?

We are offering hydrus as a library to developers, where they only use a small script(the demo script in the docs) to create a hydra enabled server. What I had in mind was a full scale stack that allows developers to add hydra to their existing applications with minimal

[2019-08-24 12:38] xadahiya commented on #317
Fixed in #422

[2019-08-24 12:38] #317 closed

[2019-09-20 11:54] Mec-iS commented on #412
This should go in the doc (:

[2019-09-20 13:57] Mec-iS opened #424 "General refactoring"
### Current Behaviour:
A lot of functions have many if-else branches and the procedures implemented by these branches have too much code in them. This makes readability and testability hard.

For example the branch in this [chunk of code](https://github.com/HTTP-APIs/hydrus/blob/42205ab4d4984f591310b19f3b5d6c1610e95e4d/hydrus/resources.py#L108) should be ported into a function like:
[code]
Into a

[2019-09-20 13:59] Mec-iS commented on #416
@chrizandr is this solved? please close if it is

[2019-09-20 14:00] Mec-iS commented on #300
@chrizandr please close if it is done.

[2019-09-20 15:40] #300 closed

[2019-09-20 15:41] chrizandr commented on #416
No it hasn't been implemented

[2019-10-28 13:25] vcode11 opened #426 "Outdated Chat Room link"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

The current link to chat in contributing.md refers to gitter but organization has moved to a slack channel.

### Expected Behaviour:

Link to the slack channel.

### Steps to reproduce:

Click on help in the chat in CONTRIBUTING.md

### Do you want to work on this issue?

Yes

[2019-10-29 11:15] chrizandr commented on #426
Fixed in #427

[2019-10-29 11:15] #426 closed

[2019-11-09 06:51] vcode11 opened #428 "Hydrus hardcoded for serving apiDoc"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

Hydrus only allows serving the apiDoc at ```http://localhost:8000/api/vocab``` only which is not aligned with hydra spec.

### Expected Behaviour:
Hydrus should allow serving apiDoc as per ```https://www.hydra-cg.com/spec/latest/core/#documenting-a-web-api```

### Do you want to work on this issue?
Yes

[2019-11-16 13:53] luchsamapparat opened #429 "demo returns incomplete contexts"
### I'm submitting a
- [X] bug report.

### Current Behaviour:
I'm exploring the hydrus demo to understand how Hydra works. From what I understand, the linked JSON-LD contexts do not provide enough information to parse a response as RDF.

Requesting the `DroneCollection` returns the following JSON-LD document:

[code]

However, the linked JSON-LD context does not contain mappings for all the Hydra

[2019-11-17 13:06] chrizandr commented on #429
Thank you for bringing this to our notice. You are right.

Either we need to add a `hydra:` prefix or these identifiers need to explicitly be added to the context.

[2019-11-17 13:07] chrizandr commented on #428
Yes. The doc should be allowed to serve at any URI. This will then need to be added to the Link headers of the responses so that the client can access the API doc.

[2019-11-19 16:36] Mec-iS commented on #428
This is related to https://github.com/HTTP-APIs/hydra-python-agent/issues/102

[2019-12-16 12:18] vedangj044 opened #430 "Authentication not working."
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

Running  `docker-compose up --build` creates the hydrus server, but when trying to login to access properties like `api/Area` with the default credentials, the alert box, either refreshes or the user has to click cancel.

### Expected Behaviour:

On entering the correct credential, user should be served with the

[2019-12-16 12:41] Mec-iS commented on #430
Good. Please provide a [Pull Request](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request) when ready.

[2020-01-04 17:30] xadahiya commented on #430
Authorization is working fine. Please follow this procedure http://www.hydraecosystem.org/Auth

The auth process is meant to be done by agents/bots that's why it is hard to do manually. Try the steps above and everything will work as expected.
Thanks for your efforts. 😄

[2020-01-04 17:30] #430 closed

[2020-01-12 01:52] sameshl commented on #424
@Mec-iS I would love to work on this. Could you link me to some code so I could start working from there?

Thanks

[2020-01-16 18:14] Gs-001 commented on #429
I'd like to try and work on this issue. Though I am not completely familiar with Hydrus but I'll try to catch up and I'll communicate if I get stuck somewhere.

[2020-01-21 06:10] thrishik7 commented on #356
I would love to work on this issue. I have gone through the docs, if Im stuck in somewhere please guide me.

[2020-01-21 08:14] Mec-iS commented on #356
please join Slack and ask for help there

[2020-01-21 13:36] thrishik7 commented on #356
@Mec-iS  sure, thank you :)

[2020-01-29 18:22] som23ya commented on #356
can i work on this?

[2020-01-30 01:00] xadahiya commented on #356
You don't need to ask for permission. Please feel free to work on whatever issue you like or create your own and submit a PR

[2020-01-30 10:28] pr4k opened #439 "hydrus setup install failing"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

Presently on following the instructions as described in Readme to setup local server
the following error occurs while running ` python setup.py install `

[code]

I digged around a little for the solution and stumbled upon this

https://github.com/pypa/pip/issues/7645
https://github.com/pypa/pip/issues/7645#issu

[2020-01-30 16:53] ShashankJaitly commented on #439
Please try updating pip version it worked for me.
`pip install --upgrade pip`

[2020-01-30 18:02] tanmay192 commented on #439
Try this instead of the
`pip3 install .

python3 setup.py install`
`pip3 install -r requirements.txt

python3 setup.py install`

[2020-01-30 19:23] ashish493 commented on #439
Also happened with me, a long time ago.
Upgrading pip definitely helped me.

[2020-01-31 05:07] pr4k commented on #439
Already tried but no help

[2020-01-31 05:08] pr4k commented on #439
I never tried pip install . , I always do pip install -r requirements.txt

[2020-01-31 05:10] pr4k commented on #439
Yeah it was mentioned in many stack overflow answers..... But it was of no help....and also the issue I mentioned above is opener just 6 days ago and mentioned same issue

[2020-01-31 05:19] ashish493 commented on #439
You can try adding this code:-
`def parse_requirements(filename):
    """ load requirements from a pip requirements file """
    lineiter = (line.strip() for line in open(filename))
    return [line for line in lineiter if line and not line.startswith("#")]`
Steps for adding:-
1.)create a directory pip/
2.)add an empty file pip/__init__.py
3.)add a file pip/req.py
4.)put the code above into pip/re

[2020-02-01 07:08] pr4k commented on #439
Downgrading pip to version 19.3.1 works like a charm, i think it should be mentioned in the requirements file till the time the bug is fixed in the  latest pip release

[2020-02-01 07:09] #439 closed

[2020-02-03 10:55] PrathamDogra opened #440 "The URL of example API endpoint in README.md is incorrect."
### I'm submitting a
- [X] bug report.
- [ ] feature request.

### Current Behaviour:

The endpoint given for the example API is http://localhost:8000/api/vocab which doesn't serve anything on **hydrus serve**.

### Expected Behaviour:

It should be(most probably) changed to http://localhost:8080/serverapi/vocab
### Steps to reproduce:

### Do you want to work on this issue?

I would like to creat

[2020-02-03 14:40] vedangj044 commented on #440
In the README.md
It is mentioned that while using docker-compose, the server endpoint is `/api/vocab/`
and while using hydrus server it is `/serverapi/vocab`
We can still change to `http://localhost:8080/serverapi/` to `http://localhost:8080/serverapi/vocab`

[2020-02-05 17:00] chrizandr commented on #440
The `API_NAME` variable is what determines the URL for the API entrypoint.

- In case of the docker-compose demo a sample API is run with `API_NAME` set to "api".
- Running `hydrus serve` without specifying an `API_NAME` will choose the defualt entrypoint name. In this case `API_NAME` is set to "serverapi".

The descriptions are correct. They are two different cases.

[2020-02-05 17:00] #440 closed

[2020-02-09 08:56] sameshl commented on #429
@chrizandr I have made the PR to fix this change https://github.com/HTTP-APIs/hydrus/pull/441.
This fix also required changes in the `python-hydra-core` 's `doc_maker` module, so I had to make this complementary PR https://github.com/HTTP-APIs/hydra-python-core/pull/34.

Let me know if any changes are required.

[2020-02-09 12:43] sameshl commented on #428
@chrizandr @xadahiya I have tried to implement this feature in this [PR](https://github.com/HTTP-APIs/hydra-python-agent/pull/136) . Let me know if any thing needs to be changed.

[2020-02-09 17:08] priyanshunayan commented on #167
@xadahiya @Mec-iS  Is the local text file expected to be of any kind like Turtle, JSON-LD, RDF/XML etc. from which the data will be bulk loaded or just JSON?

[2020-02-11 16:40] sameshl commented on #416
@chrizandr I would like to work on this feature. But, I haven't completely understood what has to been done. So could you point to the relevant code and also some links which I could use to understand about whats the current implementation and what needs to be done.

Thanks!

[2020-02-12 18:26] priyanshunayan opened #442 "hydrus/app.py uses hydradoc from examples folder"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:
app.py is referencing sample hydradoc from examples folder. Whereas cli.py uses sample hydradoc from hydrus/samples folder.

### Expected Behaviour:
app.py should get sample hydradoc from hydrus/samples folder.

### Steps to reproduce:
open conf.py file. check apidoc_path variable in the except block

### Do you

[2020-02-13 13:26] thrishik7 commented on #424
@Mec-iS. Can I work on refactoring class ItemCollection

[2020-02-14 10:18] priyanshunayan opened #446 "cli.py not searching environment variables for hydradoc"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

cli.py uses hydradoc from cli arguments. If the argument is not specified, it fall backs to sample doc without looking into environment variables.
### Expected Behaviour:

if hydradoc is not specified as cli argument, then it should look into environment variables first before falling back to sample hydra doc.
#

[2020-02-21 10:30] sameshl commented on #429
@xadahiya This issue can be closed. Fixed with https://github.com/HTTP-APIs/hydrus/pull/441 and https://github.com/HTTP-APIs/hydra-python-core/pull/34

[2020-02-21 19:56] geekypandey opened #451 "bug:hydrus cli takes any argument to start the server."
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

The hydrus cli function is not properly implemented.
hydrus takes any argument and starts serving.
e.g,
`hydrus serve`
`hydrus asdfasd `
both would do the same thing.

### Expected Behaviour:

`hydrus serve` should start the server and any sub command should not be considered.

### Steps to reproduce:

after set

[2020-02-21 23:30] xadahiya commented on #451
Sure! Please go ahead

[2020-02-22 06:28] #429 closed

[2020-02-22 06:29] #428 closed

[2020-02-22 07:53] geekypandey commented on #451
I had doubts in the implementation :
1. There is open parameter defined in document as `openapi` which is not being used anywhere and not even passed as argument. Sorry but I am not yet through whole hydrus implementation , just starting to understand so don't know if that is required.
2.The implementation idea is use **serve** as an subcommand of **hydrus cli** eg .,`hydrus serve`.
And the option

[2020-02-22 16:22] #442 closed

[2020-02-22 16:22] #446 closed

[2020-02-26 16:40] sameshl opened #454 "Outdated example code"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

Lot of code for the `doc_gen.py` files from the hydrus repo in the .`/examples`  folder seem outdated.
For eg, The way the status codes is defined [here](https://github.com/HTTP-APIs/hydrus/blob/72b4cda49ab9cfe0fb775146e8d5113f5d6869e0/examples/drones/doc_gen.py#L59) is wrong. It get interpreted in the `expectsH

[2020-02-28 14:43] n1khilmane commented on #454
After running the `python3 hydrus/examples/drones/doc_gen.py`, I am getting this error, how should i fix it.
`File "doc_gen.py", line 3, in <module>
    from hydra_python_core.doc_writer import HydraDoc, HydraClass, HydraClassProp, HydraClassOp
ModuleNotFoundError: No module named 'hydra_python_core'
`

[2020-02-28 15:51] sameshl commented on #454
@n1khilmane  Have you installed all the dependencies in your virtual envirnoment while setting up the project before running `python3 hydrus/examples/drones/doc_gen.py`?

If not, in the root directory of this project:
To create virtual env: `python3 -m venv venv`
To activate the env: `source venv/bin/activate`
To install the required dependencies: `pip3 install -r requirements.txt`

Now run, `pyth

[2020-03-07 04:33] thrishik7 opened #455 "Examples Outdated"
### I'm submitting a bug report

### Current Behaviour:
Examples in hydrus, for example in drones the doc isn't updated yet
`

    "@type": "ApiDocumentation",

    "description": "API Documentation for the server side system",

    "possibleStatus": [],

    "supportedClass": [`

### Expected Behaviour:
the expected doc for drones  should be updated as shown below
`

    "@type": "ApiDocumentatio

[2020-03-07 07:19] sameshl commented on #455
Related to https://github.com/HTTP-APIs/hydrus/issues/454

[2020-03-14 07:29] priyanshunayan opened #457 "Building Docker Image from DockerFile fails"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

In the directory where dockerFile is present run `docker build -t hydrus/myapp .` This gives an error.
![image](https://user-images.githubusercontent.com/32892545/76677367-77d30d80-65f3-11ea-9783-063f5d26f133.png)

### Expected Behaviour:

Docker Image to be successfully built.
### Steps to reproduce:

Go to the

[2020-03-14 08:10] #457 closed

[2020-03-17 18:25] sameshl opened #460 "Migrate testsuite from unittest to pytest"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

The testsuite for hydrus is written using unittest library.
### Expected Behaviour:

@xadahiya  I feel that using pytest would greatly improve the readability of the test code with its features like fixtures, parameterisation, etc. As hydrus continues to develop and we continue to refactor it, I think this is an

[2020-03-18 02:56] xadahiya commented on #460
Sounds good! Please create a Pr

[2020-03-18 12:37] Mec-iS commented on #460
I think it is a good improvement, it may speed up the automated test pipeline and allow more insight in the codebase for the purpose of a better proposal.

[2020-03-18 12:46] sameshl commented on #460
@Mec-iS Yes you are right. I have already started working on it.

[2020-03-19 17:39] sameshl opened #462 "Possible mistake while refactoring"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

@xadahiya
I came across this while I was refactoring hydrus.
I am referencing the commit https://github.com/HTTP-APIs/hydrus/commit/c0b492982b7093b38084d59afcfbbc52bb73d5e5#diff-57bc8a5a89375175a4bf37d573213377R353

(by @de-sh )which is already merged.
In the changes to `hydrus/resources.py` under the POST metho

[2020-03-20 18:44] xadahiya commented on #462
Yes, you're right. Thank you

[2020-03-20 18:44] #462 closed

[2020-03-22 14:56] sameshl opened #464 "BUG: Possible error in tests"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

@xadahiya While migrating the test suite from unittest to pytest, I needed some clarification on a test which you had written.
While running this test  https://github.com/HTTP-APIs/hydrus/blob/72b4cda49ab9cfe0fb775146e8d5113f5d6869e0/hydrus/tests/test_auth.py#L83-L93 locally, I think I encountered a BUG. Correct

[2020-03-23 11:34] vddesai1871 commented on #464
Yes, I had raised this issue earlier and solved it, but I think I had missed this whole file(don't know how).
Regarding the solution, I would advise using the approach we have used in other test files(https://github.com/HTTP-APIs/hydrus/blob/72b4cda49ab9cfe0fb775146e8d5113f5d6869e0/hydrus/tests/test_app.py#L193).

[2020-03-23 11:52] sameshl commented on #464
Ok cool. I have anyway started with my approach mentioned above. Will be easy to switch to the approach mentioned by you.

[2020-03-26 09:34] vedangj044 opened #468 "Update DOCKERFILE"
### I'm submitting a
- [x] bug report.

### Current Behaviour:

As we switched to using python3.6 and above the command `docker-compose up --build` gave some syntax errors.
[code]

### Steps to reproduce:

Switch to `develop` branch
run command
`docker-compose up --build`

### Do you want to work on this issue?
yes

[2020-04-02 04:40] #468 closed

[2020-04-07 05:42] vedangj044 opened #470 "CLI Option to use existing database"
### I'm submitting a
- [x] feature request.

### Current Behaviour:

Whenever a hydrus server is initialized, a new database.db file is generated but it would be a common use case in the future that same database is used even after the server restart.

### Expected Behaviour:
In the cli.py , if the user wants to use the already created database, she can use `--use-db` option
like
`python cli.py se

[2020-04-07 11:53] #470 closed

[2020-04-07 13:29] sameshl commented on #464
This bug was resolved by what @vddesai1871 said.

[2020-04-07 13:29] #464 closed

[2020-04-07 13:39] sameshl commented on #372
@Mec-iS I would like to take this up. Looking at the Quart documentation https://pgjones.gitlab.io/quart/how_to_guides/flask_migration.html#flask-migration, it seems pretty straightforward.

/cc @xadahiya

[2020-04-07 13:45] sameshl commented on #167
@xadahiya @Mec-iS I think that this issue is not solved yet?
I can continue work from https://github.com/HTTP-APIs/hydrus/pull/168 which was closed. Could you tell the reason that https://github.com/HTTP-APIs/hydrus/pull/168 PR was closed?

[2020-04-07 13:47] sameshl commented on #451
@xadahiya Looks like this issue can be closed, seeing from PR https://github.com/HTTP-APIs/hydrus/pull/453

[2020-04-07 13:56] Mec-iS commented on #372
you are free to take a look and investigate. Please write a short report below about assessing the work needed and critical points and caveats.

This is a old issue, at this moment I would suggest to take a look to [Starlette](https://www.starlette.io/) (e.g. FastAPI) that seems a fresher implementation.

[2020-04-07 13:59] Mec-iS commented on #167
this is something needed @sameshl , also ping @vedangj044 as I think he is working on it

[2020-04-07 14:28] sameshl commented on #372
Yes, I will first do a analysis on what important changes need to be done in `hydrus`

I will go through other async frameworks as well and see which might be the best

[2020-04-07 16:31] vedangj044 commented on #167
@sameshl  #168 looks good but it is specific to a particular case where we have the data for a particular resource that too if the data doesn't contain any abstract property.
I am working on a generic preloading script that maps the column names of a  CSV file to the resource names of a Hydra Doc.
Starting with resources with 0 abstract property we load the data using the `crud.insert` function.
T

[2020-04-29 13:58] Mec-iS commented on #460
please confirm that the number of tests executed by Travis in #466 are the same as in the old test machinery

[2020-04-29 13:59] Mec-iS commented on #455
duplicate #454

[2020-04-29 13:59] #455 closed

[2020-04-29 13:59] #451 closed

[2020-04-29 14:00] Mec-iS commented on #424
Good job with the merged PRs. Kep this one open.

[2020-04-29 14:04] Mec-iS commented on #412
As discussed we may be moving to TTL mappings [R2RDF](https://www.w3.org/TR/r2rml/) in 2021. Further discussion to come.

[2020-04-29 15:40] sameshl commented on #460
@Mec-iS Yes, I can confirm that the number of tests executed by Travis in #466 is same as the old test machinery. I am attaching some screenshots of the relevant parts of the build section so it becomes easier for you to see.

The first image is a screenshot of the travis CI build in #466 , it shows that the number of tests run are **54**:
![image](https://user-images.githubusercontent.com/4370153

[2020-05-02 07:46] #460 closed

[2020-05-17 14:04] #454 closed

[2020-05-22 13:34] sameshl opened #473 "Docker compose container not building"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

The `docker-compose` command gives error,
[code]
and hydrus does not serve the api.

Screenshot for reference:
![image](https://user-images.githubusercontent.com/43701530/82672694-50856600-9c5e-11ea-95c6-c2ff1e514fe7.png)
**NOTE**: This happens only on develop branch and not master branch.

### Expected Behaviou

[2020-05-22 16:39] sameshl opened #475 "Default PORT and API_NAME not same"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

The default **PORT** and **API_NAME** are not same if hydrus is started using:
* `hydrus serve` - in this case the PORT is 8080 and the API_NAME is "serverapi"
and
* `docker-compose up --build` - in this case the **PORT** is 8000 and the **API_NAME** is "api"

This will cause hydrus to serve the same ApiDoc at d

[2020-05-23 17:07] #473 closed

[2020-05-23 17:08] #475 closed

[2020-05-25 10:05] Mec-iS opened #477 "Possible extension for SHACL"
it is under discussion the addition of SHACL resources as first-class citizens beside `Hydra:Class` https://github.com/HydraCG/Specifications/issues/214
Follow the implementation and consider possible changes to hydrus

[2020-05-25 14:11] sameshl commented on #477
Ok. Will have a look at it.

[2020-06-18 13:20] sameshl opened #480 "[DISCUSSION] Foreign keys implementation in new database schema"
@xadahiya @chrizandr
The current problem we have is how the foreign key relationship between resources has to be implemented in the new database schema in which we are going to have a table for each resource.

For example, in the supported Properties of the `Drone` class, we have a reference to the `State` class. This implies that there is a foreign key relationship between the `Drone` class and t

[2020-07-01 17:34] chrizandr opened #481 "Use of "*Collection" as default notation for Collection resources"
### I'm submitting a
- [ ] bug report.
- [x ] feature request.

### Current Behaviour:
In a lot of places hydrus assumes that the collection for a certain resource will be "[Classname]Collection". This has been added in a lot of places in the code as well.

For example in https://github.com/HTTP-APIs/hydrus/blob/master/hydrus/data/crud.py line 131. The same approach is also used in the modified sc

[2020-07-02 18:48] sameshl opened #482 "hydrus hardcoded with 'vocab:' to check foreign key relationship"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

At the moment, `hydrus` has been hardcoded with `vocab:` while it tries to identify foreign key relationship. For eg, [here](https://github.com/HTTP-APIs/hydrus/blob/27db73939f2fe8a8d08a8e3c2096876247dcf7d0/hydrus/data/db_models.py#L90).

@chrizandr  suggested we also include the case where we expand the `vocab:

[2020-07-02 23:08] chrizandr commented on #482
Open the relevant issu in the core library as well.

[2020-07-02 23:14] chrizandr commented on #480
Combine this discussion and the details of your final approach into a doc, we can use that to add documentation to the website.

[2020-07-03 12:54] sameshl commented on #480
@chrizandr Okay, will do

[2020-07-03 12:55] sameshl commented on #482
This issue is related to https://github.com/HTTP-APIs/hydra-python-core/issues/38

[2020-07-20 15:20] priyanshunayan opened #485 "Making GET requests to Collection endpoints without pagination throws error"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

When GET request is made to the Collection endpoint with --no-pagination flag, it throws error.

### Expected Behaviour:

Collection should be returned without errors.

### Steps to reproduce:

- start hydrus by running `hydrus serve --no-auth --no-pagination`
- create a GET request to "http://localhost:8080/Dro

[2020-07-22 21:03] sameshl opened #487 "[DISCUSSION] Database design for treating collections as a resource"
Related to the issue https://github.com/HTTP-APIs/hydrus/issues/416, we need to plan the details of the necessary database changes needed to accommodate the new feature of 'Treating Collections as a Resource'.

From the last discussion, we have planned to have a new `collection_id` column for every collection table so as to distinguish which item belongs to which collection. We need new column as

[2020-07-31 12:33] sameshl opened #489 "Multiple resource type collections"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

After PR https://github.com/HTTP-APIs/hydrus/pull/488/ gets merged, `hydrus` will have support for treating collections as a resource.

But in that implementation, `collections` are restricted to only a collection of a single type class.
### Expected Behaviour:

As described in the [spec](https://www.hydra-cg.co

[2020-08-03 16:20] #481 closed

[2020-08-03 16:21] chrizandr commented on #482
@sameshl Close if done.

[2020-08-03 16:22] #485 closed

[2020-08-03 16:24] #412 closed

[2020-08-04 15:54] sameshl commented on #482
@chrizandr I am working on this issue atm. Will close when done :+1:

[2020-08-18 16:21] #482 closed

[2020-08-19 04:00] sameshl opened #494 "[DISCUSSION] Updating collections"
After PR https://github.com/HTTP-APIs/hydrus/pull/488, we have support for collections as a resource.
Therefore, now we need to see how we go about updating(**POST** operation) individual collections.

In PR https://github.com/HTTP-APIs/hydrus/pull/488, the **POST** operation works by needing to add all the members of the collection in the request body even for updating one of the members.
This mi

[2020-08-26 17:41] sameshl opened #497 "DOC: Collection as a Resource"
We should add  documentation on the new feature in `hydrus` of treating collection as a resource introduced in PR https://github.com/HTTP-APIs/hydrus/pull/488.
### Do you want to work on this issue?

Yes

[2020-08-29 15:52] #497 closed

[2020-09-07 07:04] kshitij86 opened #499 "ModuleNotFoundError: No module named 'pip.req' when running setup.py"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:
I am trying to run hydrus on my machine.
I cloned the repo, installed all packages using requirements.txt in a virtualenv. When I run ```python3 setup.py``` install I get the following error:]
[code]

I am using Python > 3.6.0 and the latest pip.

### Expected Behaviour:
It should install hydrus on my machine.

#

[2020-09-07 07:04] kshitij86 commented on #499
@chrizandr I would like to work on a fix to this issue.

[2020-09-07 16:28] sjathin commented on #379
Hello, I would like to work on this issue.  Can I work on this?

[2020-09-07 16:36] sameshl commented on #379
@sjathin Yes, sure. Go ahead!

[2020-09-07 17:42] sjathin commented on #379
Thank You @sameshl

I am facing the following issue when i run **pip3 install -r requirements.txt** :

For the requirement  **git+https://github.com/HTTP-APIs/hydra-python-core@master#egg=hydra_python_core**

 Cloning https://github.com/HTTP-APIs/hydra-python-core (to revision master) to /private/var/folders/09/jdl0lzhd2k55lnhbkwyshlvh0000gn/T/pip-install-idjjp03s/hydra-python-core
  Running comma

[2020-09-10 16:06] kshitij86 commented on #499
Users [have had this issue already](https://github.com/HTTP-APIs/hydrus/issues/439), but the official Hydrus repo is not updated to reflect or correct that.

[2020-09-11 13:54] sameshl commented on #499
This issue has been fixed by https://github.com/HTTP-APIs/hydrus/pull/500.

[2020-09-11 13:54] #499 closed

[2020-09-11 13:57] priyanshunayan commented on #379
Hi @sjathin! You should no longer face this issue as this was fixed in #500. Can you try running the latest revision of hydrus again?

[2020-09-11 14:47] priyanshunayan opened #501 "Add Drone Collection in the sample API DOC"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

In the sample [hydra doc](https://github.com/HTTP-APIs/hydrus/blob/master/hydrus/samples/hydra_doc_sample.py) Drone Collection is missing. The doc contains the Drone class already, so it would be nice to have Drone Collection also in the api doc.

### Expected Behaviour:

The Drone Collection should be a part of

[2020-09-11 15:00] priyanshunayan opened #502 "Add missing items in the context of response"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

Some keywords that we are using in the response are not defined in the context. For eg: At the entrypoint(`/serverapi`) of the API we are using `collections` keyword in the response but `collections` is not defined in the context of the entrypoint response.

### Expected Behaviour:

`collections` should be defin

[2020-09-11 20:16] sjathin commented on #379
Hi @priyanshunayan, I do have the latest revision, I am facing this issue.

[2020-09-12 03:04] priyanshunayan commented on #379
From your logs I can see that you are not inside the virtual environment. Indeed, the documentation is missing this step. I will make sure this gets added in the docs. In meantime please follow following steps before pip install:
* `python3 -m venv venv`
* `source venv/bin/activate`
* `pip3 install -r requirements.txt `

/cc @sjathin

[2020-09-12 04:56] sameshl commented on #487
This issue can be closed as https://github.com/HTTP-APIs/hydrus/pull/488 has been merged.

[2020-09-12 04:56] #487 closed

[2020-09-12 04:57] sameshl commented on #489
Issue resolved in https://github.com/HTTP-APIs/hydrus/pull/493

[2020-09-12 04:57] #489 closed

[2020-09-12 04:59] sameshl commented on #480
Added docs on database design in https://github.com/HTTP-APIs/hydrus/pull/495. Therefore this issue can be closed.

[2020-09-12 04:59] #480 closed

[2020-09-12 05:02] sameshl commented on #416
@chrizandr Should I close this issue as most of the work involving treating collections as a resource is done? The current point of discussion is on Updating Collections which is being discussed in https://github.com/HTTP-APIs/hydrus/issues/494.

[2020-09-12 14:10] chrizandr commented on #416
Yes, I think we can close this

[2020-09-12 14:35] #416 closed

[2020-09-13 08:06] sameshl opened #504 "DOC: Add tutorials on using hydrus in documentation"
We need to try to add more tutorial-like examples in our documentation for developing APIs using `hydrus`. Something like projects like Matplotlib have [here](https://matplotlib.org/3.3.1/tutorials/index.html).

Right now, I think we have one [on the main website](https://www.hydraecosystem.org/01-Usage).

But, I think it will be better to add more tutorials on using `hydrus` as that would really

[2020-09-20 17:11] kanavpruthi commented on #424
Is this issue still open? Can I work on it?

[2020-09-21 03:43] sameshl commented on #424
Yes @kanavpruthi. A lot of code could be refactored in `hydrus`, you can go ahead with this issue.

[2020-09-21 05:10] kanavpruthi commented on #424
So do I need to have docker installed (or container based software as given in readme.md file), since I am not to familiar on using containers.

[2020-09-22 17:34] som23ya commented on #501
Can I work on this? I would be happy to have some guidance on how to start.

[2020-09-23 05:06] priyanshunayan commented on #501
@som23ya You might want to see [how other collections are generated](https://github.com/HTTP-APIs/hydrus/blob/master/examples/drones/doc_gen.py#L237) and subsequently add the required code for generating DroneCollection. Also, we want to update [this doc](https://github.com/HTTP-APIs/hydrus/blob/master/examples/drones/doc.py) and [this doc ](https://github.com/HTTP-APIs/hydrus/blob/master/hydrus/s

[2020-09-25 07:56] raoashish10 opened #505 "psycopg2 gives an error on building"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

Installation of hydrus failed on building due to an error regarding the psycopg2 module.
Versions:
Python Version: [3.8.3]
pip version: 20.2.3

Platform:
Windows 10. Used a virtual environment (Python 3.8.3) for installation of hydrus.

Error Log:
[code]
### Expected Behaviour:

There should be no error while in

[2020-09-25 15:53] chrizandr commented on #505
From what I read online, it seems like you need the python-dev module to compile the C/C++ code needed to install the module.

Do you have python-dev installed?

[2020-09-25 16:00] chrizandr commented on #505
Issue has been resolved

[2020-09-25 16:00] #505 closed

[2020-09-26 19:47] raoashish10 commented on #501
@priyanshunayan I was looking into this issue and I can saw that there is a command for creating the DroneCollection in the doc_gen.py file which already exists.
[code]
I am a little confused about the issue as the command to add the supported operations is also present in the file.
However, I have added the JSON-LD code that I think is expected in the hydra_doc_sample.py file. If you could just c

[2020-09-29 14:50] Mec-iS opened #507 "IRI missing domain name"
### I'm submitting a
- [ x] bug report.
- [ ] feature request.

### Current Behaviour:
Every IRI in the API should be a complete IRI to be dereferenced. For example:
[code]
All paths starting with `/...` should start with `http://localhost:8000/...` so that the link can be followed by clicking/reading/dereferencing the string.

### Expected Behaviour:
[code]
Having a `HOST_DOMAIN` global variable

[2020-09-29 14:51] Mec-iS commented on #424
For now we are good in terms of code clarity. Let's close this and open a new one for specific cases to refactor.

[2020-09-29 14:51] #424 closed

[2020-09-29 15:00] Mec-iS opened #508 "Root path should return HATEOS payload"
### I'm submitting a
- [ ] bug report.
- [ x] feature request.

### Current Behaviour:
At the moment `http://localhost:8080/` returns 404.

### Expected Behaviour:
The root of the API should return a list of links to existing collections (see this blogpost for [brief explanation of HATEOAS](https://restfulapi.net/hateoas/)). For example:
[code]

[2020-09-29 15:29] Mec-iS opened #509 "/serverapi/DroneCollection returns 404"
### I'm submitting a
- [x ] bug report.
- [ ] feature request.

### Current Behaviour:
http://localhost:8080/serverapi/DroneCollection does not return the collection

### Expected Behaviour:
It should return all DroneCollection metadata and members

[2020-09-29 15:33] Mec-iS opened #510 "/serverapi/contexts/EntryPoint.jsonld returns 404"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:
`/serverapi/contexts/EntryPoint.jsonld` should return a JSON-LD object

[2020-09-29 15:35] Mec-iS commented on #494
resources should be addressed (with any CRUD operation) by using the URIs dedicated to the instance of the given type, i.e. `POST /serverapi/Drone/1` or `PUT /serverapi/Drone/100`

[2020-09-29 15:38] chrizandr commented on #494
@Mec-iS this is not related to the resource. This is related to a collection. How do we add and remove objects from custom collections without having to delete and create the entire collection again.

[2020-09-29 15:42] chrizandr commented on #508
This is already done with the entry point object at `http://localhost:8080/serverapi/` it would be wrong to assume that the base URI will not be used for anything else. There may be multiple APIs hosted on the same domain, with possibilities like `http://localhost:8080/api1/` and `http://localhost:8080/api2/` on the same domain. We treat the entry point as the main source to access the API.

[2020-09-29 15:46] Mec-iS commented on #494
@chrizandr by adding to the type that the collection refers to.

If a custom collection that points to a subset of `Drone` objects is created (using a templated that applies a filter), the members of the collection can be added/removed by doing CRUD operations the `Drone` class instances. If I remember well, custom collections are templates that apply some sort of filter, if the newly added instan

[2020-09-29 16:03] chrizandr commented on #494
All collections now contain only links and with the migration to models based on the API documentation rather than general ones, we already have these two cases handled in by the database.

Right now custom collections are basically a set of links. The question here is how to efficiently modify this collection of links. Right now the way it is being done is that if we want to update a collection,

[2020-09-29 16:05] Mec-iS commented on #508
Right, but `/serverapi` is in JSON-LD format, very verbose and hard to use (beside the fact that the IRIs there does not include the domain, see #507). It would be better from a developer experience perspective to have a plain JSON entrypoint as in the example above.

in this case maybe would make more sense to have subdomains like `api1.domain.com`, each of which holds its own hydrus instance. Ha

[2020-09-29 16:11] Mec-iS commented on #494
can you provide a link to the spec?
Once we have templates and filters, what are the use-cases for custom collections?

do you mean this should be implemented in `hydra-pythoin-agent`?

[2020-09-29 16:24] chrizandr commented on #508
It is possible to have the entry point object served at the root domain in that case.

Leaving the API Name variable as blank in hydrus will serve everything at the root domain. In case the variable is not blank, the root of the API becomes `http://localhost:8080/[API Name]/`.

According to the HATEOS explanation.

Incase the API name variable is not blank in hydrus the **initial API URI** would b

[2020-09-29 16:54] chrizandr commented on #494
https://www.hydra-cg.com/spec/latest/core/#collections

The spec defines a collection as

Nowhere in the spec is it mentioned that a collection is limited to only the set of **all** resources in the API. That was a feature that was seen in Markus's API which was used as reference during the initial phase. The spec allows collections to be arbitrary.

This is also highlighted in the example given i

[2020-10-01 06:02] priyanshunayan commented on #501
@raoashish10 Somehow `message_collection` is being added twice [L253](https://github.com/HTTP-APIs/hydrus/blob/master/examples/drones/doc_gen.py#L253) and [L242](https://github.com/HTTP-APIs/hydrus/blob/master/examples/drones/doc_gen.py#L242). So, I think replacing [L242](https://github.com/HTTP-APIs/hydrus/blob/master/examples/drones/doc_gen.py#L242) with `drone_collection` and executing this mod

[2020-10-01 10:30] raoashish10 commented on #501
@priyanshunayan Got it! I'll fix it now

[2020-10-01 10:55] raoashish10 commented on #510
@Mec-iS I tried looking into this bug but I am getting a JSON-LD object. I mean I am not getting a 404 error.

[2020-10-01 11:01] Mec-iS commented on #510
Right. I don't know which problem did not allow my local env to reach it.

[2020-10-01 11:01] #510 closed

[2020-10-01 11:03] chrizandr commented on #509
Could this also be because of a similar problem as #510 .

Can someone confirm if it is working or not?

[2020-10-01 11:14] Mec-iS opened #512 "/serverapi/vocab should allow reaching fragments"
### I'm submitting a
- [x] bug report.

Two different related issues here:

### Current Behaviour:
1. `/serverapi/vocab#Area` returns the full vocabulary.
2. at `http://localhost:8080/serverapi/contexts/EntryPoint.jsonld` see:
[code]

### Expected Behaviour:
1. `/serverapi/vocab#Area` should return the `Area` object (with context) only, not the full vocabulary, i.e.:
[code]

2. ids in `http://loca

[2020-10-01 11:19] priyanshunayan commented on #509
@chrizandr fixed via #511 👍

[2020-10-01 11:25] #501 closed

[2020-10-01 11:26] #509 closed

[2020-10-07 08:11] raoashish10 commented on #512
@Mec-iS I have been trying to work out a solution for this issue but I haven't gotten far. I feel like the issue here is the use of '#'. Maybe the string ahead of serverapi/vocab gets ignored? I tried changing it to a '/' instead in the '@id' key but it gave me an error saying that no such link exists which kind of confuses me because I have provided the link in the '@id' key

[2020-10-07 10:30] Mec-iS commented on #512
the idea is to provide for the JSON-LD a feature that is availalble in HTML pages. For example if you write this link into you browser `https://en.wikipedia.org/wiki/Representational_state_transfer#Layered_system` you are redirected to the paragraph "Layered_system" inside the linked page. The same should happen for the JSON-LD, if a fragment is specified, the server should return only the object

[2020-10-07 14:00] raoashish10 commented on #512
@Mec-iS Understood! I will try implementing it and sending in a PR

[2020-10-08 05:30] raoashish10 commented on #512
@Mec-iS I have been trying to make a decorator which reads the URI but I have come across an issue. I am unable to extract the fragment identifier from the request URI because I think flask just cuts off the string after the hash on the server side.
For eg: ```vocab#Drone``` becomes ```vocab```. After some digging up, I found that the fragment cannot be retrieved on the server side. I think that i

[2020-10-08 07:47] codeboy5 commented on #507
Hey can I take this up ?

[2020-10-08 08:40] Mec-iS commented on #512
Sorry I forgot about this part of [RFC](https://tools.ietf.org/html/rfc3986#section-3.5).
we need to take a look into how RDF servers implement this feature.

@chrizandr @sameshl any observation?

[2020-10-14 20:45] WinstonPais opened #519 "Mistakes in README and a simpler URL implementation"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

Fix mistakes in the README file like the urls and port numbers the port number should be 8080 and not 8000

A simpler implementation of the urls should be preferred. instead of serving at serverapi/ serve at api/

### Expected Behaviour:

A proper README file which can help future contributors understand and sta

[2020-10-16 15:43] #519 closed

[2020-10-16 16:42] sameshl commented on #507
@codeboy5 Yes, go ahead!

[2020-10-16 16:55] codeboy5 commented on #507
Hey can you also tell me which file should i look at to make the required changes ?

[2020-10-20 04:55] farazkhanfk7 commented on #379
@priyanshunayan  @Mec-iS Can I work on this ? I am just starting with hydrus and if you'll allow me should I add a PR to add instructions for setting up a virtual environment before running  `pip3 install -r requirements.txt` and `python3 setup.py install` ?

[2020-10-23 06:48] raoashish10 commented on #507
If this issue is not being worked on and also isn't assigned, I would like to take this up

[2020-10-24 12:08] raoashish10 commented on #507
@Mec-iS Correct me if I am wrong but I think changes should be made in the hydra_python_core repo for this issue because changes are required in the content of the doc that is returned and making changes in the hydra_python_core repo would be much more convenient

[2020-11-04 06:13] harshraj22 opened #523 "Error while installation"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:
Gives error while installing dependencies using `pip3 install -r requirements.txt`

### Expected Behaviour:
clean installation without any issues

### Steps to reproduce:
create a new virtualenv (`virtualenv -p python3 hydra-env`) and activate it, then install dependencies using `pip3 install -r requirements.txt`

[2020-11-04 06:56] harshraj22 commented on #523
ps. similar issue was reported [here](https://github.com/HTTP-APIs/hydrus/issues/379#issuecomment-688452960)

[2020-11-10 02:33] farazkhanfk7 commented on #507
If this issue is not assigned to anyone. Can I work on this ?

[2020-11-10 11:43] Mec-iS commented on #523
which instructions in the README did you follow? Have you tried alternative installation modes?

[2020-11-10 11:44] Mec-iS commented on #523
@priyanshunayan please take a loot when you have time

[2020-11-10 11:58] harshraj22 commented on #523
@Mec-iS  I followed the installation process in README below the [demo](https://github.com/HTTP-APIs/hydrus#demo) header

[2020-11-10 13:30] priyanshunayan commented on #523
@harshraj22 Can you share the python and pip versions you are using?

[2020-11-10 13:33] priyanshunayan opened #526 "Add fields for python and pip versions along with OS details in the issue template."
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

Without knowing exactly the python, pip and OS details, it's very difficult to reproduce the errors.
### Expected Behaviour:

Having them in the issue template will help to reproduce bugs faster.
### Steps to reproduce:

### Do you want to work on this issue?

yes

[2020-11-10 15:54] harshraj22 commented on #523
![hydrous-debug](https://user-images.githubusercontent.com/46635452/98697438-ee025c80-239a-11eb-8e84-3e0cbf9f5d54.png)

@priyanshunayan is this what you asked for ?

[2020-11-11 16:34] priyanshunayan commented on #523
@harshraj22 Unfortunately, I am not able to reproduce this error, despite using the same python and pip version. Is there any specific reason you prefer `virtualenv` instead of  recommended `venv`?

[2020-11-11 17:06] de-sh commented on #379
Hello folks, I have an interesting opinion about this issue, how about we add a static analyzer such as [DeepSource](https://deepsource.io) to the CI?

[2020-11-12 16:41] harshraj22 commented on #523
Nothing specific. Just that I am more comfortable with `virtualenv`. Anyway, I'll try with `venv`.

[2020-11-23 21:30] Purvanshsingh commented on #526
@priyanshunayan Please do review the Pull Request.

[2020-11-24 11:17] priyanshunayan commented on #526
Issue resolved via #529

[2020-11-24 11:17] #526 closed

[2020-11-25 06:06] raoashish10 commented on #508
Are we going ahead with this issue? I am a little confused. If yes, then I would like to take it up

[2020-11-28 15:35] saif007sm commented on #379
i am beginner in the issues can you please suggest me how to get started

[2020-11-28 15:35] saif007sm commented on #379
i am beginner in the issues can you please suggest me how to get started

[2020-12-01 13:02] #523 closed

[2020-12-03 07:19] vasharma05 commented on #523
I also have the same versions and I am also getting the same error, what to do?

[2020-12-03 07:24] harshraj22 commented on #523
@vasharma05 I couldn't get that fixed, so I abandoned the idea of trying it. Probably @priyanshunayan  can help ? Feel free to Reopen this issue in that case.

[2020-12-09 09:40] king-11 opened #530 "Psycopg2 python3.8 compatibility issue"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

pspcopg2==2.7.5 doesn't support python3.8 [Link](https://github.com/archlinux/archweb/issues/259)

### Expected Behaviour:

Dependencies should install smoothly with all versions of python

### Steps to reproduce:

Try installing dependencies with python3.8 either through
[code]
or
[code]

### Do you want to wor

[2020-12-09 11:37] raoashish10 commented on #530
Try using python 3.7. I think the issue is with the psycopg2 module only. Even the docker image is using python 3.7. I believe the maintainers of psycopg2 haven't resolved the issue yet for python 3.8. Not too sure though but I had the same error when I was installing.

[2020-12-09 11:45] king-11 commented on #530
They have resolved the issue actually we have to update the dependency

[2020-12-09 11:47] Mec-iS commented on #530
thanks for finding out. please open a PR

[2020-12-09 14:18] #530 closed

[2020-12-12 09:39] yashkhandelwal05 commented on #508
I want to take it up thus issue?

[2020-12-15 14:00] king-11 opened #532 "Gevent And Greenlet issue on python3.7"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

gevent has binary compatibility issues with python3.7+

### Expected Behaviour:

It will run on python3.7 too without any issues [Reference](https://github.com/gevent/gevent/issues/1260)

### Steps to reproduce:

In python3.7 run
[code]

### Do you want to work on this issue?

yes

[2020-12-15 14:40] king-11 commented on #532
Upgrading gevent to 20.9.0 and greenlet to 0.4.17 makes hydrus work in both py3.7 and 3.8

[2020-12-16 08:50] harshraj22 opened #533 "Enhancing Code: Simple Refactoring."
The code is getting a score of -2.74 out of 10 when using [pylint](https://www.pylint.org/). Attaching the screenshot below.
I would like to improve the score by refactoring the import statements' order.

![a](https://user-images.githubusercontent.com/46635452/102325792-995d8d00-3fa9-11eb-88b9-843c87d27f6e.png)

https://github.com/HTTP-APIs/hydrus/blob/0d1ccaa8fd2512d815f32c627327d0ce4770c220/cli.

[2020-12-16 08:51] #533 closed

[2020-12-16 08:54] harshraj22 opened #534 "Enhancing Code: Simple Refactoring"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:
Works perfectly. Though, results in a score of -2.74 out of 10 when using [pylint](https://www.pylint.org/)

### Expected Behaviour:
Would have a higher score when used pylint. This would ensure code quality is high.

### Screenshots:
![a](https://user-images.githubusercontent.com/46635452/102326312-46d0a080-3faa

[2020-12-17 04:27] king-11 commented on #532
@Mec-iS  @sameshl any reviews on this 😅

[2020-12-17 15:02] harshraj22 commented on #534
@chrizandr should I create a pull request enhancing the code ? Can you assign me this issue ?

[2020-12-17 16:36] chrizandr commented on #534
Pylint has a lot of unnecessary rules that are difficult to maintain. We tried using pylint before but it was too much of a hassle so the idea was left. See #312

[2020-12-17 16:40] harshraj22 commented on #534
Alright :)

[2020-12-17 16:40] #534 closed

[2020-12-24 16:18] sameshl commented on #532
@king-11 You can go ahead and create a PR for this issue :+1:

[2020-12-24 16:35] king-11 opened #535 "DockerFile deprecations"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

Deprecation DockerFile MAINTAINER

### Expected Behaviour:

it was deprecated in favour of MAINTAINER label

### Steps to reproduce:

### Do you want to work on this issue?

yes

[2020-12-24 18:11] Purvanshsingh opened #536 "Adding Snapshot field in ISSUE_TEMPLATE.md"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

We have to reproduce the error described by the user/developer to provide its solution.

### Expected Behaviour:

Having the Screenshot of the error will help us to understand and resolve the error statement quickly.
It will be helpful to the people who are not able to explain the complete error.

### Steps to r

[2020-12-26 07:35] farazkhanfk7 opened #540 "hydrus gives error on using jsonld, yaml as hydradoc format."
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

**hydrus/conf.py**'s function _get_apidoc_path()_ first checks for **APIDOC_REL_PATH** path in environment variables. If apidoc is not present at specified path then it'll use hydra_sample_doc. Currently it gives error if we'll try to run hydrus after specifying the path of jsonld or yaml file in environment var

[2020-12-28 07:23] Purvanshsingh commented on #536
@priyanshunayan Please review the pull request.

[2021-01-06 15:35] koolgax99 commented on #508
Can you please assign this issue to me @Mec-iS

[2021-01-08 09:28] DARKPROGRAMMER16 commented on #379
I am facing up some issue while seeing up hydros. Can anyone help me out with this.

while running the command  - **pip3 install -r requirements.txt**

the error thrown is :

ERROR: Command errored out with exit status 1:
     command: /Users/apple/Desktop/hyd/env1/bin/python3 -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/5l/k69p9lld7xv687yc1tmt18640000gn/T/pip-inst

[2021-01-08 10:58] king-11 commented on #379
@DARKPROGRAMMER16 you are using the dev branch or the master? coz the issue in dev branch is resolved

[2021-01-08 12:38] DARKPROGRAMMER16 commented on #379
dev branch

[2021-01-08 12:40] DARKPROGRAMMER16 commented on #379
@king-11

I am in dev branch

[2021-01-08 12:45] king-11 commented on #379
@DARKPROGRAMMER16 is your error code in any way similar to this https://github.com/psycopg/psycopg2/issues/854#issuecomment-611687343

[2021-01-08 14:23] Mec-iS commented on #379
this content is not related to this issue. For any question, first use Slack and search for past issues or Google. If there is no other reference, open a new issue. Please follow Code Contribution rules.

[2021-01-10 13:17] king-11 commented on #535
closed by #539

[2021-01-10 13:17] #535 closed

[2021-01-10 13:19] king-11 commented on #532
closed by #537

[2021-01-10 13:20] #532 closed

[2021-01-10 13:28] #536 closed

[2021-01-10 13:29] Purvanshsingh commented on #536
resolved by #538

[2021-01-14 08:02] farazkhanfk7 opened #544 "Fix dead code in authentication tests"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

Found a minor issue with some tests in **_test_auth.py_**.
https://github.com/HTTP-APIs/hydrus/blob/e15d18e9f7b535814ef3a2f981be443896206adb/hydrus/tests/functional/test_auth.py#L49-L64

_doc_writer_sample.py_ is used to generate _apidoc_ for test_auth.
The endpoints variable here holds '`@context', '@id', '@typ

[2021-01-14 09:01] Purvanshsingh opened #546 "psycopg2==2.8.6 giving error in installation."
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:
psycopg2==2.8.6 is hydrus dependency giving error on installation.

### Expected Behaviour:

should be updated with stable version according to https://www.psycopg.org/docs/install.html ( psycopg2-binary )

### Steps to reproduce:
pip install -r requirement.txt

### Snapshot:

![Screenshot from 2021-01-14 14-26-2

[2021-01-14 09:24] king-11 commented on #546
@Purvanshsingh are using any virtual environment ?

[2021-01-14 09:26] Purvanshsingh commented on #546
@king-11 yes,
![Screenshot from 2021-01-14 14-56-02](https://user-images.githubusercontent.com/49719371/104571089-b6ed4780-5678-11eb-9d00-9abc3ae771d5.png)

[2021-01-14 09:30] king-11 commented on #546
![Screenshot_20210114_145944](https://user-images.githubusercontent.com/52061363/104571542-38dd7080-5679-11eb-8547-d912c1dac9bc.png)

[2021-01-14 09:31] king-11 commented on #546
if you can try clearing your virtualenv cache and set it up again maybe that can help because with same version the app just works fine and even the build is passing as I said

[2021-01-14 09:38] Purvanshsingh commented on #546
My concern is even if installing `pip install psycopg2==2.8.6` separately giving error can you confirm this?
![Screenshot from 2021-01-14 15-06-50](https://user-images.githubusercontent.com/49719371/104572928-4e9f6580-567a-11eb-90f6-bfcf6d2ce17a.png)

[2021-01-14 09:45] king-11 commented on #546
I can confirm this error didn't error it seems to me you are using anaconda for your virtual environment and there are conflicting binaries due to which the install isn't occurring properly you can set up your virtualenv using poetry too, try that because it is a conflicting binary issue

[2021-01-14 09:49] king-11 commented on #546
![Screenshot_20210114_151836](https://user-images.githubusercontent.com/52061363/104574260-d33eb380-567b-11eb-9750-881bdc4d4995.png)

[2021-01-14 10:05] Purvanshsingh commented on #546
yes, I was using conda virtual environment, Will try it with poetry. thanks :-)

[2021-01-14 11:16] Purvanshsingh commented on #546
@king-11 in your screenshot you have already installed `psycopg2==2.8.6` can please uninstall and install it again?
I think may be the the issue is from their side, I tried with python virtualenv as well still getting the same error.

[2021-01-14 12:02] king-11 commented on #546
![Screenshot_20210114_173015](https://user-images.githubusercontent.com/52061363/104588326-346f8280-568e-11eb-8923-db2dbbcf748b.png)
Actually, my system and the Travis checks are working so there can't be any such issue here. Moreover, I formatted my virtual env and then installed again with the updated upstream seems to work without any issue. So I am not able to replicate your issue right now

[2021-01-14 13:09] sameshl commented on #546
@king-11 So, can you confirm that this is not an issue?

[2021-01-14 13:15] sameshl commented on #544
Great catch @farazkhanfk7! :rocket:
I don't know how I missed that condition while refactoring. :sweat_smile:

[2021-01-14 13:16] king-11 commented on #546
I have tried replicating it my wiping my enviornment but there doesn't seem to be any issue with installation anyway in both python 3.6.12 and above till python 3.8 too

[2021-01-14 14:27] Purvanshsingh commented on #546
Hey, @sameshl I have switched to ubutntu 20.04 so I was setting the working environment again there I faced this issue.
I am not sure but according the screenshot @king-11 send his system is using the cache to install `psycopg2==2.8.6`
due to that it may be working.
![Screenshot from 2021-01-14 19-49-21](https://user-images.githubusercontent.com/49719371/104603128-2166ad80-56a2-11eb-9740-65644c2ff

[2021-01-14 14:35] Purvanshsingh commented on #546
I have solved the issue for ubuntu ( https://stackoverflow.com/questions/11618898/pg-config-executable-not-found ),

`sudo apt-get install libpq-dev`

pg_config is in postgresql-devel (libpq-dev in Debian/Ubuntu, libpq-devel on Centos/Cygwin/Babun.)

[2021-01-14 15:11] king-11 commented on #546
seems like was an os issue instead of dependency one 🤔

[2021-01-14 15:27] Purvanshsingh commented on #546
@king-11, ya I think the same, but its good to know so that if anyone face the issue we can suggest them,
or we can add it in documentation if you are using lunix/ubuntu `libpq-dev` this dependency should install prior.

[2021-01-14 19:14] #546 closed

[2021-01-14 19:15] Mec-iS commented on #546
solved. `psycopg` requires proper system-dependant library. check `psycopg` documentation for details.

[2021-01-14 19:16] #544 closed

[2021-01-14 19:16] Mec-iS commented on #544
merged

[2021-01-14 19:16] Mec-iS commented on #540
this is fixed? please close

[2021-01-15 03:26] farazkhanfk7 commented on #540
hydrus is still gving error when using .yaml files but I think it's because hydra_openapi_parser isn't updated according to changes in hydra_python_core. Some classes are missing parameter names. This can be closed.

[2021-01-15 03:26] #540 closed

[2021-01-17 05:29] raoashish10 opened #548 "IndexError while accessing links in EntryPoint.jsonld"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

This is a minor bug I think. There is an error in the indexing in the helpers.py file

### Current Behaviour:

On clicking the links for classes at the link: ```http://localhost:8080/api/contexts/EntryPoint.jsonld```, an internal error which is an IndexError pops up.
### Expected Behaviour:

There should be no such Internal error.
###

[2021-01-17 06:04] #548 closed

[2021-01-17 06:05] raoashish10 commented on #548
This was a mistake made from my side and hence I have closed this issue

[2021-01-25 12:55] priyanshunayan commented on #507
I am getting the response with missing domain name in the `@id` field when making GET on /<classendpoint>/<id> or on /<collectionendpoint>/id.
Screenshots:
Collection Endpoint:
![image](https://user-images.githubusercontent.com/32892545/105708440-80e27a00-5f3a-11eb-9e3e-8816a994c32a.png)
Class Endpont:
![image](https://user-images.githubusercontent.com/32892545/105708536-9f487580-5f3a-11eb-97e1-92

[2021-01-25 13:06] priyanshunayan opened #549 "Making POST request on class or Collection instance returns Internal Server Error"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

When making a POST or DELETE request to the class instance with a new request body gives an error. But it does update the instance with new values.

### Expected Behaviour:

It should not give the error.

### Steps to reproduce:

1. Start hydrus server (master revision) with this APIDoc: https://gist.github.com/

[2021-01-25 13:07] priyanshunayan commented on #549
It happens with DELETE operation as well.

[2021-01-25 13:44] Mec-iS commented on #549
thanks for the bug report.
just a note to avoid overflow of information: there is no need to paste the entire HTML code, the Python stacktrace and the screenshot are enough.

It seems that the helper is calling from the wrong object when it does `self.server.emit()`. `self.server` is not defined. @sameshl

[2021-01-25 13:53] Mec-iS commented on #507
@priyanshunayan have you dropped and reinstalled the libraries to the the latest versions?

[2021-01-25 15:15] priyanshunayan commented on #507
Yes, I have.

[2021-01-25 19:34] farazkhanfk7 commented on #507
@priyanshunayan  Thanks for catching that. Looks like I missed the part where we I had to add host name in crud.py as well. I'll submit a PR with new changes asap.

[2021-01-28 16:04] Purvanshsingh commented on #549
![Screenshot from 2021-01-28 21-14-56](https://user-images.githubusercontent.com/49719371/106164228-c22f8f80-61af-11eb-8686-8025c7602146.png)
We are directly using `socketio` instead of using `create_socket` method from **socketio_factory.py**,
by default, the value of self.server is None that's why we are getting this error in POST & DELETE operation.
I will create the PR of the fix.

[2021-01-28 19:19] farazkhanfk7 commented on #549
I don't think we need any fix for this. Can you please confirm that you're using `socketio.run(app, port=port)` to run the server in your python file ?
Hydrus runs the server using cli.py. I tried it after changing apidoc_path to sample Movie apidoc's path in conf.py and it works fine with classes. Tried making POST request to update Collections and it simply returns a 405 status code (Method not

[2021-01-28 19:50] Purvanshsingh commented on #549
![Screenshot from 2021-01-29 01-17-06](https://user-images.githubusercontent.com/49719371/106190710-0894e680-61d0-11eb-8bdd-96bf539ed11c.png)

[2021-01-28 20:14] farazkhanfk7 commented on #549
I think you should use create_socket that takes an instance of app and session like `socketio = create_socket(app, session)`
See if this could solve the issue : https://gist.github.com/farazkhanfk7/d2a932c85f952739671a9d4fda60c5da
This should work.

[2021-01-29 03:07] raoashish10 opened #551 "Sphinx Documentation folder must be added"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

Currently the sphinx documentation of the hydrus module is in another repository. The documentation has a requirement that it needs to be placed in the hydrus repo and that can only be done locally. Since we are updating the docs, the documentation folder can be added in this repository so that the readthedocs p

[2021-01-30 21:54] farazkhanfk7 opened #553 "Add support to get/update/delete members of a collection."
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

Currently, there is no API endpoint to get,update or delete members from a Collection. To delete a single object(member) from a Collection we'll have to make a POST request to `<collection_endpoint>/<collection_id>` with whole updated Collection.
### Expected Behaviour:

To make this process easier, we can add a

[2021-02-01 11:08] Asmi8 commented on #508
Is the entry point object possible in the root domain?

[2021-02-07 09:51] Asmi8 commented on #167
Why are batch endpoints useful? How can we add them to the existing REST API?

[2021-02-09 17:54] farazkhanfk7 opened #555 "Avoid insertion of duplicate members in a collection"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

Currently, a member with the same ID can be added multiple times in the same collection.
### Expected Behaviour:

Member ID in Collection database table should be unique and hydrus should raise and handle the integrity error everytime an object with existing ID is inserted in a collection. A response with 400 (B

[2021-02-11 12:52] Mec-iS commented on #553
#555 #556

[2021-02-20 20:55] khabdrick commented on #507
This issue is showing open, is it actually open @Mec-iS

[2021-02-21 11:23] #507 closed

[2021-02-21 20:11] Purvanshsingh commented on #549
@priyanshunayan this issue is still open, resolved with #552

[2021-02-21 20:13] Purvanshsingh commented on #504
@sameshl this issue is still showing open, resolved with #516

[2021-02-22 10:11] b-thebest commented on #553
This issue is still open?

[2021-02-22 10:13] b-thebest commented on #555
This issue is still active?

[2021-02-22 23:17] khabdrick commented on #356
Hello @xadahiya  is this issue still open?

[2021-02-27 18:17] Purvanshsingh opened #559 "Adding python 3.8 to Travis"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

Currently, we have python 3.6 & 3.7 version in travis.yml

### Expected Behaviour:

Adding python 3.8 to Travis

### Steps to reproduce:

### Snapshot:

### Environment:

* python version
* pip version
* OS details

### Do you want to work on this issue?

yes

[2021-03-01 06:25] sajen-k commented on #356
is this open ?

[2021-03-01 10:21] #356 closed

[2021-03-13 13:32] Purvanshsingh commented on #559
Fixed by #560

[2021-03-13 13:32] #559 closed, assigned to nobody

[2021-03-13 14:05] Mec-iS commented on #555
we have to work out #554

[2021-03-13 14:06] #549 closed

[2021-03-22 07:07] aryanag1971 commented on #512
can I work on this issue?

[2021-04-13 08:51] Purvanshsingh opened #566 "Updating Default API_Doc to movie_api_doc"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

Currently, hydrus serves the Drone_api_doc as the default APIDoc.

### Expected Behaviour:

As per our new documentation, we are using movie_api_doc to illustrate the [creation of APIDoc](https://github.com/HTTP-APIs/docs/pull/4) it is simpler and easy to understand, so it should be served as the default APIDoc.

[2021-04-20 15:11] Mec-iS opened #568 "Bump up versions of PyYAML and Jinja2"
### I'm submitting a
- [x] bug report.

### Current Behaviour:
We have on github two moderate security alerts for two libraries in requirements: PyYAML and Jinja2

### Expected Behaviour:
versions should be updated using Poetry to avoid conflicts and then the new complatible version added also to requirements.

[2021-04-20 15:12] Mec-iS commented on #568
#564

[2021-04-20 15:31] #568 closed, assigned to nobody

[2021-04-20 15:38] Mec-iS commented on #494
#554 will be merged soon

[2021-05-04 15:20] farazkhanfk7 commented on #555
Fixed with #556 .Can be closed.

[2021-05-04 15:20] #555 closed

[2021-05-06 06:02] Purvanshsingh opened #570 "Serving the API on the Root_path"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

we know that currently, we get a 404 at the root path (`http://localhost:8080/`).
### Expected Behaviour:

As discussed in #508, It is possible to have the entry point object served at the root domain.
But it should also be served at root_path even if the api_name is given.

### Do you want to work on this issue

[2021-05-07 12:07] #570 closed, assigned to nobody

[2021-05-10 13:22] Purvanshsingh commented on #508
Fixed with #571 can be closed.

[2021-05-12 06:34] Purvanshsingh opened #572 "Adding detailed logging to hydrus"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

Currently, we don't have any detailed logging system for hydrus. No logs are being generated.
### Expected Behaviour:

We can generate the log files which could help the users for getting the `Object_id` for any future manipulation
and developers for debugging faster.

We will have a separate log folder that wil

[2021-05-12 13:45] farazkhanfk7 opened #573 "Add IRIs for created objects in response for POST and PUT request."
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

After discussion on slack group we realised that some more details can be added in the response that is returned after a new object is created or updated using PUT/POST request. Currently, the response is in this format:
[code]
We can add full IRIs for the created object as well, which will make it easier to ref

[2021-05-12 16:51] priyanshunayan commented on #573
@farazkhanfk7 Why are we using `iri` keyword instead of `@id` keyword? To me using `iri` seems opinionated.
Also according to the JSON-LD docs:

[2021-05-12 17:04] farazkhanfk7 commented on #573
@priyanshunayan  Yes, I had the same thing in mind at first as we also have `@id` in HydraStatus class in core repo. It's just that we're not using it yet. But I changed it to `iri` as suggested by @Mec-iS on slack, so that we can use it for id of created or updated objects.

 [See Conversation](https://hydraecosystem.slack.com/archives/CMR0C8WJ3/p1620824808029900?thread_ts=1620730942.023500&cid=C

[2021-05-12 17:08] Mec-iS commented on #573
As already mentioned, `@id` in a response status payload is the URI to the actual status response schema.

If we want to add the id of the created object we need to supply an additional property; as discussed this property (for example `"uris"` or `"iris"`) should provide a list of created objects.

Please remember that `"@id"` is one of the special-purpose property in Hydra as it is part of the s

[2021-05-12 17:19] priyanshunayan commented on #573
Makes sense. Thanks, @Mec-iS

Was there any specific reason that we chose to return the status in the response rather than the created object itself? While I was going through the cookbook I noticed the expected response from the API contained the newly created object itself-  https://github.com/HydraCG/cookbook/blob/master/movies/create-movie.md
We are anyways sending the status code in headers a

[2021-05-12 17:24] priyanshunayan commented on #572
@Purvanshsingh While we are implementing detailed logging in hydrus could you please help me in understanding these things:
1. How did we decide the format of the log file? What if we might want to search for all the errors that might have been logged in a day, how can we do that? Can we programmatically parse log files?
2. How are we making sure no sensitive information is being stored in the log

[2021-05-12 17:31] farazkhanfk7 commented on #573
This is actually interesting, they're returning the object itself in the response. But should we do that instead of `@type` : `Status` ? and what should be returned in case of hydra: Collection ?

[2021-05-12 17:42] Mec-iS commented on #573
this is something @sameshl and @chrizandr can answer as it is a hydrus design choice

[EDIT]
btw returning the full created object or objects would be unjustified in terms of cost (bandwidth), the client already knows which data it submitted. Again PUT response should not have a body according to RFC 7231 section 4.3.4

[EDIT]
Plus, the objective of Hydra is mainly to be a "semantic layer" on top

[2021-05-12 17:59] Purvanshsingh commented on #572
@priyanshunayan I am thinking to make logging in 2 parts:
1. Functionality logging.
2. Resource logging (Object_Iri)

The objective of the **functionality logging** is faster debugging, we will have our customized messages throughout the hydrus code flow.
Suppose a user raises an issue that he is not able to run the command `hydrus serve` we can ask him to share his log file to get a detailed idea

[2021-05-12 18:02] Mec-iS commented on #572
If you need a reference for logging, please check [structlog](https://www.structlog.org/en/stable/). We may want to use it organisation-wide.

It has the same API as standard Python `logging`, but allows many more features and having much more structured logs.

[2021-05-12 18:04] priyanshunayan commented on #573
@Mec-iS The client does not at which location the data was stored.

According to this RFC: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.2.2, when 201 status code is returned:

[2021-05-12 18:08] Purvanshsingh commented on #572
Sure I'll go through it, I was thinking to make a file `hydrus_logger.py` which initiates all these files and the logger object.
So the workflow and code will modular and clean.

[2021-05-12 18:13] Mec-iS commented on #573
@priyanshunayan

I was replying to this question above, not about the feature proposed in the issue; Please read more carefully next time.

that is implied in what I wrote in the [Slack discussion before the PR was open](https://hydraecosystem.slack.com/archives/CMR0C8WJ3/p1620730942023500).

[2021-05-14 11:57] #573 closed, assigned to nobody

[2021-05-14 12:14] Purvanshsingh commented on #572
@Mec-iS I have gone through [stuctlog](https://www.structlog.org/en/stable/getting-started.html) and tested it,
 its basically a kind of wrapper over logging module. I think it will help us in formatting the logs, good to go with it.

My approach is to create `hydrus_logger.py`
which can be used in `app.py`
`from hydrus_logger import logger`
then the object can be passed to the required modules.

[2021-05-14 12:25] Mec-iS commented on #572
Yes, but the formatting of the logs has to be studied in advance to provide the best possible information with the purpose of doing monitoring and performance analysis. So some research in advance is needed to define objectives of logging (for a general overview of what monitoring can be used for, see [this post](https://christophergs.com/machine%20learning/2020/03/14/how-to-monitor-machine-learni

[2021-05-14 14:45] Purvanshsingh commented on #572
I am confused with which format we should use, while researching on this I found [W3C Extended log File Format](https://www.w3.org/TR/WD-logfile.html)

example :
[code]
But I think this not the detailed looging we are looking for. We will add all requests has been made to the server but probably we are looking more of the **functional looging**.
Because the main purpose for looging hydrus is to ch

[2021-05-14 14:59] Mec-iS commented on #572
first of all we need to establish an id for each request and assign the [request an unique id (like a uuid)](http://blog.mcpolemic.com/2016/01/18/adding-request-ids-to-flask.html). you can do this by using the `before_request` and `after_request`; this should be present in each log line together with timestamp and HTTP method used and uri.

note: be sure that the log level is read from an environm

[2021-05-14 15:40] farazkhanfk7 commented on #572
Using `before_request` decorator is actually a good idea. We can use it to decorate functions that will save the resource URL and the request method in the resource.log file along with the timestamp and a job_id.

Apart from the logging approach that we're considering - We can also use the existing `modification` table in the database file to keep track of all requests made to any resource. It wil

[2021-05-14 15:47] Mec-iS commented on #572
Logs should not be stored in the database. they should have their own stash; in the beginning it is usually files in the filesystem but connectors should be considered to cloud installations. This is part of the environment setup. Storing in the database will just make the instance bloathed.

In the overall architecture, modifications in the data for the purpose of synchronisation should not be st

[2021-05-14 15:59] farazkhanfk7 commented on #572
Yeah sounds more appropriate. Does that mean we should consider removing the code in crud operations where we are currently saving the modifications and record of POST and DELETE request in the database ?

In that case, we can create decorators and functions to create a unique job_id for every request to save it in resource.log file along with all other details. I'll look into structlog examples a

[2021-05-14 16:47] Purvanshsingh commented on #572
So these job_Ids will help us to track previous manipulations made on that object, right?
I have gone through the structlog examples and started working by taking their reference.

Basically the format should be:
`TimeStamp : job_Id  Method/uri`

[2021-05-21 12:14] #572 closed, assigned to nobody

[2021-05-24 15:54] #512 closed

[2021-05-24 15:55] #508 closed

[2021-05-24 15:55] #379 closed

[2021-05-24 15:56] Mec-iS commented on #372
moved to #577 and close.

[2021-05-24 15:56] #372 closed

[2021-05-25 08:22] Purvanshsingh commented on #167
@Mec-iS Before working on this issue should we set up a Database `Config_file` and `db_parser.py` for hydrus in a separate PR.
The workflow will be easier and more manipulation can be done with the database as we will have a unified method to connect the DB.

[code]

[2021-05-25 08:37] Mec-iS commented on #167
Everything about the code is in the code. For now we only use file database as SQLite. Ask your colleagues in Slack for generic directions.

[2021-06-09 13:53] farazkhanfk7 opened #579 "Create new endpoints to delete multiple members from a Collection"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

To make it easier for a user to delete multiple members from a Collection we can add an
endpoint that would allow us to do this. Currently, we do have endpoints to insert multiple
objects or even delete multiple objects by making a single request to a Class endpoint, but
no such endpoint is there for Collections

[2021-06-11 15:26] #494 closed

[2021-06-11 15:31] Mec-iS opened #581 "Define and implement a way to set right column types when auto-generating the database"
### I'm submitting a
- [x ] feature request.

### Current Behaviour:
All database columns are set to `db.String` as Hydra do not require specifying the type of variable for a filed

### Expected Behaviour:
Database columns should be created with `dbString`, `db.Integer` or `db.Float` according to types defined in the ApiDoc or Ontology via properties like `"@type": " "xsd:decimal"` as discussed in

[2021-06-11 15:54] Purvanshsingh commented on #581
I think while creating supported properties in API_doc via `doc_writer.py` we should provide an option to the user to mention the property type. which could be passed to `db_models.py` and appropriate columns can be created.
@farazkhanfk7 what are your views on it?

[2021-06-11 16:00] Mec-iS commented on #581
if the property is present in the original ontology, we just copy them in the ApiDoc (to be done in `hydra-python-core`) and then in `hydrus` make [this function](https://github.com/HTTP-APIs/hydrus/blob/develop/hydrus/data/db_models.py#L144) to consider the copied value to create the column.

I open the related issue in `hydra-python-doc`.

[2021-06-11 16:03] Purvanshsingh commented on #581
But I have a concern about how we will be able to fetch type from such URIs ( https://schema.org/name )

[2021-06-11 16:27] Mec-iS opened #583 "Move all synchronisation functionalities into an extensions module, so to be optional"
### I'm submitting a
- [x] feature request.

### Current Behaviour:
Socket functionalities automatically run when hydrus is started so it is ready for connections from the agent. Socket is readyed and all the helpers implement a synchronisation call on the socket to communicate with an agent.

### Expected Behaviour:
* hydrus should be started as "stand-alone" by default, support for the sync mech

[2021-06-11 16:33] sameshl commented on #583
Great, that you created this issue @Mec-iS. This decoupling was really needed in `hydrus`.

[2021-06-11 16:35] Mec-iS commented on #581
https://schema.org/name is a label/name so by definition is a String

[2021-06-11 16:40] sameshl commented on #581
@Mec-iS Have you thought about how we are going to map `properties` in the api_doc to the type of column(`db.String`, `db.Integer` or `db.Float`) we need?

[2021-06-11 17:01] Mec-iS commented on #581
as I mentioned we are going to copy them from the original ontology to the ApiDoc and then read them from the ApiDoc in hydrus when the tables are generated.

[2021-06-11 17:51] Mec-iS commented on #572
UPDATE ON THIS: those are the messages sent through the socket every time a change happens in the data. it is part of the hydrus-agent synchronisation mechanism.
Leave it there like this for now. In theory they should be stored in a kind of DAG with checksums, so to allow server and agent to compare their modifications history. But it is work for another time.

[2021-06-12 07:55] farazkhanfk7 opened #586 "Add tests for PUT/DELETE request for multiple Class objects in test_app.py"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

Currently, we don’t have any tests for PUT/DELETE request for multiple Class objects in test_app.py.
We do have some tests in test_crud.py, but we’re directly using functions from crud.py to
test the behaviour and not making requests to the endpoints to check status codes.

### Expected Behaviour:

We can add so

[2021-06-13 12:34] #579 closed, assigned to nobody

[2021-06-15 11:45] chrizandr commented on #583
I agree, we want hydrus to be able to work without sync as well. Agent works right now without sync, this could be added here in a similar way

[2021-06-15 11:50] chrizandr commented on #581
Is there any use for us to store them as integer or floats when all hydrus is doing is serving the data?

We do not process the data in any form, just store and serve it when needed. I agree that it makes more sense, but the reason we avoided that is because there are multiple numerical datatypes in different Ontologies, and it would be difficult for us to map all of them. For example, apart from

[2021-06-15 12:41] Mec-iS commented on #581
There are major cons:
* it is against best practices to not respect types in an SQL database and it is a huge waste of memory. It is against the basics of database normalisation.
* JSON standard supports the types int and float, and therefore they must be represented with the right type. It would be basically misusing serialisation.
* payloads that deliver numbers as strings break conventions with

[2021-06-15 12:50] open-risk commented on #581
The graphql api approach to data types could be a [good guide](https://graphql.org/graphql-js/basic-types/)

[2021-06-15 17:14] chrizandr commented on #581
Right now, hydrus assumes that every property is either a string literal or a URI pointing to a resource. In both cases, they are stored as strings in the database. So for example if we have a property for `temperature` that is supposed to have a number, hydrus doesn't check if the value sent to it is a number or not. It will store a URI if we send a URI in that field.

When creating the tables in

[2021-06-15 18:01] Mec-iS opened #587 "Change GET PUT POST DELETE requests format for collections"
### I'm submitting a
[x] bug report.

### Current Behaviour:
As discussed in the confcall, the current API semantics for operations on collections is far from being conventional:
[code]
Two major points:
* there is the repetition of "delete" in the uri
* multiple ids are listed with commas in the path

### Expected Behaviour:
The correct semantics should be
[code]
The operation method should be on

[2021-06-15 18:37] Mec-iS opened #588 "Optimise filtered resource query"
This code contains a nested `for` and runs filtering operations at the Python level:
https://github.com/HTTP-APIs/hydrus/blob/34c909e26e58bf2aee279391c7560d8536ff9f91/hydrus/data/resource_based_classes.py#L311
We should look into it and refactor it so to move the operations at the database level via proper joining and where clauses.

[2021-06-15 18:45] Mec-iS commented on #551
Good idea but as the API is not stable yet, it would not be very helpful for now.
Closing it and maybe reopening after hydrus version 1.0

[2021-06-15 18:45] #551 closed

[2021-06-15 18:45] #504 closed

[2021-06-15 18:55] Mec-iS opened #589 "Add to the documentation how to handle ApiDoc/schema changes"
### I'm submitting a
- [X] feature request.

### Current Behaviour:
We have `alembic` installed but there is no mention in the documentation about how to create the first migration nor an automatic mechanism todo migration when the ApiDoc changes.

### Expected Behaviour:
When the hydrus instance is run for the first time, a migration file should be created with the initial database schema. Every

[2021-06-15 18:56] Mec-iS commented on #588
the code loops thorugh parameters to build the query, not on actual database rows. So it is ok.

[2021-06-15 18:56] #588 closed, assigned to nobody

[2021-06-19 06:01] chrizandr commented on #587
Just a quick note, I would suggest we use `members` as the parameter instead of `instances`. Members is the name given to items in the collection, so that seems more appropriate.

[2021-06-21 19:43] #587 closed, assigned to farazkhanfk7

[2021-06-23 10:50] farazkhanfk7 opened #592 "Foreign key relationship between Collection and managed Class"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

Presently, if an object is deleted from a Class it would still be there in the collection table in database( if it was previously inserted in a Collection that directly manages that Class). In such case, a GET response from Collection endpoint will show the member available in the database but will throw an Inst

[2021-06-25 15:49] #586 closed, assigned to nobody

[2021-06-25 17:34] #592 closed, assigned to nobody

[2021-07-03 11:04] Mec-iS commented on #581
implementation in core: https://github.com/HTTP-APIs/hydra-python-core/pull/91

[2021-07-03 14:57] #581 closed, assigned to nobody

[2021-07-06 14:34] chrizandr opened #595 "Matching done in db_models for datatype needs to be stricter."
### I'm submitting a
- [ ] bug report.
- [ x] feature request.

### Current Behaviour:

Right now, the matching for datatype in db_models.py uses a split and just checks if the ending of the URI is integer. This needs to be made stricter so that we only match "https://www.w3.org/TR/xmlschema-2/#integer" or "https://www.w3.org/TR/xmlschema-2/#float". Right now we will also match "https://myserver.c

[2021-07-06 14:38] chrizandr opened #596 "Tests for column datatypes in DB Models"
### I'm submitting a
- [ ] bug report.
- [ x] feature request.

### Current Behaviour:

Tests need to be added for the database built by the DB Model and check if the column types match based on the API Documentation. We should note here that we only match `xsd:integer/float`, all others should be varchar.
### Expected Behaviour:

### Steps to reproduce:

### Snapshot:

### Environment:

* python

[2021-07-07 13:24] farazkhanfk7 commented on #596
@chrizandr  The docs that we're currently using for tests don't have any supported property with range `xsd:integer or float` . But still to test the behaviour I've made changes in `gen_dummy_object` function in conftest.py ( commit dc5f7c2a ) to make sure that a random integer/float is returned if Column type in database is integer/float. This behavior is being tested throughout test cases as we'

[2021-07-08 09:42] farazkhanfk7 commented on #595
Can't figure out how we are going to match the whole string `https://www.w3.org/TR/xmlschema-2/#integer` in hydrus . Obviously we can't hardcode these things or get it from context to check it with multiple if conditions. To fix this I think we can make a change in hydra-python-core which will allow users to add range like :
[code]
Later we'll add this in supported property's dict as `"range": "xs

[2021-07-09 07:38] chrizandr commented on #596
Ideally it should be a test to see if xsd:float is given in the documentation, then is the column for that property created with the correct datatype or not.

I noticed that we don't have any properties in the current API documentation, let's leave this for now till we have a better API doc to test

[2021-07-09 07:40] chrizandr commented on #595
Yes this is why I created both issues together. Your approach is what I had in mind as well.

[2021-07-23 10:57] farazkhanfk7 opened #598 "Add support for datetime column in hydrus"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

Presently, we can create columns in database for only integer, float, string datatypes in database.
### Expected Behaviour:

A user should be able to specify datatype like `"xsd:dateTime"` while creating API doc. Database columns should be created accordingly. Ref  : https://www.w3.org/TR/xmlschema-2/#dateTime

[2021-07-26 11:03] Mec-iS opened #600 "Coverage of logging is poor"
### I'm submitting a
- [x] feature request.

### Current Behaviour:
Logging is only present in `app.py`.
Logging is seldommly used. For example in the case of `delete_collection_member`:
[code]

### Expected Behaviour:
The function above issues a rollback without logging. Rolling back operations are importanto to highlight for maintance reason, so it should look like:
[code]
It would be nice to ta

[2021-07-26 11:15] farazkhanfk7 commented on #600
I think @Purvanshsingh was working on this. But later it was removed. Do we have to add it again ?

[2021-07-26 11:17] Mec-iS commented on #600
Yes let's keep this with low priority. Logging is fundamental for proper maintenance.

[2021-07-27 17:02] #598 closed, assigned to nobody

[2021-07-27 17:04] Mec-iS commented on #595
merged in #599

[2021-07-27 17:04] #595 closed, assigned to nobody

[2021-08-14 17:07] farazkhanfk7 opened #602 "Host domain is hardcoded to "localhost". Doesn't change after changing hydrus_server_url in deployment"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

I was trying to deploy the docker-container after changing the hydrus_server_url and found a possible bug, which wasn't allowing us to change it to something else other than `"localhost:{PORT}"`.  In _hydrus/conf.py_ it was hardcoded to `"localhost"`.
Didn't caught this issue before because we were always using

[2021-08-27 13:26] #602 closed, assigned to nobody

[2021-11-03 07:48] Vyvy-vi commented on #167
Is anyone working on this, at the moment?

[2021-11-09 13:47] Akash-Kumar-Sen commented on #589
I want to work on this issue!

[2021-11-09 13:48] Akash-Kumar-Sen commented on #167
I want to work on this issue!

[2022-01-18 13:54] kunatastic commented on #600
Is this issue still unfixed?? If so can I work on this?

[2022-01-23 21:17] Dhairya3124 opened #605 "AttributeError while running setup.py"
### I'm submitting a
- [ x] bug report.
- [ ] feature request.

### Current Behaviour:

While running the setup.py file I'm encountering this error:
![image](https://user-images.githubusercontent.com/31827131/150698156-1a2b30b2-7ffc-4b32-86f2-aa2239f990bf.png)
OS: Ubuntu 20.04 LTS
Python Version: Python 3.8

### Environment:
OS: Ubuntu 20.04 LTS
Python Version: Python 3.8

### Do you want to work

[2022-01-24 04:16] Mec-iS commented on #605
have you run `pip install --upgrade pip setuptools`? pip should be always at the latest version

[2022-01-24 05:04] Dhairya3124 commented on #605
Yes this resolved the problem. Thanks

[2022-01-26 10:07] Krish-bhardwaj opened #607 "Update Readme.md"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:
Currently Readme has some grammatical error and some less reference

### Expected Behaviour:
Update readme.md file which will help new contributors to contribute easily

### Environment:
* python version 3.9.1
* pip version 3
* OS details Linux

### Do you want to work on this issue?
**yes**

Hi i am new to open

[2022-01-26 10:12] Krish-bhardwaj commented on #607
@Mec-iS @xadahiya @nekiter @chrizandr  please can u have a look to my contribution and merge  it with main branch

[2022-01-27 04:02] #605 closed, assigned to nobody

[2022-01-28 05:29] redlif345 opened #609 "Error when trying to install"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

### Expected Behaviour:

### Steps to reproduce:

### Snapshot:

![issue](https://user-images.githubusercontent.com/92918806/151492440-d7f00c49-253c-4e96-a9c7-e02ac1fd33bd.png)

### Environment:

* python version
* pip version
* OS details

### Do you want to work on this issue?

[2022-01-28 18:12] Mec-iS commented on #609
please upgrade your `pip` and `setuptools` to the latest version

[2022-01-28 18:12] #609 closed, assigned to nobody

[2022-01-28 18:16] Mec-iS commented on #607
I don't see any change in the PR since my last comment

[2022-01-29 03:07] redlif345 commented on #609
okk thank you

[2022-02-04 04:19] Krish-bhardwaj commented on #589
Hi can you specify clearly what we have to do i'll  add this to my current PR

[2022-02-04 09:33] Mec-iS commented on #589
it is not advisable to provide different feature in the same PR, please open another one.

Are you familiar with `alembic` and database schemas?

[2022-02-09 17:35] Wansh619 commented on #589
Hi i am new to this open source stuff can i get assign for this issue ?
Can you please tell me what I have to learn for solving this issue?

[2022-02-09 17:41] Mec-iS commented on #589
@Wansh619 https://www.hydraecosystem.org/Starting-Material

[2022-02-09 17:48] Wansh619 commented on #589
Thank and if i need more resources i will tell you.

[2022-02-19 21:07] vrutik2809 opened #610 "Typo in `demo.py` file"
### I'm submitting a
- [x] bug report.

### Current Behaviour:
While executing the [demo.py](https://github.com/HTTP-APIs/hydrus/blob/develop/examples/hydrus-demo-server/demo.py) file, it throws the following error: `from gevent.wsgi import WSGIServer
ModuleNotFoundError: No module named 'gevent.wsgi'`

### Expected Behaviour:
The server should start running

### Steps to reproduce:
Run the [demo.

[2022-02-20 00:28] Mec-iS commented on #610
which way you installed? did you use `poetry install`?

[2022-02-20 09:09] vrutik2809 commented on #610
No. I simply did `pip install -r requirements.txt`

[2022-02-23 14:05] vrutik2809 opened #612 "Issue in python version > 3.9"
### I'm submitting a
- [x] bug report.

### Current Behaviour:
While installing dependencies using `pip install -r requirements.txt` (python version > 3.9), I am encountering the following error:
`Building wheel for greenlet (setup.py) ... error`
`error: subprocess-exited-with-error`
The reason for this is mentioned in this [issue](https://github.com/python-greenlet/greenlet/issues/275)

### Expec

[2022-02-24 04:18] arneja-arnav commented on #589
Hey. has this issue been resolved?
Would love to work on it

[2022-02-24 19:46] vrutik2809 opened #613 "Server is not listening to expected `PORT` and `API_NAME`"
### I'm submitting a
- [x] bug report.

### Current Behaviour:

While exploring [app.py](https://github.com/HTTP-APIs/hydrus/blob/develop/hydrus/app.py) and [conf.py](https://github.com/HTTP-APIs/hydrus/blob/develop/hydrus/conf.py), I observed that even if I pass a different `port` or `api-name` in`conf.py`  it still listen to  `base-url & api-name` provided while making documentation using `doc.w

[2022-02-25 05:37] adi611 opened #614 "`hydrus serve` gives error"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

`hydrus serve` gives error `hydrus: no such file or directory`

### Expected Behaviour:

After `hydrus serve` we should have a demo up and running on http://localhost:8080/serverapi/

### Steps to reproduce:

Follow the instructions to run a demo for hydrus using the sample API, and after running `hydrus serve`

[2022-02-25 10:41] #610 closed, assigned to nobody

[2022-02-25 10:42] Mec-iS commented on #613
Please close if fixed by merge.

Thanks, good one!

[2022-02-25 10:44] #614 closed, assigned to nobody