[2016-12-16 11:33] Mec-iS opened #1 "Define an HYDRA-featured response template for aastronomy collection"
We need a template to wrap the data into a well-formed JSON-LD

[2016-12-16 13:06] #1 closed

[2017-02-10 11:56] Mec-iS opened #2 "General Starting Introduction To The Project"
As the first students expressed interest in the project, I write here some more insights about the things at this very early stage.

​The​ objective for this project is to create a demo Web API ​implementing the [HYDRA draft](http://www.hydra-cg.com/spec/latest/core/), that is a​n RDF-based​ framework. The entities defined in the specs are meant to describe the structure and usage of a generic Web

[2017-02-10 15:34] chrizandr commented on #2
If I may, I would recommend using rdflib, there is also Apache Jena which is good, however they do not provide a Python API. Rdflib has a learning curve, but all in all it is much more powerful than any other tools that I have used.
For the stack as well, would it be good to use Django? It is pretty robust and would help people focus more on the actual aim of the project rather than on the intrica

[2017-02-11 02:14] kkoci commented on #2
There is a cool graph database engine called OrientDB [https://github.com/orientechnologies/orientdb](url) They also have a python client though

[2017-02-13 11:18] Mec-iS opened #3 "A Starting Design for the Endpoints"
This is a more general overlook about the API's endpoints. The implementation described here is the application of the use-case no.2 described [here](https://github.com/HTTP-APIs/hydrus/issues/2#issue-206778515) in issue #2 .

For the use-case no.2, the demo API we are going to develop is about Commercial Off The Shelves (COTS) spare parts for pico- and nano-satellites. Has been a recent trend in

[2017-02-23 11:40] pchampin commented on #2
A few comments about https://github.com/pchampin/hydra-py​
@Mec-iS it is a *client* implementation, not a server implementation
@chrizandr it *is* based on rdflib

[2017-02-23 12:14] chrizandr commented on #2
@Mec-iS suggeseted that I post this here for better feedback

I have been going through the Hydra Proposal for the last couple of days and have been trying to understand what both Hydrus and Hydra is.

Here is all that I have understood:

Hydra is an XML namespace that uses RDF and provides tags to define Linked Data in a Graph Database. Hydra also allows us to define API Documentation along with

[2017-02-23 12:57] chrizandr opened #4 "Choosing a framework for backend/server"
To the best of my knowledge, here are some of the key factors I think you should considered while reviewing python based web frameworks:

- Framework Architectures
- Community Support
- Supported Tools
- Robustness and Scalability
- Flexibility
- Learning curve

The three frameworks that are most used out there would definitely be **Django**, **Pyramid** and **Flask**
I would like for everyones op

[2017-02-24 09:55] pchampin commented on #2
@chrizandr, you wrote

that's not stricly correct, as Hydra has no (direct) relation to XML. Hydra is a vocabulary, i.e. a set of IRIs (in RDF/Linked Data, we use IRIs to identify any thing of interest: classes, attributes and relations, instances, datatypes...).

More generally, Hydra describes the available HTTP operations and what they mean/do. Dereferencing a hyperlink is just one particular H

[2017-02-24 10:20] Mec-iS commented on #2
@chrizandr

There are different possible designs that I am proposing. I would like to discuss with you all students and mentors which one is the most interesting and viable:
1. (Astronomy-based) the one you have written about is an idea coming form the quite recent development brought by planetary science about exoplanets. If you have a list of star systems with some planets observed, you can have

[2017-02-24 10:21] pchampin opened #5 "Independent server and client"
In #2, @Mec-iS wrote

I think we *must* insist on developing the client and server as independently as possible. Ideally, different people would work on each part. If we end up with tightly coupled client and server, we will fail to demonstrate the value of Hydra.

[2017-02-24 10:29] pchampin commented on #4
I'm not an expert in any of those frameworks, but I know a little about Django and Flask, and a very little about Pyramid. From this little I know, I tend to agree with the points in your bullet list.

I'm not sure I agree with your conclusion, though... In my view, this is an experimental project, the primary goal of which being to demonstrate what Hydra can do that other approaches can not (or n

[2017-02-24 10:33] pchampin commented on #3
\<nitpicking>
creating a new object whould be either
* ``POST /api/cots/``
or
* ``PUT /api/cots/<id>`` (with a fresh id)
\</nitpicking>

[2017-02-24 10:33] Mec-iS commented on #5
@pchampin Yeah, that is the idea. I started from a functional approach, so ideally even single features/functions of each of them (server and client) can be though as independent (different midllewares in the same server/pipe). The idea was to have a distributed architecture of different services using queueing and/or multistreaming. Let's strike the right balance for integration.

For the server

[2017-02-24 10:37] Mec-iS commented on #3
@pchampin I am opinionated in using `PUT` (:
In term of fluency `POST` always sounds very generic to me compared to `PATCH`.
But for sure we can implement both.

[2017-02-24 10:41] Mec-iS commented on #4
@chrizandr I vote for Flask, that is the most flexible and lightweight.

[2017-02-24 10:44] chrizandr commented on #4
Well I too had a little predisposition that Flask might be the favoured framework. The reason I suggested Django was looking from a future work point of view.
If the project is only intended for demo/experiment purposes, then I too will be voting for Flask.

[2017-02-24 11:33] Mec-iS commented on #2
@chrizandr

Keep studying the spec and asking questions (here or writing to the [public HYDRA list](public-hydra@w3.org) introducing yourself). Start studying how [Levanzo](https://github.com/antoniogarrote/levanzo) implemented a server in Closure to serve a HYDRA API, take as much inspiration as possible to develop a similar server in Python.
Then, you can fork the repository and start coding. Yo

[2017-02-24 17:25] Mec-iS commented on #5
[USEFUL LINK] For a very good implementation of a Web server for APIs, take a look to [HUG](https://github.com/timothycrosley/hug)

[2017-02-25 10:12] pchampin opened #6 "Backend choice"
In #2, @Mec-iS wrote:

I tend to disagree. JSON-LD uses JSON as its concrete syntax, and RDF as its abstract syntax (i.e. data model), so the most natural fits would be either
* a triple-store (fitting the abstract syntax), or
* a document-oriented database (fitting the concrete syntax -- see http://greggkellogg.net/2012/08/json-ld-and-mongodb/)

[2017-02-25 10:35] pchampin commented on #5
Very nice, indeed!
Having HUG automatically generate a Hydra documentation would be really
cool...

On 24 February 2017 at 18:25, Lorenzo <notifications@github.com> wrote:

[2017-02-25 10:50] pchampin commented on #3
I agree about ``POST`` being very (too?) generic, and I too like ``PUT`` for creating new resources (and ``PATCH`` for modifying them without sending the whole representation).

But my point was: if you are using ``PUT`` to create a resource, then you must address the request to the IRI of the to-be-created resource (hence the ``<id>`` in the target IRI). If you don't/can't know in advance that IR

[2017-02-25 11:11] Mec-iS commented on #6
@pchampin I would prefer MongoDB as a solution because it is something I have been using a lot, but it has always been told to me (at least until two years ago) that reasoning on that it is pretty impossible and there is no SPARQL endpoint that can do it (using SPARQL is not my priority for sure, but everybody I have talked to was pretty much convinced that that is no real alternative). Can you ex

[2017-02-25 11:15] Mec-iS commented on #3
Sorry, I forgot the id as a URL parameters for `PUT`s.

Yeah, that's why we should support both. If the user for his/her own sake wants to give a particular id (that is the right range for the API) he/she can do it; otherwise they can use `POST` and get an auto-assigned id.

[2017-02-25 12:01] Mec-iS commented on #4
Let's consider the option [HUG](https://github.com/timothycrosley/hug) that has, like Flask, a functional architecture. For sure there is a way to extend its API to serve JSON-LD.

[2017-02-25 16:40] chrizandr commented on #4
@Mec-iS : It looks interesting, I'll play around with it for a while and let you know.

[2017-02-25 17:55] ddxgz commented on #4
[Sanic](https://github.com/channelcat/sanic) could be an option, it's Flask like, but supports async request handler.

[2017-02-25 18:05] ddxgz commented on #3
Should it go strictly follow the REST constrains including HATEOAS, or apply flexibly?

For creating a new object, I prefer using POST (user specified ID could be contained in the post data body), since when doing a PUT to /objects/<id>, the target object should be already existed.

[2017-02-25 19:44] fractos commented on #3
Just as an aside, when we were creating the Hydra API for the DLCS project (https://dlcs.info) we used the RESTful guidelines in this set of articles, which helped answer a few questions that seemed to be ambiguous about how to organise the URLs: http://restful-api-design.readthedocs.io/en/latest/intro.html

The API we have has a URL scheme like the following:

https://api.dlcs.io/customers/{custo

[2017-02-26 09:15] pchampin commented on #3
PUT to create resources does not contradict REST nor HATEOAS.

Specifying the ID in the POST body is indeed possible, but not standard, so
it increases the coupling between the client and the server (note that the
[Slug header from the Atom protocol](
https://tools.ietf.org/html/rfc5023#section-9.7) can still be used to
*suggest* and ID, but not *specifiy* it).

Nothing in the definition of PUT im

[2017-02-26 12:49] Mec-iS commented on #4
@ddxgz Thanks. I am following the evolution of Sanic as well, and also [Japronto](https://github.com/squeaky-pl/japronto) seems great. But for the sake of this phase of the project, we need to demonstrate HYDRA features, further optimization or improvements in server architecture/performance are left to later stages. We are now in a sort of POW phase at the moment.

[2017-02-26 13:00] pchampin commented on #6
I would not be so radical about providing a SPARQL endpoint, especially if we supplement it with a Triple Pattern Fragment service...

Regarding reasoning, the problem with document-based DBs is that they work with JSON structure, so from the point of view of RDF/Linked Data, they are not convenient for any kind of processing at the semantics level. I wouldn't go as far as stating that reasoning i

[2017-02-26 13:07] Mec-iS commented on #6
@pchampin

Yeah definitely, same idea in my starting annotations. the "client" (that in many cases will be just another layer of service for the "end-user") will actually handle the "intelligent" part. Let's discuss this matter when we will have a well-based prototype for an HYDRA server, so we can decide how to improve it and make it work with the client.

[2017-03-23 11:06] xadahiya commented on #4
@Mec-iS  [Hug](https://github.com/timothycrosley/hug) is a nice option, but I think using [Django](https://www.djangoproject.com/) would be better as it is more robust and scalable. Also, we can also serve data in JSON-LD format using its REST framework.

[2017-03-27 07:40] chrizandr commented on #3
As applications for GSoC have started, here is a document I wrote regarding possible solutions and other specifications for the design.
Your feedback and views are highly appreciated. The document allows comments so please feel free to write your suggestions

https://docs.google.com/a/iiits.in/document/d/1YjGPwoIQh9af3OdppSBmCHaEAez8kMRy-9F9WXttQiw/edit?usp=sharing

I will write the final proposal

[2017-06-02 20:04] Mec-iS opened #9 "Evolving database models"
After a starting implementation that applies some nice basic concepts, we need to find the right way for improving the models.

## Temporary models segregation
I segregated the models for properties (`AbstractPropery` and `Property`) but I don't exclude that in the future they will be in the same table as records that inherits from the same base model. A similar thing can be designed for records i

[2017-06-02 20:46] Mec-iS commented on #4
temporary closing. To be reopened in a later phase.

[2017-06-02 20:46] #4 closed

[2017-06-02 20:55] Mec-iS commented on #6
temporary closing. To be reopened in a later phase.

[2017-06-02 20:55] #6 closed

[2017-06-03 10:05] Mec-iS opened #11 "Define a procedure to declare/generate ApiDocumentation"
Now that we have basic models and some kind of structuring of data, we need to define the `ApiDocument` endpoint.

[2017-06-03 10:06] Mec-iS opened #12 "Write views"
Write the REST API views to serve the data with method GET, POST, PUT as defined in #3

[2017-06-03 12:26] Mec-iS commented on #11
Operations are the basic ones as stated in #3: CRUDs implemented through HTTP methods.

As in [Hydra spec](https://www.hydra-cg.com/spec/latest/core/#documenting-a-web-api):
[code]

For example, in our case expects would have as value a Subsystem_Spacecraft, so this class has to be in the ApiDocumentation, so we need a script to "port" the RDF-OWL declaration into the Hydra document declaration

[2017-06-03 15:45] Mec-iS commented on #9
Should we inplement SQLAlchemy inheritance?

Please take a look about how to make inheritance with SQLAlchemy models: http://docs.sqlalchemy.org/en/latest/orm/inheritance.html

Probably we should have something like:
[code]
Check also advantages/disadvantages of this schema for different querying strategies.

[2017-06-05 05:07] xadahiya commented on #12
## First we need some way to convert the owl based `SpaceCraft` and `Subsystems` vocabs to Hydra based `Api documentation`.
### Following the design guidelines described in [#3](https://github.com/HTTP-APIs/hydrus/issues/3) and Markus Lanthler's [event api example](http://www.markus-lanthaler.com/hydra/event-api/), I propose the following endpoints for the hydrus server.

- **Main API entrypoint**

[2017-06-08 10:32] chrizandr commented on #9
**_Inheritance can be applied to both Properties as well as Graph._**

The inheritance type can be either a _Joint Table Inheritance_ or a _Single Table Inheritance_.
For now a _Single Table Inheritance_ would be preferable. This is becuase _Joint Inheritance_ would require a **JOIN** operation every time a table is queried. In _Single Inheritance_ all instances of Properties and graph would be st

[2017-06-11 06:08] xadahiya commented on #9
[code]

The database design proposed by @chrizandr uses a schema like this for defining various type of Graphs. However, this approach has some issues.

The main issue is
**It makes implementation of `get(id)` very complicated.** Earlier we were using `instances.id` as a unique parameter to fetch the data but this approach makes it a bit difficult as in `GraphCAC` the subject is `classes.id` while

[2017-06-11 07:08] chrizandr commented on #9
GraphCAC is mostly used for parent and child class relationships or class restrictions. For ex: "Student isSubClass Person" is one possible triple. It mostly used to store graphical data. But we must use it at a later stage to ensure that instances are in accordance with the Graph definitions.

Other than that I agree that the get function would be a little complicated. But I feel that it is for t

[2017-06-11 14:34] Mec-iS opened #17 "Start writing a "mini-wiki" in the README"
Write in the README how to run the example to dump the data and then run the server. Explaining which logic is followed to define the API from the RDF vocabulary to the endpoints.

[2017-06-11 14:36] Mec-iS opened #18 "Test endpoint client-side with requests"
After having a good setup for #17 and once is explained how to run the server, write a unit test to test functionalities of the endpoints using `requests` with test payloads for every endpoint.

[2017-06-11 15:19] Mec-iS commented on #9
@chrizandr @xadahiya
For now focus on "instance data", no RDF sub-classing. At the moment the only `AbstractProperty` we need is `SubSystemType isComponentOf Spacecraft` I think, the others are Instance Properties about resources. The interaction with the RDF vocabularies is really limited.
Hydra is about describing resources in the API, the RDF part is something really complex that we will tackle

[2017-06-11 15:28] Mec-iS commented on #11
@xadahiya @chrizandr
NOTE: for now we are in the right direction but the ApiDoc is still too much hard-coded. Try to generate/modify it at server runtime, wecan follow to prossible strategies and use different fallbacks:
* parse the RDF vocabulary (if provided) and try to extract the ApiDoc from the metadata;
* read the structure of the data as it is dumped and try to extract the ApiDoc from the i

[2017-06-11 15:41] Mec-iS opened #21 "Define the "user-experience" flow from RDF to HYDRA to API data, and different possibilities about"
There are different approaches to be tried about how the user approaches the definition of his/her API.

The procedure we need to implement can be realized as:
* a flow from the metadata to the data (define RDF doc first)
* a flow from API-metadata (HYDRA) to the data (define HYDRA `ApiDocumentation` first)
* a mixed approach (RDF plus HYDRA)

Check how this flow is handled in Levanzo.

Check offi

[2017-06-11 16:20] chrizandr commented on #21
Levanzo's implementation supports definition of the `ApiDocumentation` in the code itself and links routes to Hydra classes and Properties in code too. Here is an example:
[code]
I propose to implement a similar approach, but rather than having a user type the code for definitions, we ask for the `ApiDocumentation` itself.

Since routes for the resource would be in the document as well, the user n

[2017-06-20 22:38] Mec-iS opened #25 "Implement basic collections"
Create an endpoint like: `/api/cots?collection=propulsion` to fetch all the items in a given class.
Add the `HydraCollection` to the vocabulary.

[2017-06-20 22:39] #18 closed

[2017-06-20 22:39] #17 closed

[2017-06-20 22:42] Mec-iS commented on #12
@xadahiya The output of views has to be better formatted using contexts.
The `@type` property is required by JSON-LD spec. In general it is not strictly required to return JSON-LD, for now we can return just JSONs.

[2017-06-21 18:36] Mec-iS commented on #25
Or for example: `/api/cots/collections` would return something like:
[code]

`/api/cots/collections/<some_class>`
[code]

ApiDocumentation?

[2017-07-06 15:28] GRV22 opened #31 "Usage and Design page links are not working."
Hi guys,
Usage and Design page links are not working in README .

[2017-07-06 15:41] Mec-iS commented on #31
thanks.

you can find that content in the [wiki](https://github.com/HTTP-APIs/hydrus/wiki). Will fix the broken links asasp.

[2017-07-06 15:53] Mec-iS commented on #31
Fixed.

[2017-07-06 15:53] #31 closed

[2017-07-07 13:22] Mec-iS opened #34 "PUT and POST"
I have just noted that the use of `PUT` and `POST` is inverted compared to what is stated in the design.

https://github.com/HTTP-APIs/hydrus/blob/master/hydrus/hydraspec/crud_template.py#L22

`PUT` should be for creating anew a resource and `POST` for updating an existing resource.

[2017-07-07 13:25] xadahiya commented on #34
Okay, on it

[2017-07-07 13:46] Mec-iS opened #35 "Implement Simulation Abstract Layer"
Now that we need to run computations on classes defined in the ApiDoc we need a way of creating Python classes or extending or wrapping SQLAlchemy models to add the needed methods for every type of class.

In general, we need some sort of abstract layer that:
1. Generate classes from the ApiDoc: when a class like Drone is added to the ApiDoc, a Python class with the same name should be available,

[2017-07-22 02:34] #25 closed

[2017-07-22 02:41] Mec-iS opened #46 "Create a comprehensive test suite"
A test suite to assert that the actual endpoints published are all the ones defined in the ApiDoc, with the expected functionalities.

Example of test case in pseudo-code:
[code]

[2017-07-22 02:47] Mec-iS opened #47 "Research possible improvements for the models and architecture"
Based on the papers enlisted in Gitter channel, define possible evolution for Hydrus as a mature Web server.

https://arxiv.org/abs/1610.06264
https://arxiv.org/abs/1603.04068
http://arxiv.org/abs/1701.05397
http://arxiv.org/abs/1707.06507

[UPDATE]
http://redisgraph.io/design/
Introduction and paper here: https://redis.io/topics/indexes#representing-and-querying-graphs-using-an-hexastore

[2017-07-22 02:47] Mec-iS commented on #9
moved to #47

[2017-07-22 02:47] #9 closed

[2017-07-27 16:56] chrizandr commented on #46
Added new test cases #48

[2017-07-27 17:01] chrizandr commented on #11
Doc writer #38

[2017-07-28 17:09] Mec-iS commented on #35
moved to simulation repos

[2017-07-28 17:09] #35 closed

[2017-07-28 17:09] #34 closed

[2017-07-28 17:48] #12 closed

[2017-07-28 17:48] #5 closed

[2017-07-28 17:50] Mec-iS opened #54 "Create Proper Documentation for developement"
see https://github.com/HTTP-APIs/hydrus/issues/11#issuecomment-318720133

[2017-07-28 17:50] Mec-iS commented on #11
ok. we need now to tell the end-user where he/she can write its own ApiDoc before running the app (same as WALK-THROUGH #54)

[2017-07-28 17:51] Mec-iS commented on #21
Going on with #11 and #54

[2017-07-28 17:53] Mec-iS opened #55 "Fix exception raising from other layers than views"
see comment on #53 >>> https://github.com/HTTP-APIs/hydrus/pull/53#issuecomment-318718286

[2017-07-28 23:04] Mec-iS opened #56 "Write tests using py-hydra"
Use Hydra client to write tests for more complex functionalities (using the demo API or the other Astronomy ontology)

[2017-07-29 17:57] chrizandr commented on #54
Walkthrough added in Usage section of Wiki. https://github.com/HTTP-APIs/hydrus/wiki/Usage

[2017-07-29 22:39] Mec-iS commented on #54
The walk-through is still too verbose. Move all the extensive documentation to an "Architectural Design" page. A new "Usage/Walk-Thorugh" page should have few lines and concise numbered list of steps to add the hydra vocabulary and run the server. Something like:
1. Familiarize with Hydra Spec and examples (a list of material to learn Hydra)
2. Add your custom made Hydra vocabulary to the file my_

[2017-07-30 10:37] Mec-iS opened #57 "Move `subsystem` package in an `examples` package"

[2017-07-30 12:05] #57 closed

[2017-08-04 23:17] Mec-iS opened #60 "Implement type annotations using mypy"
Try to refactor the codebase by implementing type annotations and type checking before runtime using `mypy`

[2017-08-04 23:18] #46 closed

[2017-08-04 23:18] #11 closed

[2017-08-04 23:18] #56 closed

[2017-08-10 17:11] Mec-iS opened #63 "Add authentication for PUT and POST"

[2017-08-10 17:12] Mec-iS opened #64 "Consider designing a command-line interface using click"

[2017-08-23 13:12] Mec-iS opened #70 "Documenting server creation procedure"
It would be great to have a tutorial like this for developer: https://bamtech.gitbooks.io/dev-standards/content/backend/graphql-js/getting-started-with-apollo-server-dataloader-knex.mo.html

[2017-08-25 15:03] chrizandr commented on #63
Implemented in #67

[2017-08-25 15:03] #63 closed

[2018-01-18 12:11] chrizandr commented on #70
Refer: https://gsocchrizandr.wordpress.com/the-book-of-hydrus/
Closing

[2018-01-18 12:11] #70 closed

[2018-01-18 12:12] chrizandr commented on #55
Solved in #59

[2018-01-18 12:12] #55 closed

[2018-01-28 17:04] chrizandr opened #72 "Revamp Wiki"
As most are aware, the wiki section is still very verbose and not beginner friendly. It would be great to have some refactoring done there to improve readability and help newcomer's in getting started.

Maybe something like the blog would be a good way to arrange ideas?
Please give some suggestions.

Adding for reference:
https://gsocchrizandr.wordpress.com/the-book-of-hydrus/

[2018-01-28 17:05] chrizandr commented on #54
New issue created as #72

[2018-01-28 17:05] #54 closed

[2018-01-28 18:01] Mec-iS commented on #72
In the [design page](https://github.com/HTTP-APIs/hydrus/wiki/Design) is missing the part in which the different subsets of classes and predicates are defined. Something like:
[code]

as pointed out by @hd41

[2018-02-12 17:26] palnabarun commented on #64
Hi @Mec-iS ,Project Hydra seemed cool to me considering I have also been trying to develop a framework like this during my internship ([firefly](https://github.com/rorodata/firefly).

Can we discuss the design of this feature request? I am currently delving into the wiki pages and specifically how this project is designed.

[2018-02-12 17:37] chrizandr commented on #64
@palnabarun This seems interesting, you are basically turning Python functions into API objects that are callable. Your design pattern also seems familiar(using a single generic class to define multiple objects, in this case, functions), it is something similar to what we have going on in Hydrus. I would be interested to know how your client is actually obtaining function definitions from the serv

[2018-02-12 17:51] palnabarun commented on #64
The client is actually not getting any function definition from the server. It sends the input parameters to the server, performs the function call there and transports back the result. This is the main intention behind the library so that people can execute code remotely and at the same time having the same experience as running it locally.

So, what we do is have the function signature available

[2018-02-12 18:09] chrizandr commented on #64
@palnabarun I see, I just ran it myself to see what it was. It's sort of an API documentation like Hydra. It is interesting, in fact, we actually wanted something similar implemented into Hydrus, where users would be able to define functions that could be linked to API endpoints. As of now, however, Hydrus does not support such functionality and can only serve static data. What plans do you have o

[2018-02-12 20:26] palnabarun commented on #64
I am just looking into the project now, how it is structured.

I will then come up ideas after discussion with you all regarding the existing plans and what new we could do.

[2018-02-13 00:19] yashLadha commented on #64
What about using some libraries like `Click` for porting the application to CLI. It would be easy as well robust while maintaining the code. Views @chrizandr @palnabarun

[2018-02-13 00:38] yashLadha opened #74 "Error while Setup the Project"
The Project is using some files from inside a package directory, but that directory is not listed as a package due to which it is throwing import error while executing the `main.py` script.

OS : Debian 9
Python 2.7

Screenshot :
![image](https://user-images.githubusercontent.com/18033231/36127576-3e7d73f2-1084-11e8-8268-19dc6f2cb141.png)

[2018-02-13 02:28] alohamora commented on #74
You have to create an empty __init__.py file in each package directory so
that python can access all the modules inside that package.

On 13-Feb-2018 6:08 AM, "Yash Ladha" <notifications@github.com> wrote:

The Project is using some files from inside a package directory, but that
directory is not listed as a package due to which it is throwing import
error while executing the main.py script.

OS :

[2018-02-13 02:30] #74 closed

[2018-02-13 02:43] nityanandagohain opened #76 "Python version is not specified."
In the readme of this project the version of python is not specified wheather it's python2 or python3. It will be nice if it is specified .

I think that this project is using python 2 . Please enlighten me if I am wrong.
Can I work on this issue and update the readme.

[2018-02-13 02:45] xadahiya commented on #74
Hey @yashLadha , this is due to the reason that you're using `Python 2` instead of `Python 3`.

`A package is a group of related modules that function as a single entity. In Python 2, when modules within a package need to reference each other, you use import foo or from foo import Bar. The Python 2 interpreter first searches within the current package to find foo.py, and then moves on to the other

[2018-02-13 02:46] xadahiya commented on #76
Hey @nityanandagohain , thanks for pointing it out. You need to use python3, i'll add this info to the wiki.

[2018-02-13 02:53] yashLadha commented on #74
Thanks for sharing this info. I always try to run the project with Python
2, but it will be good if that instruction is in the README. I will send a
PR correcting it. Cheers

On Feb 13, 2018 8:15 AM, "Akshay Dahiya" <notifications@github.com> wrote:

Hey @yashLadha <https://github.com/yashladha> , this is due to the reason
that you're using Python 2 instead of Python 3.

A package is a group of re

[2018-02-13 02:55] xadahiya commented on #74
@yashLadha  you need to run the project using `python3`. I've added this info to the wiki.

[2018-02-13 02:56] yashLadha commented on #74
Sure, but mostly new contributors see the README for installation
instructions, can I send a PR stating that information in readme.

On Feb 13, 2018 8:25 AM, "Akshay Dahiya" <notifications@github.com> wrote:

[2018-02-13 03:00] xadahiya commented on #76
Closed in #77

[2018-02-13 03:00] #76 closed

[2018-02-13 03:00] xadahiya commented on #74
Updated the README

[2018-02-13 03:02] yashLadha commented on #74
:+1:

On Feb 13, 2018 8:31 AM, "Akshay Dahiya" <notifications@github.com> wrote:

[2018-02-13 03:03] nityanandagohain commented on #76
@xadahiya  but please can I update the readme since I am new to this community and I have already setup this project in my pc and got it running.

[2018-02-13 03:09] xadahiya commented on #76
@nityanandagohain already merged the PR. 😅

[2018-02-13 03:10] xadahiya commented on #76
Don't worry you'll have a lot to work on pretty soon. Till then try to understand the project structure and how it works.
Cheers! 😄

[2018-02-13 03:11] nityanandagohain commented on #76
Thank you ! 👍

[2018-02-13 04:01] chrizandr commented on #76
Also as a note, although most of the code was written in Python3, it is still compatible with Python2.

[2018-02-13 04:07] xadahiya commented on #76
Yeah!

On 13-Feb-2018 9:31 AM, "Chris Andrew" <notifications@github.com> wrote:

[2018-02-13 08:03] yashLadha opened #79 "Coding Conventions"
Currently the code has many functions that doesn't follow proper naming conventions and also lines are greater than 79 characters, which is not according to Conventions and standards followed.

Some of the functions with improper naming convention :

![image](https://user-images.githubusercontent.com/18033231/36139099-3ddc9a16-10c2-11e8-8a48-888a8b69dc70.png)

__Working status__:
Yes I am working

[2018-02-13 09:08] yashLadha commented on #79
Ping @chrizandr @Mec-iS

[2018-02-13 10:57] nityanandagohain opened #80 "Server is not stoppable"
Currently we are using serve_forever() which gives following error when it get's a keyboard interrupt.

![screenshot from 2018-02-13 16-03-36](https://user-images.githubusercontent.com/26831659/36146417-93f5f1e6-10da-11e8-8081-c2de2a7828e3.png)

I want to work on this.
Some help will be very much appreciated.

[2018-02-13 14:07] starlord1311 commented on #79
@yashLadha  can i work on this?

[2018-02-13 14:09] starlord1311 commented on #72
@chrizandr @Mec-iS can i work on this?

[2018-02-13 14:27] yashLadha commented on #79
@starlord1311 I have clearly mentioned in the issue description that i am working on this. I am waiting for the response @chrizandr @Mec-iS

[2018-02-13 17:32] Mec-iS commented on #79
NOTE: I would prefer to stick to PEP-8. In particular functions' names should be lowercase and underscored (not camel-case). You can use `pylint` as checker.

Furthermore, also implementing autodocumentation with Sphinx should be considered.

[2018-02-13 17:33] Mec-iS commented on #72
@starlord1311 this takes much insight in the workflow. I will do it

[2018-02-13 17:35] Mec-iS opened #82 "Implementing autodocumentation in readthedocs"
https://wiki.python.org/moin/DocumentationTools

Autobuilding of documentation should be implemented with Sphinx or similar tool, and the documentation be published at https://readthedocs.org/

Docstrings and functions' signatures should be ported to supported formats.

[2018-02-13 17:49] Mec-iS commented on #76
NOTE: As a generic rule, everything should work and be tested for Python 3.5.2 and above.

[2018-02-13 17:54] Mec-iS commented on #74
For the sake of Python-Hydra's activities, Python 2 should not be considered a supported version. Supported versions starts from 3.5.2 and above. The fact that any of our repos works with lower versions is not guaranteed.

[2018-02-13 18:06] ayushiiit opened #83 "No __init__.py in tests folder."
Since there is no init file in tests folder pytest can't identify different  imports.
Hence there should be init file in tests folder.

[2018-02-13 18:12] Mec-iS commented on #83
Please write a more extensive description of how you have run into this problem. If you know how to fix it and all the tests pass, consider opening a PR,

[2018-02-13 20:17] sandeepsajan0 commented on #82
@Mec-iS  I want to work on this issue. Can I proceed?

[2018-02-13 20:28] Mec-iS commented on #82
Sure. in general anybody can work on anything accordingly to his/her skills. Try your implementation, then submit a PR and we will suggest how to proceed or if there is something to fix. Fork the master, add your code, documentation and tests and submit a pull request. You can find a very interesting [how-to about Github workflow here](https://guides.github.com/introduction/flow/)

[2018-02-13 20:28] vivonk opened #84 "Adding Continuous Integration in Hydra project"
As the things are professional so for a good maintenance and productive reports, we should add CI service to the repository.
There are several provider which provides free CI service to open source projects.

[2018-02-13 20:32] Mec-iS commented on #84
This is for sure a good idea, but for now we prefer the developers to run the tests locally to get familiar with those and maybe improve them. Running tests multiple times can be a good exercise to know the code.

[2018-02-13 20:39] vivonk commented on #84
@Mec-iS that is great but to maintain it on github, how you believe on someones commit that all test cases pass. This may definitely raise a conflict after some commits because the environment that person was using may be different than we are accepting. [This one](https://medium.com/the-making-of-appear-in/why-continuous-integration-is-so-important-7bb63ba5dc57) encouraged me to raise a ticket, g

[2018-02-13 20:55] Mec-iS commented on #84
Thanks for the article. I know the advantages of CI, this repo is still in a very young phase and I don't think setting up the environment can create much problem of compatibility (considering there are no pre-compiled C-bindings nor even system-level modules): all the libraries are easily installable via simple `pip` commands. Furthermore any Python developer should know the magic commands:
[code

[2018-02-13 21:00] vivonk commented on #84
Get it @Mec-iS  but I have still one point for you that how you will believe that someones commit had passes all the tests? even the person did not run the tests on his local. Don't consider me wrong but just want to put my point to you 😄

[2018-02-14 01:07] chrizandr commented on #84
I agree with @Mec-iS . A CI would only make sense when you have builds for your code, which would then cause them to become OS or environment dependent and there would be a need to check multiple builds for each. This is not the case for Python packages that use pip, since they depend on wheel packages that are os specific to install. If your system environment is not supported, you would not be a

[2018-02-14 01:07] nityanandagohain opened #85 "PR template should be created."
A Pull Request template should be there so that when someone sends a pull request the should always reference a Issue to that pull request.

Also some Contributing guideline's should be added like one should claim an issue before working on it . Because someone else may be working on it.

This will especially help the people very new to open source.

I want to work on this issue.

[2018-02-14 01:16] vivonk commented on #84
Correct @chrizandr , get it. Thanks for this good reply, so there should be a relay to users to submit testlogs. 👍

[2018-02-14 02:39] xadahiya commented on #80
Fixed in #81

[2018-02-14 02:39] #80 closed

[2018-02-14 04:33] yashLadha commented on #79
Sure, I will try to do proper convention and for Sphinx i have to learn it and will update you on it @Mec-iS  😄

[2018-02-14 13:37] WickedBrat opened #86 "Have a saperate page for send API requests."
We could have a separate page that has 3 fields (a) Type of request (b) URL of the request (c) JSON query.
The page would be just for sending requests and receiving response and displaying it. This would be very helpful when creating new APIs and debugging the requests etc.

[2018-02-14 13:44] xadahiya commented on #86
Hi @WickedBrat , can you elaborate a bit more? Is this regarding the client or hydrus?

[2018-02-14 14:19] yashLadha commented on #79
@Mec-iS Should I also change the docstrings , as they are stretching to length > 79. This way i will get a better understanding of codebase as well. Views?

[2018-02-14 16:19] WickedBrat commented on #86
Hi @xadahiya It's regarding the client side. It would provide an interface for making requests and recieving responses and would help in debugging.

[2018-02-14 16:25] aswinzz commented on #60
can i work on this issue?

[2018-02-14 16:44] IamRaviTejaG commented on #64
@Mec-iS I'd like to work on this. Can you assign me this?

[2018-02-14 17:36] Mec-iS commented on #64
You need to accept the invitation to the team first.

[2018-02-14 17:43] Mec-iS commented on #79
Not a great issue. I think we can leave the lines length as it is now. See [here](http://hilton.org.uk/blog/source-code-line-length):

Usually 89 or 99 is also accepted. 79 could be too short for current screen sizes.

[2018-02-14 17:47] Mec-iS commented on #86
This is already possible with the standard [Hydra console by Markus Lanthaler](http://www.markus-lanthaler.com/hydra/console/?url=http://www.markus-lanthaler.com/hydra/event-api/). There is also the [new TypeScript client](https://github.com/HydraCG/Heracles.ts) available if you want to make experiments in the browser.

[2018-02-14 17:48] IamRaviTejaG commented on #64
@Mec-iS Thanks for the invite. Accepted. Please assign me this issue.

[2018-02-14 17:48] Mec-iS commented on #60
Sure. Accept the invitation to the Github team and [follow the guidelines](https://github.com/HTTP-APIs/hydrus/wiki/Starting-Material)

[2018-02-14 18:01] #83 closed

[2018-02-14 18:24] Mec-iS commented on #82
Moved to new repository https://github.com/HTTP-APIs/documentation-hydrus

Reference >>> https://github.com/HTTP-APIs/documentation-hydrus/issues/1

[2018-02-14 18:24] #82 closed

[2018-02-14 23:54] yashLadha commented on #79
But a you mentioned, in the PEP-8 conventions it is of 79 length and pylint follows the same. So should i lint the code according to PEP-8 conventions or leave it as it is and work on the renaming of functions.

[2018-02-15 03:14] chrizandr commented on #79
The values in pylint for number of characters can be modified. It is not a strict convention. Most codebases nowadays require more than 79 characters. There are also some lines that cannot be shortened. It's better to leave it as it is.

[2018-02-15 05:46] yashLadha commented on #79
Sure @chrizandr . Will make the updates.

[2018-02-16 06:38] vddesai1998 commented on #60
Can I help with this issue if no one is working on it?

[2018-02-16 08:54] #85 closed

[2018-02-16 11:42] ashwani99 opened #90 "Instructions to use virtual environment missing in the README"
The dependencies may conflict with any other modules presently installed in the user's machine. It's better to use a virtual environment to isolate development environments.

[2018-02-16 13:23] chrizandr commented on #90
Virtual environments are optional when using any Python based programs. You may install all requirements directly on your main Python paths. For the purpose of the flock demo, it was necessary to use virtual environments and so that was specified in the instructions. The same is not necessary for running Hydrus as a standalone process. Also unless the packages are a downgrade from the current ly i

[2018-02-16 13:23] #90 closed

[2018-02-16 13:42] chrizandr opened #94 "Create a guide for contributing"
Add a guide to contributing file compiling a list of points people need to keep in mind while adding bugs or patches to the repository.
This can be added as a `CONTRIBUTING.md` file in the `.github/` folder

Let us discuss some points to keep in mind here after which someone can be assigned the task of creating a guide.

[2018-02-16 13:52] nityanandagohain commented on #94
can I work on this

[2018-02-16 14:45] chrizandr commented on #94
I would actually prefer that everyone contributes to the guidelines here and we discuss it before someone starts working on it.

[2018-02-16 15:03] nityanandagohain commented on #94
This is what I have managed till now

### Contribution Best Practices

**Feature Requests and Bug Reports**

* Some newcomers are not accustomed to issue trackers and might try to inform developers on the mailing list, chat or even write private emails about bugs and features, but the right place to do this is: The issue tracker of a project.

* Any bug or feature, please open an issue in the issu

[2018-02-16 18:35] Mec-iS commented on #94
https://github.com/mapbox/mercantile/blob/master/CODE_OF_CONDUCT.md

Check Contributor Covenant for reference.

[2018-02-16 18:49] Mec-iS commented on #60
In general,anybody can fork the repo and start working on the fork. Once you have something done we can consider opening a branch in which different people working on the same project can collaborate.

[2018-02-16 18:57] Mec-iS commented on #90
@chrizandr I always give the advice, since `setuptools` and `pip` have been made fully compatible with `venv`, that it is a good practice to use virtual environments every time, unless there is a particular reason for avoiding it (like some low-level code, but these are really rare exceptions).
Pollution of Python libraries space can be a problem, so as far Python 3 provides the `venv` built-in mo

[2018-02-17 04:40] IamRaviTejaG commented on #79
@yashLadha Correct me if I'm wrong, but the '\' character for line continuations is frowned upon. Instead, use of parenthesis is encouraged, see here: https://www.python.org/dev/peps/pep-0008/#indentation

[2018-02-17 06:35] anubhav253 opened #95 "Refactoring key validation in a dictionary body"
### I'm submitting a
- [x] Enhancement Request.

### Current Behaviour:

We are using try catch to check every key in the dictionary and assigning it to new variable.
rather to validate the current payload we should have a generic function in which we can pass the key and value to check and it will return the keys or exception from that function
[Current Sample code structure] (https://ibb.co/ciM4

[2018-02-17 13:42] Mec-iS commented on #95
@anubhav253 Can you point the line in the codebase where you spotted the issue (you can use the `+` beside the line to directly open a issue or copy the permalink). For the workflow is better to reference in the code in Github itself.

[2018-02-17 14:14] nityanandagohain commented on #94
@Mec-iS should i combine "points people need to keep in mind while adding bugs or patches to the repository."
and code of conduct . Because @chrizandr  stated about that . help me out

[2018-02-17 14:21] Mec-iS commented on #94
@nityanandagohain These could be two different documents:
* `CODE_OF_CONDUCT.md`
* `CONTRIBUTING.md`

[2018-02-17 15:03] nityanandagohain commented on #94
@Mec-iS  there is already a code of conduct https://github.com/HTTP-APIs/hydrus/blob/master/.github/CODE_OF_CONDUCT.md

[2018-02-17 17:30] Mec-iS opened #98 "Extensively document the methods"
### I'm submitting a
- [v] feature request.

### Current Behaviour
Methods' docstring do not list inputs in signatures

### Expected Behaviour:
Every method should have a docstring in this format:
[code]

[2018-02-18 02:42] anubhav253 commented on #95
@Mec-iS - Yeah sure i will follow the steps from next issues. for now here is the code reference for the above description https://github.com/HTTP-APIs/hydrus/blob/fe55ee5997a26ec0a57e2bdfe04a5d6656301de7/hydrus/hydraspec/doc_maker.py#L35

[2018-02-18 05:46] nityanandagohain commented on #98
can I work on this.

[2018-02-18 06:37] KaranSharma-gawds opened #99 "Lacks support for sqlalchemy.orm.scoped_session."
### I'm submitting a
- [ ] bug report.

### Current Behaviour:

Lacks support for sqlalchemy.orm.scoped_session.
Currently the code in set_session() checks only for ```sqlalchemy.orm.session.Session```, while flask also supports making of other types of sessions.

### Expected Behaviour:

```scoped_session``` in sqlalchemy.orm will be supported

### Steps to repoduce:

Import scoped_session.
[code

[2018-02-18 07:50] chirag-jn opened #100 "Command Line Interface for Hydrus"
### I'm submitting a
- [ ] feature request.

In the Wiki page, there's an idea related to "Designing Command Line Interface for Hydrus"
I found this very interesting and matched my skill set. Can you please tell me, is there any limitation on which tool we have to use to make the command line interface? I have started working on developing a command line interface for Hydrus, and has already taugh

[2018-02-18 10:29] xadahiya commented on #99
I think using `scoped_session` instead of `session` is a good idea.
Those who are not familiar with `scoped_session`, please read [this](http://docs.sqlalchemy.org/en/latest/orm/contextual.html).

@Mec-iS  @chrizandr  what do you think?

[2018-02-18 11:07] KaranSharma-gawds commented on #99
I was thinking of reducing the dependency on the kind of session object being used altogether rather than just switching it to another, as the issue of compatibility will still remain even if we change it from one to another. If some API is not using the session object included in here, then they will have to face this issue otherwise.

[2018-02-18 11:08] palnabarun commented on #100
Don't we already have an issue(#64) on this?

[2018-02-18 11:26] chirag-jn commented on #100
Hi @xadahiya, I was thinking about developing the command line interface using docopt, and have started working on it too.
The existing project structure is perfect for using the docopt library.
Few things were required like moving the code in main.py from
if __name__=="__main__" block to a function named main.
Can you tell me what all options are required in the command line app?

[2018-02-18 11:42] Mec-iS commented on #99
So in practice we should use `scoped_session` in our code and check for the existence of different classes of sessions? Using `scoped_session` makes sense as we may want the session to have the same lifetime as the request.

[2018-02-18 11:43] xadahiya commented on #99
Exactly!

[2018-02-18 11:45] WickedBrat commented on #98
@Mec-iS I think it's better if we create a list of files and assign each file to a beginner. That way every beginner get to learn.
/cc @xadahiya suggestions

[2018-02-18 11:46] Mec-iS commented on #100
@palnabarun as far as i understand this is using a different CLI library. Let's see which one is the best fit for `hydrus` codebase.

Furthermore the CLI effort is related tohttps://github.com/HTTP-APIs/documentation-hydrus/issues/6 defining a worflow leads directly to defining a commands calking pattern

[2018-02-18 11:48] chirag-jn commented on #100
Yeah!
@Mec-iS I am using docopt library while issue #64 is regarding using Click library.
By the way, thanks for the invite!
I will shortly reply with a demo of command line interface for Hydrus using docopt.

[2018-02-18 11:57] xadahiya commented on #98
I don't think it's a good idea. As every person has a different writing style, assigning different files to different people can create a lot of variations in doc strings.

[2018-02-18 12:00] Mec-iS commented on #98
Work on Github is distributed by definition. Everybody that want to participate can provide a PR and then PRs for the same issue can be confronted. This way it is the best code that is merged, so it may happen that a developer wrote one docstring better than anoher, and the best docstrings can be picked and put in the same merged PR.

[2018-02-18 12:00] palnabarun commented on #100
@Mec-iS  `docopt` is good to begin with. We can understand the workflow and the design. `click` has more abstractions that can be used later.

[2018-02-18 12:01] chirag-jn commented on #100
@palnabarun if docopt solves the complete purpose, is there any need to use click?

[2018-02-18 12:03] palnabarun commented on #100
We should try to keep the design as simple as possible.

So, if `docopt` is doing all that we need, we might not need to use `click`.

[2018-02-18 12:04] chirag-jn commented on #100
By design, you mean file structure?

[2018-02-18 12:08] Mec-iS commented on #95
Yeah that part is cluncky. We should have a dictionary mapping `keys` to `error_mesages` and then loop through `keys()`. If key is not in keys, raise the message.

[2018-02-18 12:12] palnabarun commented on #100
No. I meant the design of the CLI.

[2018-02-18 12:14] Mec-iS commented on #100
No, that's "layout" or "directory structure". With design I mean defining the full procedure with all the steps needed:

Each of this steps should have its own command, and in hhe end a command that automates all by executing all the commands in the same pipeline.

[2018-02-18 12:22] chirag-jn commented on #100
Oh. I will surely tell if docopt is able to solve this purpose.

[2018-02-18 15:24] anubhav253 commented on #95
yea, we can have function where we pass the keys and the payload in which we need to check the keys. Here whatever keys required from whichever payload will be store in dictionary which will make easier for maintenance.  the overview of function is provided below.  can i start working on this for gsoc  preparations ?

`def inputKeyCheck(body, key):
    try:
        return doc[key]
    except KeyEr

[2018-02-18 16:08] Mec-iS commented on #95
You don't need to ask for permission. Fork `master`, submit a PR and ask for reviewing

[2018-02-18 22:53] suryatejreddy opened #102 "Hydrus dependencies are not installed automatically with distutils in setup.py"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:
distutils does not support `install_requires()`. It gives a warning when you try to install hydrus using setup.py and the dependencies are not installed. The user will have to install the dependencies using the requirements.txt file.

### Expected Behaviour:
All the dependencies must be installed automatically wh

[2018-02-19 00:14] ashwani99 commented on #102
Using `setuptools` makes more sense. `setuptools` also has a neat way to include `packages` using `find_packages`

[2018-02-19 13:17] malgamves commented on #100
I feel it would be counterproductive to use different tools. Could we decide on one?

[2018-02-19 15:03] nityanandagohain commented on #98
@WickedBrat if you want you can work  on this . I am having test this week .

[2018-02-19 16:25] chirag-jn commented on #100
Hi @malgamves
Actually, we are deciding if click would be better or docopt or anything else.

[2018-02-19 16:40] anubhav253 commented on #95
yea, sure I will follow the procedure suggested here .

[2018-02-19 17:52] mohdomama opened #103 "Display server URL in output"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

As of now, the server URL is not shown when the script is run.

### Expected Behaviour:

Display URL in the output.
### Do you want to work on this issue ?
Yes

[2018-02-19 18:01] xadahiya commented on #102
Setuptools is not a part of Python standard library because it's maintained by a 3rd party rather than Python core team. Each of them has their own pros and cons. See this https://stackoverflow.com/questions/25337706/setuptools-vs-distutils-why-is-distutils-still-a-thing
I think we should discuss this first. @Mec-iS  @chrizandr  What do you think?

[2018-02-19 18:30] Mec-iS commented on #102
To give some context: http://lucumr.pocoo.org/2012/6/22/hate-hate-hate-everywhere/
I always tend to choose anything that is provided with the Standard Library.

[2018-02-19 19:03] chirag-jn commented on #103
That;s not a difficult job. In the main function, you can just print the IP address with the port number.

[2018-02-19 19:08] chirag-jn commented on #103
I have solved this issue and created a pull request too.

[2018-02-20 02:41] mohdomama commented on #103
@chirag-jn As I have said in the PR, its better to configure the port to display dynamically and the user should be able to click the URL to test it. I have done the same in my PR. Please take a look.

[2018-02-20 06:49] chirag-jn commented on #103
@mohdomama, basically you are also displaying the port number 8080 because http_server.server_port is already fixed to 8080. And it can cause problems if you try to initialise multiple instances of the server from the same IP address. What we can do is choose random port numbers from the available ones if that doesn't cause problem.
@Mec-iS, please tell, in any case, will user to try to run multip

[2018-02-20 08:57] chrizandr commented on #103
Yes, they would, in fact, the hydra-flock demo is a simulation that uses multiple instances of Hydrus running on different ports.

[2018-02-20 14:03] malgamves commented on #100
Sure! Waiting for the conclusion so I can get started contributing.

[2018-02-20 16:32] #103 closed

[2018-02-20 17:37] sandeepsajan0 commented on #98
@Mec-iS  As I can understand, you want to change every file's every function's docstring with this(above given) type of format. Am I right and it is not necessary to update all the files by the same person?

[2018-02-20 18:36] py-ranoid commented on #98
Since, I'm going to have to understand `hydrus/app.py` inside-out to migrate to Falcon, should I document the existing Flask-based functions with docstrings before I go about migrating to Falcon ?

[2018-02-21 11:31] chirag-jn commented on #100
@malgamves, what do you mean by "I can get started contributing?". I am already working on it.

[2018-02-21 12:59] malgamves commented on #100
@chirag-jn I mean, I'm ready to help, if you'll need any.

[2018-02-21 15:20] suryatejreddy commented on #102
I agree with you, we should always prefer the Standard Library over 3rd party libraries. Although https://docs.python.org/3.5/library/distutils.html says that "pip installer runs all setup.py scripts with setuptools, even if the script itself only imports distutils". What do you think about this @xadahiya @Mec-iS .

[2018-02-21 17:20] alohamora commented on #99
Can I work on this issue?
## My Implementation
Check for both types of session in `utils.py`:
[code]
Use scoped_session for thread-managed registry of database session in `main.py`:
[code]

[2018-02-21 17:55] Mec-iS commented on #99
If you have a fix that pass all tests, you can open a PR and ask for a review.

Read the guidelines here: https://github.com/HTTP-APIs/hydrus/wiki/Starting-Material

[2018-02-21 19:22] sandeepsajan0 opened #110 "Implementing Redis datastore"
### I'm submitting a
- feature request.
Support Redis as Graph database.
### Current Behaviour:
Hydrus uses a relational database model to store graph data which have many limitations in querying and data accessing like scalability, null factor and time taking querying process.
### Expected Behaviour:

Switch to a graph database like Redis. Its main features include Simple, fast indexing and query

[2018-02-21 19:42] Mec-iS commented on #110
Please make a comprehensive list of the tools you are thinking about using.

As far as I understood you want to use Redis 4.0 and add redisgraph.io module. There are many other ways of storing/querying a graph in Redis; for the sake of your application, it would be nice to cover the different possibilities to have a clearer picture. You can start with a naive implementation (like a prototype) abou

[2018-02-22 09:17] ntkomata opened #113 "Typo in Usage of Wiki"
in the `Adding Classes and Properties` section <br>
`properties = doc_parse.get_all_properties(doc.generate())` will raise a TypeError, and I checked the code and found the right parameter should be `classes` defined above.

[2018-02-22 09:25] ntkomata commented on #113
The typo is found in <a href='https://github.com/HTTP-APIs/hydrus/wiki#usage'>https://github.com/HTTP-APIs/hydrus/wiki#usage</a>

[2018-02-22 15:57] chrizandr commented on #113
Changed, thanks.

[2018-02-22 15:57] #113 closed

[2018-02-22 16:20] alohamora commented on #95
Hi @Mec-iS @xadahiya ...can I contribute to this issue??

[2018-02-22 16:26] xadahiya commented on #95
@alohamora  you don't need to ask for permission. Just fork the repo and start working on the issue. Submit a PR when you're done.

[2018-02-22 16:53] xadahiya opened #114 "Auth tests are failing"
### I'm submitting a bug report.

### Current Behaviour:
Auth tests ([test_auth.py](https://github.com/HTTP-APIs/hydrus/blob/master/hydrus/tests/test_auth.py)) needs to be updated as all the 4 tests are currently failing.

![sketch 41](https://user-images.githubusercontent.com/9114274/36551882-a2c6cf92-181e-11e8-89c1-e9b720d8b0a4.png)

### Expected Behaviour:
All tests should pass.

### Steps to r

[2018-02-22 17:08] alohamora commented on #114
@xadahiya I checked with the codebase...the assertion error is because we have set up authentication for all the endpoints in api. `with set_authentication(self.app, True):` at `line 55 in test_auth.py`.
Hence it shall always give a response with `status code 401`.
So should I remove the authentication for the tests or shall I change the assertion to
`assert response_get.status_code == 401`

[2018-02-22 18:17] chrizandr commented on #114
Try reverting to before #88 and then running the tests.

As far as I know no major changes other than that were made.

[2018-02-22 21:11] alohamora commented on #114
I reverted to before #88 but the tests were still failing.
But instead I changed the encoding format of the authentication header as follows:
`self.auth_header = {"Authorization": "Basic " + b64encode(b"1:test").decode("ascii")}`
and the byte string generated int the auth header matched with that generated while requesting through a web browser i.e. `MTp0ZXN0` and then all the tests were passing.

[2018-02-23 00:55] xadahiya commented on #114
@alohamora this is fine, create a PR. This is actually how authentication works now. Nice work :-1:

[2018-02-23 01:15] xadahiya commented on #99
Fixed in #112

[2018-02-23 01:15] #99 closed

[2018-02-23 05:00] anubhav253 commented on #95
Hii @Mec-iS  its done and I have raised a pull request can you verify the changes here.

[2018-02-23 11:20] xadahiya commented on #114
Fixed in #115

[2018-02-23 11:20] #114 closed

[2018-02-23 13:52] Mec-iS commented on #102
@suryatejreddy Python packaging has many different nuances. Check all the documented experiences for this argument like [this one](https://github.com/pypa/setuptools/issues/960) and provide a solution that works for `hydrus`. The only constraint I see is that everybody should be able to `pip install hydrus` in a virtual environment and have the code to run the server (or in future the CLI). If any

[2018-02-24 11:36] IamRaviTejaG commented on #98
@Mec-iS Can you assign me this? I'd like to work on this.

[2018-02-24 11:53] anubhav253 opened #120 "Repetition of code"
### I'm submitting a
- [x] Code optimization.

### Current Behaviour:

This Logic to check whether a http request made is authenticated or not is repeated inside every CRUD operations.This whole logic is repeated at 8 places. Few samples are provided here.

https://github.com/HTTP-APIs/hydrus/blob/f88d0d06933ec0d426bd7d6df51f2972fd389a40/hydrus/app.py#L103

https://github.com/HTTP-APIs/hydrus/blob

[2018-02-24 12:53] Mec-iS commented on #98
@sandeepsajan0 exactly. A work of editing will be done in the PR

[2018-02-24 15:48] Mec-iS commented on #79
Merged #117

[2018-02-24 15:48] #79 closed

[2018-02-24 15:49] Mec-iS commented on #100
This is duplicate for #64

[2018-02-24 15:49] #100 closed

[2018-02-24 15:56] Mec-iS commented on #60
Merged #96

[2018-02-24 15:56] #60 closed

[2018-02-24 15:57] #94 closed

[2018-02-24 18:59] alohamora opened #122 "Unexpected status code returned for non-existent collections in the database"
### I'm submitting a
- [x] bug report.

### Current Behaviour:

Unexpected status code returned by the server:
Currently the hydrus server returns a `status code 405` for non-existent collections in the database.
![screenshot from 2018-02-25 00-19-08](https://user-images.githubusercontent.com/30872134/36633823-98b71a6c-19c1-11e8-9126-f0bd1ea2ab87.png)

### Expected Behaviour:

The server shall giv

[2018-02-24 19:50] IamRaviTejaG opened #123 "Generating user nonces for better security"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:
Currently, the feature is still in TODO.

https://github.com/HTTP-APIs/hydrus/blob/f88d0d06933ec0d426bd7d6df51f2972fd389a40/hydrus/data/user.py#L22

### Expected Behaviour:
We can add a unique nonce by using random numbers generated using a seed, which can be the sha224 digest of user id or any other parameter.

[2018-02-25 02:31] vddesai1998 commented on #60
Hey @Mec-iS  why type annotations from app.py are removed?
Should I open a PR type annotating app.py?
I am not opening a issue because we already has this issue.

[2018-02-25 04:20] xadahiya opened #128 "Missing mypy type annotations"
### I'm submitting a
- [X] bug report.

### Current Behaviour:

Mypy type annotations in some files are gone after merging #117
### Expected Behaviour:

All files should have mypy type annotations
### Steps to reproduce:

See app.py and several other files

[2018-02-25 04:23] mohdomama opened #129 "Make Hydrus utilities available for entire test class rather than specific test function."
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

As of now, for each test function, the `hydrus`  utilities are set up using the nested `with` statements.
[code]
This is apparently not a good approach because the setting up and destruction of contexts take place for every test function.

### Expected Behaviour:

A better, alternative approach will be to set up

[2018-02-25 04:28] mohdomama commented on #129
On a side note, I think we should add:
[code]
This will explicitly add the cwd to path.This will allow the test to be run as a stand alone script. And prevent the import error which many of the beginners are facing.
Your views @xadahiya ?

[2018-02-25 04:30] xadahiya commented on #60
@vddesai1998  See #128

[2018-02-25 10:21] vddesai1998 opened #134 "Add instructions about mypy in contributions.md and starting material"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

New developers are defining new functions with type annotations
and pushing code without running static type analyzer
### Expected Behaviour:

Everyone defining new functions or variables should type annotate it and run mypy on it before commiting
### Steps to reproduce:

### Do you want to work on this issue?

[2018-02-25 13:51] Mec-iS commented on #123
duplicate #124

[2018-02-25 13:52] Mec-iS commented on #123
As specified in PR:

When client and server handshake, the server return an header with a nonce. Then the client authenticates with username, password and nonce. Once the client in authenticated, the server returns a (expiring) token so the client can authenticate with that, without the need for username and password.

[2018-02-25 13:59] Mec-iS opened #135 "Add Docker deployment to hydrus server"
### I'm submitting a
- [x ] feature request.

### Current Behaviour:
A lot of users encountered importing problems for running the server or the tests

### Expected Behaviour:
server should be boxed with Docker and run with one command, with automatic provisioning. `hydrus` directory should be added to `PYTHONPATH`

### Do you want to work on this issue?
no

[2018-02-25 14:06] videetssinghai commented on #110
Is this issue already assigned to sandeepsajan0 or I can apply for it in GSoC 2018?

[2018-02-25 14:09] palnabarun commented on #135
Shall I take this up?

[2018-02-25 15:15] Mec-iS commented on #110
there is no connection between Github issue and GSOC applications. Please read https://github.com/HTTP-APIs/hydrus/wiki/Starting-Material

[2018-02-25 15:16] Mec-iS commented on #135
As specified and written multiple times, there is no need to claim a issue: https://github.com/HTTP-APIs/hydrus/wiki/Starting-Material

[2018-02-25 15:23] #2 closed

[2018-02-25 15:23] #3 closed

[2018-02-25 16:42] #134 closed

[2018-02-25 16:57] vddesai1998 commented on #110
Are we going to use Redis as a 1st class database?

[2018-02-25 17:11] chrizandr commented on #120
That function is a flag to check whether authentication is required for the server to respond or not. It does not check the authentication headers, that is done by check_authorization. Variables in Hydrus are set using application contexts and you need setter and getter functions to read and modify them. These contexts are also not accessible from outside the app, like in the CRUD operations for e

[2018-02-25 17:11] sandeepsajan0 commented on #110
++UPDATE++
Hey @Mec-iS, I have used Redis built-in data structure with redis-cli and also by creating [a repo](https://github.com/sandeepsajan0/redis_implementation)(a prototype) in which data is stored, which is getting from the web(simple html page) in Redis.
I have used string, sets, sorted sets, lists, and hashes(usually uses as the tuple). These all have its own requirements and properties an

[2018-02-26 15:09] anubhav253 commented on #120
@chrizandr  - Yeah i got that there are two function named **get_authentication** and **check_authorization**  one to check whether the authentication required and other to actually check the authorization. but here what i have done is moved entire block of this authentication logic to a function. which is being called at every instances. (GET, PUT, P0ST, DELETE) - I have not removed the get_authe

[2018-02-26 16:40] palnabarun commented on #135
I tried to reproduce the error encountered by others. I saw that whenever the environment is setup using `python setup.py install`, there are dependency and path issues. When `hydrus` is installed with `pip install -e .`, there are no issues running the demo or the tests. One point to note is that the demo is using `gevent` which is the only thing that was needed to be installed seperately.

So,we

[2018-02-26 17:46] Mec-iS commented on #135
So in your opinion we need to change the pip requirements call in `Dockerfile` with the pip editable call?

I was thinking about creating a fully featured Docker image so people can just pull the image. This would be good in the future if we are going to add Redis to the server.

Provisioning usually means building/installing system-level packages (like RDBMS or other Linux packages) to be used in

[2018-02-26 17:50] Mec-iS commented on #110
@vddesai1998 it is not decided yet, depends from proposals and how the implementation goes on. We may have different layers implemented with Postgres and Redis.

@sandeepsajan0 you have already much material. Focus on writing a good proposal.

[2018-02-27 02:56] mohdomama commented on #135
I think we should add `gevent` in `setup.py`. Its already there in `requirements.txt`. Further the problem with `python setup.py install` is that it uses `install_requires` which is only supported by `setuptools`. I believe there is already an issue for that #102 .
I think we should have a full fledged docker image and add the root directory in `PYTHONPATH` . This will allow people to run test scr

[2018-02-27 03:17] IamRaviTejaG opened #137 "Demonstration with Dynamic API paths"
As listed on the ideas page (idea no. 2.4), does this need to be implemented in JS or in Python? I believe for APIs, using NodeJS would be better. How do we get started with this?

Elaboration on this idea would be appreciated.

### Do you want to work on this issue?
Yes

[2018-02-27 04:40] palnabarun commented on #135
@Mec-iS  Yes. But there is a caveat of using that. We need to ensure that whenever any new dependency is introduced to the project, we have to add that to `setup.py` as well as `requirements.txt`.

On a different note, I see that the project does not require `gevent`. `gevent` is only being installed to run the demo.

[2018-02-27 04:42] palnabarun commented on #135
@mohdomama  You can run the tests directly by installing `hydrus` in editable mode with pip by `pip install -e .` to avoid the extra step of adding the root directory to `PYTHONPATH`.

[2018-02-27 14:33] xadahiya opened #140 "Incomplete authentication test suite"
### I'm submitting a
- [X] bug report.
- [X] feature request.

### Current Behaviour:

Authentication tests need to be updated. Current tests only test `/+ API_NAME`, rest everything needs to be tested as well.
### Expected Behaviour:

Tests should check the authentication part thoroughly.

### Steps to reproduce:

See `hydrus/hydrus/tests/test_auth.py`.
### Do you want to work on this issue?

NO

[2018-02-27 14:47] xadahiya commented on #135
@palnabarun We had a docker implementation earlier. You can build upon https://raw.githubusercontent.com/HTTP-APIs/hydrus/master/Dockerfile
Also, you should use nginx. For some reason [hydra console](https://www.markus-lanthaler.com/hydra/console/) doesn't support any other server.

[2018-02-27 16:05] vaibhavchellani commented on #140
@xadahiya i would like to work on this . I will try to submit a PR asap . Any points/tips you would like to offer ?

[2018-02-27 17:06] IamRaviTejaG commented on #137
@Mec-iS @xadahiya @chrizandr Please have a look.

[2018-02-27 19:06] xadahiya commented on #140
@vaibhavchellani  Sure! First, try using the Hydrus server in your browser. There are certain endpoints     (**Collection endpoints**) that need users to log in before they can be accessed.

See this
![sketch 45](https://user-images.githubusercontent.com/9114274/36748665-8debf210-1c1e-11e8-9f08-7a750fe2f7e8.png)

You should try to test different behaviors like what happens when some unauthorized u

[2018-02-28 02:24] palnabarun commented on #135
Ya. I saw the dockerfile. I built the image and ran a container out from it.

One doubt I had, why did you use uwsgi? Gunicorn can also be used to run
the flask app right?

And what was the reason for choosing that very base image?

On Feb 27, 2018 8:17 PM, "Akshay Dahiya" <notifications@github.com> wrote:

[2018-02-28 12:43] tibi77 commented on #122
can i work on this?

[2018-02-28 13:29] tibi77 commented on #140
Maybe if we do not show the endpoints. We can create a specific file (for example http://localhost:8080/serverapi/endPoints) which can be password protected. I think that it will be safer.

Right now: If someone who is not authorized tries to login the server responds with:
[code]
I have found this checklist[1]. Should i implement the checks that are there?
Also the pentest part in [2] is interest

[2018-02-28 17:03] Mec-iS commented on #135
the flask app right?

we are not into addressing production/performance issues in this phase, so the simplest solution is the best

Again having the simplest and cleanest environment is the best place to start

[2018-02-28 17:13] Mec-iS commented on #122
This has been merged with #125, so it is fixed.

[2018-02-28 17:13] #122 closed

[2018-02-28 17:15] Mec-iS commented on #98
This is still to be done for all the other modules

[2018-02-28 17:17] py-ranoid commented on #98
@Mec-iS Working on documenting app.py

[2018-02-28 18:37] alohamora commented on #123
@Mec-iS The 2 factor authentication shall be used with `Basic authentication`  or `Digest authentication`??

[2018-02-28 19:02] alohamora commented on #123
And how should we send the token to the authentic user??

[2018-03-01 02:30] xadahiya commented on #120
Discussion continued in https://github.com/HTTP-APIs/hydrus/pull/121

[2018-03-01 02:38] xadahiya commented on #129
Fixed in #131

[2018-03-01 02:38] #129 closed

[2018-03-01 02:46] xadahiya commented on #135
As I told you earlier, for some reason Hydra console doesn't work with anything except servers deployed with nginx. This was the primary reason for using this image as the hydra console makes debugging and understanding how the whole hydra and server part fits together a lot easier.

Feel free to use a clean image and configure things from scratch.

[2018-03-01 18:13] Mec-iS commented on #123
The simplest procedure we can implement is:
* client makes a request
* server responds with a randomly generated string (nonce)
* client passes username password and nonce
* server checks credentials and nonce and responds with a token that expires in X days
* the client can connect to the endpoints using the token. When the token expires, the procedure is repeated

This way the process of Authent

[2018-03-01 18:19] alohamora commented on #123
@Mec-iS For now, I have made a PR #144 which supports the following implementation:

- client makes a request
- server responds with basic authentication challenge (wihout a nonce)
- client passes username and password
- server checks credentials and responds with a token (valid for infinite days)
- the client can connect to the endpoints using the token.

[2018-03-01 18:19] IamRaviTejaG commented on #123
@Mec-iS How about using PGP? The client generates a key pair which is stored locally. The server will have it's own key pair. The client makes a request intended to the server which contains the data and once validated on the server, the server responds with a token. This reduces the load on server (no need to generate the nonce), and furthermore, any communication between the client and the serve

[2018-03-01 18:26] alohamora commented on #123
I was thinking to shift to `Digest authentication ` to implement nonce based authentication, in that the server shall respond with a nonce and the client shall respond with a cumulative hashed response of the password,username and nonce. @Mec-iS what do you think about this??

[2018-03-01 18:34] Mec-iS commented on #123
At the moment we don't have any solid and tested authentication method, so these considerations can be postponed.

Wait to have a working and merged basic solution, then you can think about adding complexity. For now generating a simple random string as nonce is fine (nonce expires in few minutes), the username and password can or cannot be encrypted using the nonce as a seed. Using digests is jus

[2018-03-01 20:38] chirag-jn commented on #140
I have added test cases for invalid id and invalid password by changing the id and password in the test cases from default "1" and "test" respectively.

[2018-03-02 00:30] suryatejreddy opened #149 "Open API to Hydra Parser"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

To implement this, we can use existing Hydrus classes to create objects from the Open API doc. The following workflow was recommended by @Mec-iS .
OpenAPI YAML -> hydrus classes -> HYDRA ApiDoc
I am currently working on porting the basic HYDRA functionalities (GET, PUT, POST methods; classes, collections)

More suggestions are welcome.

[2018-03-02 09:07] xadahiya commented on #137
Hi @IamRaviTejaG , the main idea is to demonstrate how Hydrus and hydra draft can be used to avoid using hardcoded clients. The clearer we can demonstrate this, the faster user adoption will grow for Hydrus and [Hydra draft](https://www.hydra-cg.com/spec/latest/core/#). Last year we used [hydra-flock-demo](https://github.com/HTTP-APIs/hydra-flock-demo/) to demonstrate this behavior but things got

[2018-03-02 09:13] xadahiya commented on #140
We still need tests to check how hydrus responds when unauthorized users visit different server endpoints like collection endpoints (For example `/serverapi/DroneCollection/1`).

[2018-03-02 10:03] tibi77 commented on #140
Right now it hydrus is associating my ip(or other token of some sorts) with my ip and pass. Wouldn't it be better to ask for authentication every time we try to connect?
Also I think i can do the different users endpoints thing :smiley:.

[2018-03-02 10:07] tibi77 commented on #47
The solution of this issue should be a prediction of some sorts or a paper with possibilities of development and some ideas how they can be achieved?

[2018-03-02 15:09] chirag-jn commented on #140
@xadahiya, please tell that testing for only one endpoint is sufficient, or we have to check for multiple?

[2018-03-02 15:28] xadahiya commented on #140
@chirag-jn  you can divide the endpoints into categories like Collection endpoints, Entprypoint, Context endpoints and Data endpoints (where the actual data lives for example `/serverapi/DroneCollection/1`). Then write tests for each category.

[2018-03-02 15:32] chirag-jn commented on #140
Oh Okay

[2018-03-02 15:33] chirag-jn commented on #140
@xadahiya, if I am not wrong, the tests remain the same for all endpoints, it's just that the URL inside self.client.get() changes?

[2018-03-02 17:10] Mec-iS commented on #47
Yea a design proposal would be great, but first it is needed a broad understanding about how `hydrus` has been designed and is working.

[2018-03-02 17:13] Mec-iS commented on #140
About authentication and token-based authorization see also #123

[2018-03-03 14:26] Mec-iS commented on #64
Working PR is #150, others are duplicates

[2018-03-03 14:26] Mec-iS commented on #95
Merged #116

[2018-03-03 14:26] #95 closed

[2018-03-04 09:51] py-ranoid opened #152 "Distinguishing between missing credentials and incorrect credentials in app.py"
### I'm submitting a
-  feature request.

### Current Behaviour:
failed_authentication() is called when credentials are missing as well as when credentials are incorrect.

### Expected Behaviour:
Add a parameter `missing : bool` to `failed_authentication()` to return (when credentials are missing)
[code]
and (when credentials are incorrect)
[code]
### Do you want to work on this issue?
Yes

[2018-03-04 12:18] Mec-iS commented on #149
NOTE: In the beginning it is possible to start with a Hydra ApiDoc >> OpenAPI parser if it is an easier way

[2018-03-04 12:23] Mec-iS commented on #120
This converged into #123

[2018-03-04 12:23] #120 closed

[2018-03-04 12:24] Mec-iS commented on #102
Merged

[2018-03-04 12:24] #102 closed

[2018-03-04 12:54] suryatejreddy commented on #149
@Mec-iS could you elaborate on the Hydra ApiDoc >> OpenAPI parser. So you want to implement a parser that converts a Hydra ApiDoc to an OpenAPI.

[2018-03-04 14:50] Mec-iS commented on #149
Probably it is too difficult for now to code a parser OpenAPI->ApiDoc. Instead doing an ApiDoc->OpenAPI one may be doable.

[2018-03-04 15:12] suryatejreddy commented on #149
Okay. Any suggestions on how to start? @Mec-iS

[2018-03-04 15:32] Mec-iS commented on #149
Exactly.

`hydrus` is already a parser from JSON-LD (HydraClasses) to Python classes. From these Python classes it is needed to create an OpenAPI-compliant document (as JSON or YAML file).

[2018-03-06 16:57] Mec-iS commented on #123
You may find interesting [this post](https://instantdomainsearch.com/articles/streaming-json-jsons/)

[2018-03-07 11:03] Himanshi-Khandelwal opened #156 "Update Readme.md by adding virtualenv"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

Currently , there is no virtual environment present which lead to the installation of the packages system-wide.

### Expected Behaviour:

If virtual environment present , then the Python packages which are required in the project will be stored in a virtual environment localized to our project.
### Steps to repr

[2018-03-07 15:29] Mec-iS commented on #156
You are right about virtual environments, everything should use a dedicated environment.

hydrus is supposed to be run using Docker. Docker is already a containerization tool that provides isolation of the environment from the system on top of which is running. If the user wants to use Python virtualenv is free to do it, but I don;t think it should be added in the README as it is only one of the v

[2018-03-07 15:29] #156 closed

[2018-03-07 17:06] przdev opened #158 "Implementing GUI"
### I'm submitting a
- [x] feature request.

### Current Behaviour:
hydrus doesn't have GUI that user can easily setup server

### Expected Behaviour:
With hydrus GUI user can easily setup server with executable file like exe.

### Steps to reproduce:
With useage of Tkinter or other library we can provide GUI.

### Do you want to work on this issue?
yes

[2018-03-07 17:31] Mec-iS commented on #158
I think this could be a good idea but using a Web-based UI, there are other ideas about creating a debugging GUI for authentication in #144. Please elaborate your idea in the chat rooms by following [the guidelines](https://github.com/HTTP-APIs/hydra-ecosystem-wiki/blob/master/Starting-Material.md).

[2018-03-07 17:38] Mec-iS opened #159 "Changes Log"
### I'm submitting a
- [X] bug report.

### Current Behaviour:
We do not have a CHANGES_LOG.txt file

### Expected Behaviour:
According to MIT License compliance suggestions, the repository should have a CHANGES LOG file in the root

[2018-03-07 17:52] suryatejreddy commented on #159
What type of change_log should be generated? A very simple one could be `git log --oneline --decorate`, which would provide line by line history of commits and merges. Is this sufficient?

[2018-03-07 18:18] Mec-iS commented on #159
This is a nice start but going commit-by-commit could be too much. The output of git log should be grouped into features with short explanations. See [here](https://github.com/olivierlacan/keep-a-changelog) or other examples in other repositories.

[2018-03-08 12:19] vddesai1998 opened #160 "Add option to add database and server url in CLI"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

If we want to use a database file instead of using sqlite in memory database we can not give it as database url through cli.

### Expected Behaviour:

User will be able to give database and server url as argument in hydrus CLI
### Steps to reproduce:

### Do you want to work on this issue?

Yes

[2018-03-08 18:42] sandeepsajan0 commented on #110
hey @Mec-iS  as I read about Redis in a blog that

So, we should use Redis with existing database or we can use Redis as a primary database?

[2018-03-08 19:41] vddesai1998 commented on #110
@sandeepsajan0  I already have asked Lorenzo about it and he said we should include it in our proposal and then we'll decide

[2018-03-08 20:19] suryatejreddy commented on #159
Yes, I agree with you. What are your views on automating this? For example - https://github.com/skywinder/github-changelog-generator.

[2018-03-08 21:37] Mec-iS commented on #110
@sandeepsajan0 Redis is completely safe at the same level of a SQL database if we take some strong design decisions since the beginning. Everything you heard can be avoided by setting Redis properly and provide *replication* and *write-to-disk policies*. Redis is designed to support natively these features. Every DBMS is a single point of failure if it is run a single instance on a single machine.

[2018-03-08 21:41] Mec-iS commented on #159
I think we can start writing a changes log manually by aggregating commits into features. And then when we are going to use releases, every release's merge-message will contain the features that will be added to the changes log.

I think first we may need a template for merge messages also.

[2018-03-09 04:21] sandeepsajan0 commented on #72
hey @Mec-iS  as you mention above about two main subsets of classes and predicates are well defined [here](https://gsocchrizandr.wordpress.com/hydrus-models/). We can add this link to design page for a reference with a brief explanation.

[2018-03-09 06:12] przdev commented on #158
@Mec-iS I understand #144 but it's not same as i think. I want to make it like [this](https://a.fsdn.com/con/app/proj/xampp/screenshots/Screen%20Shot%202016-02-19%20at%2016.png/1).
This enable users to setup server without any command line or python programming.

[2018-03-09 07:37] KaranSharma-gawds commented on #99
@Mec-iS @xadahiya please review the PR #162 .

[2018-03-09 09:26] Mec-iS commented on #72
I think this should be moved to the WIKI repository https://github.com/HTTP-APIs/hydra-ecosystem-wiki

[2018-03-09 09:26] #72 closed

[2018-03-09 09:30] Mec-iS commented on #158
You should write a proposal and submitting it. Including your idea in the proposal along with others in the Ideas Page. Every student can submit up to three proposals. Having a panel from which startup Docker machines to serve hydrus agents can be interesting.

Please comment @chrizandr @xadahiya

[2018-03-09 10:42] xadahiya commented on #158
I don't think implementing a GUI for server deployment is that important as it's already pretty easy. Also, it'll be a lot less flexible in terms of deployment options like gevent, wsgi, nginx etc.

One other interesting thing that can be done using GUI is using it to help setting up the hydra vocabulary to customise the API structure and it's endpoints.

There are two things that can be done here

[2018-03-09 12:12] xadahiya commented on #160
Fixed with #161

[2018-03-09 12:12] #160 closed

[2018-03-09 12:53] przdev commented on #158
thanks for comment @Mec-iS @xadahiya .
I'll definitely do above two things with panel.

[2018-03-09 16:15] Mec-iS commented on #158
This is cool. I know there are really complex RDF-specific editors around, but having one for HYDRA vocabulary would be great. This would also improve our understanding about parsing JSON-LD.
Possibly it should start with representing the JSON-LD as a tree (that is a particular type of graphs). I remember [this application/service for building interactively knowledge maps](https://rainbird.ai) try

[2018-03-09 16:39] Mec-iS commented on #158
NOTE: I think this should be implemented in https://github.com/HTTP-APIs/python-hydra-agent
This way we can have a vocabulary-building plus testing environment in one tool.

[2018-03-09 18:27] vaibhavchellani commented on #158
@Mec-iS  i find this idea very interesting , i was working on qgis but qgis3 is not available for OSX currently so have to wait till released (building from source is a huge pain). Can you please elaborate on what is expected from this ? and if you could suggest some resources that would be great !

[2018-03-09 21:20] Mec-iS commented on #158
Let's move the discussion to https://github.com/HTTP-APIs/python-hydra-agent
Open a issue there please.

[2018-03-09 21:20] #158 closed

[2018-03-10 06:45] IamRaviTejaG commented on #159
@Mec-iS Do you mean a specific template for commit messages? If it is so, it can be of 3 parts:
1. Shortlog. (Max. 50 characters)
2. Commit body. (Max. 72 characters) (Not mandatory, but recommended).
3. Issue reference. (Use of fixes/closes word denoting if the commit fixes a bug or adds a feature).

Example:
[code]

[2018-03-10 07:36] IamRaviTejaG opened #165 "Differences in cli.py and main.py"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:
Currently, the files `cli.py` and `main.py` are independent and any changes made in the main.py file are not reflected back into the CLI interface. This way, the CLI runs an older version of the code.

### Expected Behaviour:
The CLI is expected to run always the latest version of the code, which will be possible

[2018-03-10 11:37] Mec-iS commented on #159
I mean **a template for Pull Requests**. So when they are merged changes log is the body of the PR message.

[2018-03-10 11:40] Mec-iS commented on #165
My general opinion is that if the CLI is using some code from the `main.py`, it should just load the code that is needed. For sure we don't want to have replicated code, but we also want segregation of concerns between basic functionalities and the CLI, that is an interface that access these functionalities. Interfaces shall be always something that are pluggable on-top of existing functionalities

[2018-03-10 12:03] Mec-iS commented on #152
Is this been implemented with the merged Authentication system at #144 ?

[2018-03-10 12:05] #135 closed

[2018-03-10 12:05] Mec-iS commented on #123
Merged in #144

[2018-03-10 12:05] #123 closed

[2018-03-10 13:19] Ankur-singh commented on #152
hey @py-ranoid !
can I work on this, if its still open ..??
This is my first time, any suggestion is welcome.

[2018-03-10 14:36] chrizandr commented on #152
It has been implemented in #144

[2018-03-10 14:36] #152 closed

[2018-03-10 17:16] Mec-iS opened #167 "CLI: add command to upload data from a JSON or CSV file"
### I'm submitting a
- [X] feature request.

### Current Behaviour:
To bulk-load data in the server the only possibility is to send PUT requests to the endpoint

### Expected Behaviour:
Data can be loaded by running a command, pointing to a local text file.

[2018-03-11 00:15] Ankur-singh commented on #64
I went through the click package documentation. I think it’s pretty handy for our task . Can you please mention some functionality that are to be achieved by the CLI so as to start with.

[2018-03-11 08:09] ashwani99 opened #169 "requirements.txt is missing in develop branch"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:
Currently the `requirements.txt` file containing dependencies is missing in the `develop` branch. The dependencies are hardcoded inside setup.py file. There is a better way to list the dependencies inside requirements.txt and read the content from the setup.py file. This way setup.py becomes cleaner.

### Expecte

[2018-03-11 08:11] ashwani99 opened #170 "Incorrect shebang line"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:
setup.py file contains incorrect shebang line as `# !/usr/bin/env python`

### Expected Behaviour:
The correct shebang line should be `#!/usr/bin/env python`

### Steps to reproduce:
Open setup.py file and see the shebang line

### Do you want to work on this issue?
yes

[2018-03-11 10:24] ashwani99 commented on #159
@Mec-iS There is already a template for PRs https://github.com/HTTP-APIs/hydrus/blob/master/.github/PULL_REQUEST_TEMPLATE.md

Also, don't you think entry in changes log for every merged PR is an overhead? Can we do this every release?

[2018-03-11 10:31] IamRaviTejaG commented on #64
@Ankur-singh Please have a look at this file [https://github.com/HTTP-APIs/hydrus/blob/develop/cli.py](cli.py) to know what has been implemented already, go through this PR #168 to know what is being proposed. If you have any improvement over and above these, just create a new PR. 😄

[2018-03-11 11:38] Mec-iS commented on #169
It can be an idea to parse the dependencies into the `setup.py` file from an external `requirements.txt`. See [here](https://stackoverflow.com/a/16624700/2536357)

[2018-03-11 11:51] Mec-iS commented on #159
Then a solution may be to add to the PR template a section changes log where the major features/fixes of the PR have to be listed. So at release time we can can just copy and paste into the changes log file the most relevant features/fixes added by each PR. For the PR that have small fixes or less relevant, we just don't add them to the file.

[2018-03-11 11:52] Mec-iS commented on #64
Documentation is also in the [CLI page of the wiki](https://github.com/HTTP-APIs/hydra-ecosystem-wiki/blob/master/CLI.md)

[2018-03-11 12:32] ashwani99 commented on #159
@Mec-iS That would be better. Then it's easier to manually update the change log. I will go ahead and add the section in the PR template

[2018-03-11 15:58] Mec-iS commented on #159
From now on, at every release the most relevant features in the PRs' messages have to be collected into a `CHANGELOG.txt` file

[2018-03-11 15:58] #159 closed

[2018-03-11 16:48] IamRaviTejaG commented on #137
Does this project need to use some sort of Natural Language Processing modules for understanding what the query actually is, and then interpret into machine level Hydra mode of communication?!

[2018-03-11 17:15] py-ranoid commented on #167
@Mec-iS Is it okay to add `pandas` as an additional dependency ?
This will help read from a variety of formats (`excel`,`pkl`,`json`,`csv`,`tsv`, SQL queries and a lot more)

However it also has a number of modules for processing data that we don't need, (keeping in mind that hydrus was meant to be "lightweight")

[2018-03-11 17:24] Mec-iS commented on #167
Always use standard library tools. Standard library has a `csv` and `json` package. The use of `pandas` is not justified at the moment.

[2018-03-11 19:51] chrizandr commented on #167
When you say data, you mean instances of objects that the API serves right?

I think it could be handy to have some text file having some preloaded data that can load instances right away. But we would need to define the format of such a file.

[2018-03-11 21:09] Mec-iS commented on #167
Yeah with data I mean instances/objects that are actually served by the interface (the one we store using the PUT method on the `Items` endpoint).

Using standard formats is always the way to go. Probably would be better to support, beside JSON, also the [different serialization formats for triples](https://en.wikipedia.org/wiki/Resource_Description_Framework#Serialization_formats) for backward co

[2018-03-11 21:15] #98 closed

[2018-03-11 21:15] #140 closed

[2018-03-12 08:10] IamRaviTejaG commented on #137
@Mec-iS @xadahiya Should this be made something similar to GitHub search? GitHub search uses something like `is:open author:IamRaviTejaG`, etc format for searching. Similar system can be developed which will then pass the query into API appropriately and the data will be output accordingly. The user then doesn't need to understand the whole API structure.

[2018-03-12 12:04] Mec-iS commented on #137
I think this task is more about the question: how do we change APIs semantics or endpoints path or anything else in the server without modifying code?
So the idea is to design a procedure that allows the API developer to change the structure of his/her API (endpoints, path, response bodies, etc) by changing the `ApiDocumentation` without touching anything else in the server.

[2018-03-12 12:35] ashwani99 commented on #169
Closed via #171

[2018-03-12 12:37] #169 closed

[2018-03-12 12:38] #170 closed

[2018-03-12 12:46] alohamora opened #173 "Designing authorization policies"
### I'm submitting a
- [ ] feature request.

### Current Behaviour:

Currently, the users can be registered only by the server creator using `add_user` function, so there is no option to extend the user base of the API.
### Expected Behaviour:

The users will be able to register themselves on the API using a `/serverapi/register` URL by posting their credentials and would be able to access the res

[2018-03-12 12:56] xadahiya commented on #173
We should discuss this first. Do we really want to provide users the ability to sign up themselves? This falls under **`1.3 More User defined Controls for the server`**.
For example, there can be some sensitive data on our API that only registered users can see. Doing this will defeat that purpose as anyone will be able to sign up and see it.

I agree there should be a `register` endpoint but only

[2018-03-12 13:05] alohamora commented on #173
@xadahiya Yes, you  are correct and this is just a starting point for the above mentioned project, as I am working on `Role based access control` methods for the GSOC proposal, so this will evolve in a admin and user based authentication where admin shall decide the role and access limits of the user.
So I am planning to work on improving this as per the specifications you provided  in the coming

[2018-03-12 13:05] Mec-iS commented on #173
I see some misunderstanding in the scope and the scenarios that hydrus has to tackle.

Please always consider that the "users" of the API we are talking about when speaking of Hydra are automated clients. Hydra is primarily a technology to make automated agents to exchange data, so everything in hydrus should be designed with this as primary constraint.
"Users" (aka other machines in the same APIs

[2018-03-12 13:08] xadahiya commented on #173
Thanks for the clarification @Mec-iS

[2018-03-12 13:12] alohamora commented on #173
Thank you for the clarification @Mec-iS
So for the project regarding `Adding user based controls` for the user does the hydrus server wish to incorporate a `Role based access control` system where the access control of the customers can be dynamically modified by the admins of the hydrus server.

[2018-03-12 13:24] Mec-iS commented on #173
Yeah, but remember there are no customers in Hydra, **consumers** of the data served by hydrus are automated clients in a network of servers/APIs. This modifications you talk about can take place only through "super-user" control on the infrastructure (like changing configurations in the containers or through changing the ApiDoc; Hydra-core vocabulary does not define by-design authorization featur

[2018-03-12 14:54] Mec-iS commented on #167
Note: we don't have a database configuration file yet? Database choice should be defined at deploy time (sqlite by default). The app should know already where its storage is, without the CLI user to specify.

[2018-03-12 20:37] suryatejreddy commented on #149
A get request on `/serverapi/dummyClassCollection` returns the following json

[code]
However, there is no way to access the `dummyClass` object. Because `/serverapi/dummyClassCollection/1` returns the following error.

[code]
Shouldn't the first get method return a list of `dummyClassColelction` items with the respective properties?
Or is there something i am missing out on? @Mec-iS

I am trying

[2018-03-13 05:45] alohamora commented on #173
@Mec-iS  @xadahiya  I have created a basic layout for authorization with the API using the `OAuth` framework design. Here is the class diagram of the same:

![document 1](https://user-images.githubusercontent.com/30872134/37324124-a8f29c14-26ad-11e8-81cb-2460721c00fb.jpg)

Basic properties of the system
- The clients/users registered will be registered with the API at the time of deployment.
- The

[2018-03-13 11:18] chrizandr commented on #149
Actually this was done to make the server similar to Markus's issues API. You can check it out on his website. You could return IDs to access each instance separately or give a list of instances, both are possible but we went ahead with the former.

As for the error message, better if you open an issue about it.

[2018-03-14 15:37] Mec-iS commented on #173
For "Client" in the picture you mean some kind of monitoring/testing/querying Web-Javascript UI?

Please be more specific with definitions. This is a use-case that should clarify, we have these sets of agents in the network we are trying to build:
* user A deploys 1 (or a generic number N) `hydrus` machine(s) (hydrus machines are both Hydra clients and servers). The elements in this network are de

[2018-03-14 15:41] Mec-iS commented on #149
@suryatejreddy The reason for an Hyperlinked API (API supporting Hypermedia) is that some of the endpoints can return links to other resources instead of plain data. Collections as you have described them are implemented to return only hypermedia, leaving to the client the possibility of going and fetching the full object with the properties.

[2018-03-14 15:57] alohamora commented on #173
@Mec-iS
The `client` in the above picture corresponds to the `user A` as you specified and the `Automated agents` shall be the external users which shall have to authenticate using `OAuth`.
Please correct me if I am wrong.
Also I have started to build a proposal on this...so please suggest me any other specifications regarding the nature of authentication or level of control.
a doubt - Can there b

[2018-03-14 19:39] Mec-iS commented on #173
New user and credentials can only be added by somebody that has super-user privileges.

For now this makes things too complicated in terms of concurrent access, but in general it is a good practice to have two super-users to lower the possibility of locking out because of compromised keys.

For external users (user B), the user is the client, I don't understand this distinction. User B access the

[2018-03-14 19:58] Mec-iS commented on #173
As I have already specified, the super-user is the only allowed to create client credentials.

As I have already stated above, we are not developing end-user APIs, this is beyond the scope of the task. The external client's credentials are credentials generated by a super-user for one client not for a human-user. The fact that a human-user may have different clients is not relevant at the moment,

[2018-03-14 20:05] alohamora commented on #173
@Mec-iS
Thanks for clearing that out...will keep in mind from now.
Also I am preparing a proposal for `Adding user based controls` and I wish to also incorporate authentication using OAuth in that, so if you can give any suggestions or any specifications for the same...it would be really helpful.
Thanks in advance...!!

[2018-03-15 02:13] xadahiya commented on #165
Fixed with #166

[2018-03-15 02:13] #165 closed

[2018-03-16 10:04] Mec-iS opened #174 "Querying: Linked Data Fragments"
### I'm submitting a
- [X] feature request.

### Current Behaviour:
hydrus has no support for :
* [Linked Data Fragments](http://www.hydra-cg.com/spec/latest/linked-data-fragments/)
* [Triple Pattern Fragments](http://www.hydra-cg.com/spec/latest/triple-pattern-fragments/)

hydra-cg.com states:

API and client designs to publish and query Linked Data at Web-scale
Get familiar with Linked Data Frag

[2018-03-16 10:09] Mec-iS opened #175 "Retrieving specific subsections of an object"
### I'm submitting a
- [X] feature request.

### Expected Behaviour:
Should be possible to retrieve parts of an object or objects by using an endpoint like `http://localhost/api/drone/1#speed`, in this case the API should return something like:
[code]

[2018-03-16 16:30] ashwani99 opened #176 "demo.py: No module named doc"
### I'm submitting a
- [x] bug report.

### Current Behaviour:
Running `demo.py` raises `ModuleNotFoundError`

### Steps to reproduce:
Run the following commands:
[code]

### Do you want to work on this issue?
Yes

[2018-03-16 16:32] ashwani99 commented on #176
@Mec-iS  Should the files needed for executing demo.py put in a separate directory?

[2018-03-16 17:20] Mec-iS commented on #176
Is hydrus directory in the `PYTHONPATH` of the environment you are using?

[2018-03-16 17:37] ashwani99 commented on #176
@Mec-iS Yes it is. Actually the error is happening because the location of `main.py` was changed in this [commit](https://github.com/HTTP-APIs/hydrus/commit/97308c10fde33286ac6c90e9a0e681f558c11196) and renamed to `demo.py`

[2018-03-16 20:30] IamRaviTejaG commented on #176
@Mec-iS @ashwani99 The above PR fixes the issue. Please have a look.

[2018-03-16 20:43] ashwani99 commented on #176
Sure it fixes the issue but I think it makes the repo little unorganized. As `demo.py` is an example script it should be put inside `examples` to separate out from the actual code as it has nothing to do with the code for hydrus.

[2018-03-17 02:44] py-ranoid commented on #175
Could we use URL-encoded parameters instead ?
Something like `http://localhost/api/drone/1?attr=speed`

Because according to this [answer](https://stackoverflow.com/questions/18752995/how-to-get-access-to-the-url-segments-after-a-in-python-flask)

[2018-03-17 06:23] anubhav253 opened #178 "Expired token should be removed from the database"
### I'm submitting a
- [x] bug report.

### Current Behavior:
We are storing the token in our database which get expire after 45mins. With this expiration the token should also be removed from the database. As it will unnecessarily increase the size of database.

https://github.com/HTTP-APIs/hydrus/blob/a13f3d0a5cc1d2e62bb0c5e2d67705f962b6ad5c/hydrus/data/user.py#L88

### Expected Behavior:
We sho

[2018-03-17 11:19] Mec-iS commented on #175
In fact fragments are a client-side feature according to RFC. So should be up to the Hydra client (hydra-agent) to map `#speed` to `?attr=speed` when dereferencing and the opposite for hydrus when referencing. But it is something that we should keep for later.

This is a part of the client-server protocol so we should remember that when designing the client. The [current client](https://github.com

[2018-03-17 11:40] Mec-iS commented on #175
Moved to https://github.com/HTTP-APIs/python-hydra-agent/issues/3

[2018-03-17 11:40] #175 closed

[2018-03-17 14:19] ashwani99 commented on #178
I want to add a tiny point to this. Please consider changing the variable name https://github.com/HTTP-APIs/hydrus/blob/a13f3d0a5cc1d2e62bb0c5e2d67705f962b6ad5c/hydrus/data/user.py#L87
The variable name is ambiguous, as it calculates a `timedelta` but it is named as `present`.

[2018-03-17 14:24] anubhav253 commented on #178
@ashwani99 - yeah sure will consider that changes as the name _present_ isn't appropriate here.

[2018-03-17 14:24] alohamora commented on #178
@ashwani99 Thanks for pointing that out

[2018-03-17 14:26] anubhav253 commented on #178
@alohamora - yeah i think we should use redis here for storing the token. your opinion ?

[2018-03-17 14:37] alohamora commented on #178
@anubhav253   Actually I dont know much about redis so I cannot comment on that for now.
As far for deleting the records using sqlalchemy I think we need to run a `cron` job scheduled to run each min to delete records.
Also as per the user model suggested by @Mec-iS  there can be only a fixed no of users/clients which are designated to use the api and according to the current logic of updating the

[2018-03-17 15:59] Mec-iS commented on #178
Check this [blogpost](http://tecladocode.com/blog/learn-python-defining-user-access-roles-in-flask/) for hints about users management.

For now, just check for expired tokens every time the server checks a token. In pseudo-code:
[code]

There can be the corner-case in which an old token is expired and a new token is issued for the same client. The one-to-one ratio between client and token is not r

[2018-03-20 10:48] mehtavishwa30 opened #180 "setup.py: Missing requirements"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:
The setup.py file is missing some requirements under install_requires.

### Expected Behaviour:
The file should contain the following packages:
         gevent==1.2.2
         greenlet==0.4.12

### Do you want to work on this issue?
Yes

[2018-03-20 10:59] ashwani99 commented on #180
@mehtavishwa30 `gevent` is already present [here](https://github.com/HTTP-APIs/hydrus/blob/develop/requirements.txt). And we don't require `greenlet` in our current repo.

[2018-03-20 11:22] mehtavishwa30 commented on #180
@ashwani99 isn't `greenlet` among the required packages? It's in the requirements.txt file of the repo.

[2018-03-20 14:06] ashwani99 commented on #180
@mehtavishwa30 No it's not used as for the current state of development. You can also cross check it from the `develop` branch itself.

[2018-03-20 17:31] mehtavishwa30 commented on #180
@ashwani99 sure. Thanks for this.

[2018-03-20 18:46] ashwani99 opened #182 "Port number is not specified for server endpoint URL"
### I'm submitting a
- [x] bug report.

### Current Behaviour:
The port number is not specified for the API endpoint URL the server is exposed to. It may lead to a scenario where the client is unable to find the server or try to access a different program in the host machine.

### Expected Behaviour:
The port number of the server endpoint should be specified in the server URL so that client is abl

[2018-03-21 09:08] gautamamber commented on #182
I want to work for this issue. I will work with "http:127.0.0.1:8080/localhost"  to get all the resources by which client will access rest of the program.

[2018-03-21 16:35] Mec-iS commented on #174
**NOTE:** General overview for the architecture for the TPF querying feature:
1. The client represents the subsets as a TPF `? ? someObject`
2. The client passes the query to the server in a server-understandable format, that can be: http://localhost/api/someClass/tpf?s=query?p=query?o=someObject
3. The server parse the fragment into its internal querying language, that can be CYPHER for Redis Lib

[2018-03-22 14:07] vaibhavchellani commented on #149
@Mec-iS the Open Api documentation that has to be imported and converted to Hydra API documentation has to be given in YAML/JSON or both ? What would be the best approach ?

[2018-03-22 14:15] Mec-iS commented on #149
This is not a big difference as YAML can be easily re-serialized into JSON. Start with JSON that is closer to JSON-LD.

[2018-03-22 14:41] vddesai1998 opened #184 "Replace if else statement in utils.py with try except block"
### I'm submitting a
- [x ] bug report.
- [ ] feature request.

### Current Behaviour:

On each request we are making some calls to functions in utils.py to get objects (like api_doc).
In utils.py we are having an unnecessary if-else block in every get_* methods which checks the if condition whenever we try to get an object
like this
[code]

### Expected Behaviour:

We can replace it with try exce

[2018-03-22 15:03] ashwani99 commented on #184
This would not work as if the `doc` attribute is not found then `apidoc` will be assigned value `None`. Also it will not throw `KeyError`. A solution for this can using `try-except` block would be:
[code]

[2018-03-22 15:30] vddesai1998 opened #185 "get_authentication method is defined two times in utils.py"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

utils.py have two declarations of get_authentication method

### Expected Behaviour:

One should be removed
### Steps to reproduce:

### Do you want to work on this issue?

Yes

[2018-03-24 04:27] xadahiya commented on #185
fixed with #186

[2018-03-24 04:27] #185 closed

[2018-03-24 04:27] xadahiya commented on #184
Fixed with #186

[2018-03-24 04:27] #184 closed

[2018-03-24 04:30] #180 closed

[2018-03-24 06:38] xadahiya commented on #176
Fixed with #177

[2018-03-24 06:38] #176 closed

[2018-03-24 08:49] Shekharrajak opened #188 "Double requirement given: Click"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:
Double requirement given in branch `develop`: Click
2 times at [line 25]( https://github.com/HTTP-APIs/hydrus/blob/cdb72e4a4fc7e6b788387f6d2ec8422b486a1031/requirements.txt#L25) and [line 10](https://github.com/HTTP-APIs/hydrus/blob/cdb72e4a4fc7e6b788387f6d2ec8422b486a1031/requirements.txt#L10)

### Expected Beha

[2018-03-24 13:28] vddesai1998 commented on #174
What kind of effect someClass will have on the query?
Can't it be http://localhost/api/tpf?s=query?p=query?o=someObject
to expose the whole dataset?

[2018-03-25 02:26] xadahiya commented on #188
Fixed with #189

[2018-03-25 02:26] #188 closed

[2018-03-25 15:57] py-ranoid commented on #64
While it might be little late to suggest this since work on Click has already begun..
Why not sure [Fire](https://github.com/google/python-fire) to implement the CLI ?

The author of Fire, @dbieber compares Fire and Click [here ](https://www.reddit.com/r/Python/comments/5x8wdv/introducing_python_fire_a_library_for/):

[2018-03-29 14:24] vddesai1998 opened #190 "Use custom exceptions instead of general exception"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

In app.py we are using general exception which is too broad and can hide other bugs.
ex.
[code]
### Expected Behaviour:

It should be replaced with custom exceptions.
ex.
[code]
### Steps to reproduce:

### Do you want to work on this issue?

Yes

[2018-04-26 10:43] #110 closed

[2018-04-26 10:45] Mec-iS commented on #47
The general architecture has taken shape as in https://github.com/HTTP-APIs/hydra-ecosystem-wiki/blob/master/Design.md

[2018-04-26 10:46] Mec-iS commented on #21
The workflow draft is been worked at https://github.com/HTTP-APIs/hydra-ecosystem-wiki/blob/master/Workflow.md

[2018-05-12 23:02] Mec-iS commented on #174
This has been moved to https://github.com/HTTP-APIs/python-hydra-agent/issues/3

[2018-05-12 23:02] #174 closed

[2018-05-12 23:03] Mec-iS commented on #21
In progress at https://github.com/HTTP-APIs/hydra-ecosystem-wiki/issues/16

[2018-05-12 23:11] Mec-iS commented on #47
Architecture for server-side (`hydrus`) has been stabilised to SQL-based REST. Most of work moves to client-side (`python-hydra-agent`) with the current [GSOC tasks](https://github.com/HTTP-APIs/python-hydra-agent/labels/GSOC-2018).

[2018-05-17 17:43] chrizandr opened #193 "Mapping Hydra Objects to OpenAPI Objects."
Hydra representations of Objects needs to be mapped with OpenAPI objects.

The end goal is that given an OpenAPI Spec, we can generate an equivalent Hydra API Documentation that represents an API with the same functionality.

All discussions from #149 apply here.

Please specify features of the OpenAPI spec and we can discuss equivalent functionality in the Hydra spec.

[2018-05-17 17:43] chrizandr commented on #149
Added to #193

[2018-05-17 17:43] #149 closed

[2018-05-18 05:51] vaibhavchellani opened #195 "Basic Implementation Hydra ->Open Api parser"
### I'm submitting a
- [ ] bug report.
- [X] feature request.

Basic implementation of Hydra to Open Api definition , will converts most used objects of both and will generate a YAML file from Hydra Api Doc .
### Do you want to work on this issue?
Yes !

[2018-05-18 06:07] vaibhavchellani commented on #193
In OAS they reference the type of object they want in param from the definitions of objects the user defines in the doc .
View [this](editor.swagger.io) for example
How do i implement the readOnly, writeOnly here ?

Right now i am parsing the "classes" , making them the "title" of definitions and  "supportedProps" the "properties" . How do i put access control on this ?

The solution i have in min

[2018-05-18 06:25] chrizandr commented on #193
Could you give an example for more clarity? The link you provided does not seem to be working.

[2018-05-18 06:36] chrizandr commented on #195
Duplicate of #193

[2018-05-18 06:36] #195 closed

[2018-05-18 06:50] vaibhavchellani commented on #193
i updated the link , sorry for that .
Now that we are going for Open Api -> Hydra , i think i wont face this issue , will ask again if i do .

[2018-05-27 06:13] xadahiya opened #198 "Move samples from hydrus/hydraspec to a separate directory"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

These 4 files are present in hydrus/hydraspec
- doc_writer_sample.py
- doc_writer_sample_output.py
- hydra_doc_sample.py
- openapi_sample.py

### Expected Behaviour:

All these files should be moved to a separate directory. Create a new folder `samples` and move these file to that location.

### Do you want to w

[2018-06-04 13:15] vaibhavchellani opened #200 "Implementing array parameters as input"
### I'm submitting a
- [ ] bug report.
- [ X] feature request.

### Current Behaviour:

currently using hydrus we cannot accept arrays as inputs in requests .
### Expected Behaviour:

we would be able to handle requests like 'endpoint/[variable 1 , variable 2 , variable 3]

### Do you want to work on this issue?

yes , definitely

[2018-06-06 09:53] vaibhavchellani opened #201 "Implement user defined endpoints instead of class names"
### I'm submitting a
- [ ] bug report.
- [X] feature request.

### Current Behaviour:

Right now the endpoints are the same as class names which are defined by the user when defining classes  in apidoc.
### Expected Behaviour:

We will be able to defined endpoints will be user defined

### Do you want to work on this issue?

yes

[2018-06-06 09:53] vaibhavchellani commented on #201
@chrizandr waiting for your comment

[2018-06-12 05:13] chrizandr opened #203 "Single abstract method for OpenAPI parser"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

In OpenAPI parser, there are global variables such as `classAndClassDefinition` and `definitionSet` in L214 and L215 respectively. These variables are not explicitly declared as global, and are defined under the condition `if __name__ == "__main__"`. In case the methods of the parser are imported from another sc

[2018-06-15 12:53] xadahiya commented on #201
@chrizandr ^^ this is from the discussion we had on Gitter. Can you suggest anything?

[2018-06-15 13:02] xadahiya opened #204 "Write a parser to fetch the semantic references of simple enough classes"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

This is related to the discussion we had here https://docs.google.com/document/d/1J9PlcXUfu76lruJCb_1vKcQauL-J6H2wxZxqzdZO9dQ/edit

### Expected Behaviour:

Every class/property needs to have a semantic reference. If it's a complex object then define the object in vocab itself and provide semantic references to

[2018-06-15 13:05] xadahiya opened #205 "Failing Tests"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

Some of the tests in Hydrus are failing. Figure out what's wrong and update tests accordingly.

### Expected Behaviour:

All tests should pass.

### Do you want to work on this issue?

No

[2018-06-17 11:48] xadahiya commented on #201
Fixed in #206

[2018-06-17 11:48] #201 closed

[2018-06-18 04:59] vaibhavchellani commented on #204
do we actually need that ?
OAS supports some basic data types ,we can just hardcode them and use them directly .
User defines the objects like this usually:
1. `id:
        type: integer
        format: int64`
2. `User:
    type: object
    properties:
      id:
        type: integer
        format: int64
      username:
        type: string`
3. `User:
    type: object
    `

3rd method is not rec

[2018-06-18 04:59] vaibhavchellani commented on #204
@xadahiya ^^

[2018-06-18 05:06] vaibhavchellani opened #207 "Tests for Parser"
### I'm submitting a
- [ ] bug report.
- [X] feature request.

### Current Behaviour:

We dont have any unit tests for the parser implementation till now which makes testing difficult .

### Expected Behaviour:

Unittests will improve our testing procedure drastically and make the process faster .

### Steps to reproduce:

### Do you want to work on this issue?

YES !

[2018-06-18 05:32] xadahiya commented on #204
Of course, we do. See you can break any complex type into simpler ones and define them using `vocab:SomeObject` but for simpler properties, we need semantic references. For example in this case,
You can first define provide a reference to User as `vocab:User` but then you'll need to provide semantic references to User properties. `Id` will have reference to `https://schema.org/identifier` the same

[2018-06-18 05:40] vaibhavchellani commented on #204
User will give semantic references in the OAS spec if its not in the doc i think . If the class is defined in the doc then we can parse the class and props directly other wise we will use the semantic ref given by user . If we dont have either of the above then i think we may need the parser we are talking about ,but it seems a bit ambiguous as the user might have something else in mind while sayi

[2018-06-18 05:58] xadahiya commented on #204
We need to provide semantic references to these properties the user has defined for any object.

I agree with you. We can't generate everything using the parser but we need to reduce the effort needed for porting as much as we can. The user can go through the generated APIDoc and can manually update the semantic references that are not correct. This will reduce his work significantly though.

[2018-06-18 06:08] vaibhavchellani commented on #204
yes , makes sense .
Beautiful Soup should be good enough to do the job right ?

[2018-06-18 07:14] vaibhavchellani commented on #204
hey @xadahiya i thought parsing schema.org should do the trick , but they use their custom search engine to get the results , we could build our own search engine too but that would be too much for a simple things i think . if i google "searchString site:schema.org" gives me the same results i had on schema.org .

How should we get the semantic references according to you ?

[2018-06-20 12:57] vaibhavchellani commented on #200
@xadahiya what would be the use case for this feature ?

[2018-06-20 13:01] xadahiya commented on #200
We discussed the use cases in detail on gitter. Check that

[2018-06-21 16:52] vaibhavchellani opened #211 "Make references Dynamic"
### I'm submitting a
- [X] bug report.
- [ ] feature request.

### Current Behaviour:

Right now we are only able to accept semantic refs which are only 1 level deep , like '#definitions/className" however we should have done this dynamically so that we can accept refs like "#definitions/location1/location1.location2/location1.location2.location3/className" and so on .
### Expected Behaviour:

We

[2018-06-22 05:12] vaibhavchellani commented on #211
fixed in #212

[2018-06-22 10:58] vaibhavchellani opened #213 "Add all definitions to Api Doc not only definitions which have paths"
### I'm submitting a
- [X] bug report.
- [ ] feature request.

### Current Behaviour:

Currently we are only adding classes which have a path associated with them , but we should have all the defined classes in the doc so that other classes can have semantic refs to those
### Expected Behaviour:

we will add all the classes with definitions in classAndClassDefinition and definition set in the api

[2018-06-24 07:31] vaibhavchellani commented on #203
fixed in #208

[2018-06-24 07:31] #203 closed

[2018-06-24 15:13] Mec-iS commented on #193
https://github.com/HTTP-APIs/hydra-ecosystem-wiki/issues/36

[2018-06-24 15:46] Mec-iS commented on #21
The basics of the user experience have been defined in the wiki

[2018-06-24 15:46] #21 closed

[2018-06-24 15:46] Mec-iS commented on #47
A system for unique ids for instances have to be established.

[2018-06-24 15:52] Mec-iS opened #215 "Uniqueness of IDs"
### I'm submitting a
- [X] bug report.
- [X] feature request.

### Current Behaviour:
For the purpose of the hydra-agent to identify every node in its graph uniquely and make it point to the right hydrus resource, it cannot rely on database's primary keys as they may change as pk are dropped and substituted. So possibly we need a way to identify every resource instance uniquely in hydrus adn the a

[2018-06-24 16:02] Mec-iS opened #216 "Add created/updated attributes for Instance model"
### I'm submitting a
- [X] feature request.

### Expected Behaviour:
We shall be able to track creation and updating datetime of the instances for server/client sync reason.

### Solution
Add a `created` and `updated` attributes [here](https://github.com/HTTP-APIs/hydrus/blob/master/hydrus/data/db_models.py#L36) using `default` and `onupdate` SQLAlchemy ` [arguments](http://docs.sqlalchemy.org/en/

[2018-06-24 16:04] Mec-iS opened #217 "Update codebase to Flask 1.0.2"
### I'm submitting a
- [X] feature request.

### Current Behaviour:
Codebase uses Flask 0.11

### Expected Behaviour:
As a stable version 1.0 for Flask has been released, Repository has to be ported to Flask 1.0.2

[2018-06-24 18:12] vaibhavchellani commented on #215
As far as i can understand the issue is assigning a unique ID to each object so that it can be accessed without fear of inconsistent data . For that the checksum idea is pretty cool , for generating the hash can we consider md5("name+timestamp) , i think this could fairly reduce possible collisions and can be computed quickly.

[2018-06-25 16:01] xadahiya opened #218 "Implement the checksum mechanism we discussed over mail."

[2018-06-25 16:06] #205 closed

[2018-06-25 16:07] xadahiya opened #219 "Perfect the custom endpoint mechanism for Hydrus."

[2018-06-25 16:43] vaibhavchellani commented on #200
@xadahiya in (this)[https://github.com/HTTP-APIs/hydrus/blob/master/hydrus/app.py#L218] if we change the data type of id to array and just iteratively perform the task of updation would it be a good solution ?

[2018-06-25 17:17] xadahiya commented on #200
Don't you think we need to edit get() not post() for this?

[2018-06-25 17:21] vaibhavchellani commented on #200
I cannot think of a use case for get() , i have use cases for post where user would want to create or edit multiple objects . To support something like this we need to edit post and put
[code]

[2018-06-25 17:37] xadahiya commented on #200
Yeah, as far as I remember we had some cases like `findByStatus` and `findByTags` but I think this will require complex CRUD functionality. So, if you want, you can postpone the get part for now.

This can work but it won't be efficient. Sqlalchemy provides functions for bulk operations like `bulk_save_objects()` to do such operations more efficiently. See this http://docs.sqlalchemy.org/en/rel_1_

[2018-06-25 17:39] vaibhavchellani commented on #200
yes i agree , thank you !

[2018-06-28 02:10] #211 closed

[2018-06-28 02:11] #213 closed

[2018-06-28 15:52] xadahiya commented on #215
Not every object will have a name property. You can see State or Area data for example. The properties can highly vary and the best way to tackle this is to use some of the object properties ("Required ones") to generate the checksum.

Also, note that we have "required", "writeonly" and "readonly" properties for each class in the APIDoc so it makes sense to implement that mechanism and use it to g

[2018-06-29 09:21] vaibhavchellani opened #223 "Fix Documentation Errors and remove Print Statements"
### Current Behaviour:

RIght now the documentation has errors at some places , some places there is no docstring , at some instances the doc string is not updated , minor errors mostly but they cause some confusion . Also print statements need to be removed
### Expected Behaviour:

Proper and uniform documentation across the repo and no print statements

### Do you want to work on this issue?

ye

[2018-06-29 11:53] #219 closed

[2018-06-29 11:54] #217 closed

[2018-06-30 08:36] IamRaviTejaG commented on #215
@xadahiya Just my two cents! How about simple using the Python's `uuid` module. It generates a unique ID everytime.

[2018-06-30 09:39] Mec-iS commented on #215
@xadahiya yeah, that can be a solution that can let the client try to rebuild the uuid in case it needs to uniquely identify something

@IamRaviTejaG yeah, that would be the simplest and safest solution, but the client couldn't never find out what the uuid is

The best solution may be:
[code]
The problem is, how we define the order of properties.

[2018-06-30 10:59] IamRaviTejaG commented on #215
@Mec-iS Sorry to ask but is this an issue specific to the GSoCers or is it open to everyone?

[2018-06-30 11:07] xadahiya commented on #215
@IamRaviTejaG  as these tasks are already assigned to these guys I don't think it makes much sense for you to work on this as well. If you want to contribute you can create some issues and then start working on those or contact us, we can assign some tasks to you :smile:

[2018-06-30 15:03] xadahiya opened #225 "Use uuid as unique IDs to identify data in @id."
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

Use python Uuid to generate unique IDs instead of the ones assigned by the database to identify data in @id.

@sandeepsajan0  please ask any doubts here. Also, you should use the `agent-uuid` branch from now on.

### Do you want to work on this issue?

No

[2018-07-01 12:17] xadahiya commented on #225
@sandeepsajan0  have you started working on this? Let me know what doubts you had earlier

[2018-07-02 07:50] vaibhavchellani opened #226 "Implementing readOnly, writeOnly and Required Properties"
### I'm submitting a
- [ ] bug report.
- [X] feature request.

### Current Behaviour:

Right now although the doc contains properties like readOnly ,writeOnly , Required the functionality is not implemented in Hydrus. We need to implement this functionality so that we can have checksums instead of pk's or UUID's , advantage of that would be that client can reconstruct the checksum to check what is

[2018-07-04 08:06] vaibhavchellani commented on #225
fixed in #227 , closing .

[2018-07-04 08:06] #225 closed

[2018-07-04 08:06] vaibhavchellani commented on #223
closing

[2018-07-04 08:06] #223 closed

[2018-07-04 08:08] vaibhavchellani commented on #215
@Mec-iS @xadahiya can this be closed since i think we have discussed how to implement and we have
issues #216  #218 #226  that implement this .

[2018-07-04 08:32] #215 closed

[2018-07-04 18:53] vaibhavchellani opened #229 "Implement New features of hydrus in parser"
### I'm submitting a
- [ ] bug report.
- [X] feature request.

### Current Behaviour:

Right now the parser is only able to handle a very small subset of possible endpoints in OAS , we have added some great functionality to Hydrus which would allow the parser to increase the size of the subset .
### Expected Behaviour:

We would be able to parse a greater amount of possible endpoints
### Steps to

[2018-07-05 15:05] vaibhavchellani commented on #229
https://github.com/vaibhavchellani/hydrus/tree/OAS_new

[2018-07-06 03:16] vaibhavchellani opened #230 "Add Exceptions and error handling for parser"
### I'm submitting a
- [ ] bug report.
- [X] feature request.

### Current Behaviour:

Right now the parser parses the Open api documentatin as is , if the api documentation has syntactical errors , they are ignored .Also if a specific thing cant be done in hydrus it should be pointed out so that user can change it .
### Expected Behaviour:

Errors in Open Api doc provided should be pointed out an

[2018-07-06 05:11] #84 closed

[2018-07-06 05:18] #193 closed

[2018-07-06 05:46] xadahiya commented on #167
@vaibhavchellani ^^

[2018-07-06 18:57] xadahiya commented on #200
Fixed with #224

[2018-07-06 18:57] #200 closed

[2018-07-07 00:33] vaibhavchellani commented on #229
fixed in #231

[2018-07-07 00:33] #229 closed

[2018-07-10 03:27] xadahiya opened #235 "Warning while running 1 test"
### I'm submitting a
- [x] bug report.

### Current Behaviour:
Getting this warning while running tests on hydrus.
![selection_079](https://user-images.githubusercontent.com/9114274/42487553-1adeaf9c-841f-11e8-9878-7424e374d59b.png)

### Expected Behaviour:

There should be no warnings
### Steps to reproduce:

Run tests using `python -m unittest` in hydrus tests directory.
### Do you want to work

[2018-07-10 03:29] xadahiya opened #236 "Remove the legacy code folder."
Old code is not being used anywhere, we should remove the `hydrus/data/legacy` folder.

[2018-07-10 03:49] xadahiya opened #237 "Incorrect urls from parser generated doc"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

All the Urls generated from the parser doc have incorrect urls.
![selection_080](https://user-images.githubusercontent.com/9114274/42488262-4bd6ebfc-8422-11e8-8650-1f2129f9ee05.png)

### Expected Behaviour:

Urls should be correct
### Steps to reproduce:

Run hydrus using the parser generated doc
### Do you want

[2018-07-10 03:50] xadahiya commented on #237
@vaibhavchellani  Did you even try running hydrus using the parser? There are a lot of errors

[2018-07-10 03:54] xadahiya opened #238 "Extra paths in entrypoint"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

There are several extra paths in the entrypoint. For example `Order`, `Pet` and `User` should not be there.
See this
![selection_080](https://user-images.githubusercontent.com/9114274/42488343-b0b28a04-8422-11e8-96b6-c5d21073406b.png)

### Expected Behaviour:

Only relevant urls should be there in the `entrypoin

[2018-07-10 04:00] vaibhavchellani commented on #237
@xadahiya yes but after the PR was merged , i have already made changes and corrections but did not create a PR coz of second deadline

[2018-07-10 04:07] xadahiya opened #239 "All crud tests are failing"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

All crud tests either have warnings or they're failing.
[code]
### Expected Behaviour:

All tests should pass
### Steps to reproduce:

Run tests_crud.py using the parser generated doc
### Do you want to work on this issue?
NO

[2018-07-10 04:09] xadahiya commented on #239
@vaibhavchellani  Update the tests, use the doc created by parser and please make sure all the tests are passing. Submit a PR with new tests and test logs.

[2018-07-10 04:10] vaibhavchellani commented on #239
@xadahiya yes  creating a PR asap

[2018-07-10 04:15] xadahiya opened #240 "test_crud.py uses a different method to import the doc"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

`hydrus/tests/test_crud.py` uses a different method to import the doc.
[code]
[code]
Fix this and make the import format consistent across all the tests.
### Expected Behaviour:

All tests should use the same format.

### Steps to reproduce:

Compare `test_crud.py` with `test_app.py` and `test_auth.py`.
### Do y

[2018-07-10 07:38] vaibhavchellani commented on #238
Fixed #241

[2018-07-10 07:39] vaibhavchellani commented on #237
fixed #241

[2018-07-10 07:49] vaibhavchellani commented on #236
fixed in #242

[2018-07-10 07:49] #236 closed

[2018-07-10 08:03] vaibhavchellani commented on #226
for checksum mech do we need to implement writeOnly and ReadOnly functionality ? @xadahiya @Mec-iS

[2018-07-10 08:11] vaibhavchellani commented on #240
fixed #243

[2018-07-10 08:11] #240 closed

[2018-07-10 09:49] #237 closed

[2018-07-10 09:51] vaibhavchellani commented on #238
Fixed #241

[2018-07-10 09:51] #238 closed

[2018-07-10 12:49] vaibhavchellani opened #245 "multiple ':_' in api doc when defining collectionn"
### I'm submitting a
- [X] bug report.
- [ ] feature request.

### Current Behaviour:

Right now in "@id" we get "_:_:user_collection_retrieve" whereas we should have "_:user_collection_retrieve"
### Expected Behaviour:

we would get "_:user_collection_retrieve" in "@id"
### Steps to reproduce:

### Do you want to work on this issue?

yes

[2018-07-10 18:47] vaibhavchellani commented on #239
the issue was that all the test cases are hardcoded for doc_writer_sample and pass the type as "dummyClass" hence the errors and warning , i updated the test to [this](https://gist.github.com/vaibhavchellani/6d6a29c0739236275d34b7fbc48a2ba1) i am able to pass the tests except the warning (which i am looking into) .
<img width="1440" alt="screen shot 2018-07-11 at 12 14 54 am" src="https://user-ima

[2018-07-11 03:20] xadahiya commented on #239
Okay, create a PR for this. I do have some ideas for improving tests, will write details in the PR.

[2018-07-11 03:21] xadahiya commented on #230
@vaibhavchellani  Is this fixed?

[2018-07-11 03:47] vaibhavchellani commented on #230
No I haven't started working on it yet , working on implementing required property

[2018-07-11 16:17] vaibhavchellani commented on #239
@xadahiya should we close this then ?

[2018-07-11 16:18] #239 closed

[2018-07-11 16:24] vaibhavchellani opened #246 "Creation of generalised tests"
### I'm submitting a
- [ ] bug report.
- [X] feature request.

### Current Behaviour:

Since the tests were written for testing the doc_maker and doc_writer the tests are written specifically for that and hence are hard coded at various places . Its not possible to test various api docs using these tests , generalising helps us test any api doc generated .
### Expected Behaviour:

We will be able

[2018-07-11 18:18] xadahiya commented on #246
I think you can use `doc_parser.py` to achieve this, more specifically functions like `doc_parse.get_classes()`, `doc_parse.get_properties()` and similar functions can be used to construct objects based on the classes present in the APIDoc.

[2018-07-13 04:22] xadahiya opened #248 "Segregate objects types in responses"
Update hydrus to fix https://github.com/HTTP-APIs/hydra-flock-demo/issues/34

[2018-07-18 09:55] vaibhavchellani commented on #235
i have fixed the warning in PR #250

[2018-07-19 19:26] vaibhavchellani commented on #235
i think we can close this @xadahiya

[2018-07-19 19:26] #235 closed

[2018-07-19 20:09] vaibhavchellani commented on #246
fixed #251

[2018-07-19 20:09] #246 closed

[2018-07-28 06:56] vddesai1998 opened #254 "Import error from gevent"
In last few versions of 'gevent' `gevent.wsgi` was deprecated and in the new version it is completely removed. As we are using it in hydurs (cli.py - line 11), we get ImportError on running hydurs.

It should be replaced with `gevent.pywsgi`

[2018-07-28 06:57] vaibhavchellani commented on #254
yeah i faced this too , forgot to create an issue , thanks @vddesai1998

[2018-07-28 07:09] xadahiya commented on #254
Thanks Vishal, please create a PR to fix this issue.

On Sat 28 Jul, 2018, 12:27 PM Vaibhav Chellani, <notifications@github.com>
wrote:

[2018-08-03 09:25] #254 closed

[2018-08-04 12:46] vaibhavchellani opened #256 "Create a cli command for parser"
### I'm submitting a
- [ ] bug report.
- [X] feature request.

### Current Behaviour:

Right now we dont have a cli command for parser
### Expected Behaviour:

User will just give the location of open api doc and the command will start the server .

### Do you want to work on this issue?

yes

[2018-08-05 16:58] vddesai1998 opened #261 "Database error while making GET or POST requests on collections."
### I'm submitting a
- [ x ] bug report.
- [ ] feature request.

### Current Behaviour:

I can successfully add an item to the collection but on making get or post request I am getting a database error.
### Expected Behaviour:

### Steps to reproduce:

Use drone flock API documentation.
Add a drone object to droneCollection with put method.
Try to get or update that object with ID created by datab

[2018-08-05 17:37] Mec-iS commented on #47
Done using UUID, server-level uniqueness guaranteed.

[2018-08-05 17:39] Mec-iS commented on #47
Next big challenges for GSOC 2019:
* allow a client to connect to different servers and build a "network-level" graph
* establish a synchronization protocol (using `WebPubSub`?) between clients and servers.

[2018-08-07 05:28] vaibhavchellani commented on #256
merged #259

[2018-08-07 05:28] #256 closed

[2018-08-07 17:29] vaibhavchellani commented on #261
On this !

[2018-08-08 12:13] vaibhavchellani commented on #230
fixed in #262

[2018-08-08 12:13] #230 closed

[2018-09-10 17:35] PrajwalM2212 opened #268 "Add JSON support documentation to doc_maker.py"
Add JSON support documentation to doc_maker.py.

[2018-09-14 12:43] PrajwalM2212 opened #271 "Failing tests in master branch"
### I'm submitting a
- [ ] bug report.

### Current Behaviour:
2 tests are failing

### Expected Behaviour:
All tests should pass

### Steps to reproduce:
Run the tests

### Do you want to work on this issue?
Yes , but i would need help

[2018-09-14 12:47] PrajwalM2212 commented on #271
<img width="1680" alt="screen shot 2018-09-14 at 6 11 12 pm" src="https://user-images.githubusercontent.com/30733262/45551061-5d777280-b84a-11e8-9020-719dec18c259.png">
<img width="1680" alt="screen shot 2018-09-14 at 6 11 05 pm" src="https://user-images.githubusercontent.com/30733262/45551066-62d4bd00-b84a-11e8-92be-fb23ac4a843c.png">

[2018-09-14 12:48] PrajwalM2212 commented on #271
Two tests are failing in the master branch. This may be a serious issue.

[2018-09-14 13:00] Mec-iS commented on #271
It seems that the YAML file for the example is missing.
Have you tried to generate the YAML file by running the OpenAPI parser?

@vaibhavchellani @sandeepsajan0 ^

[2018-09-17 16:09] Mec-iS commented on #271
the errors are pretty self-explanatory. Are you investigating?

[2018-09-17 16:29] PrajwalM2212 commented on #271
<img width="1680" alt="screen shot 2018-09-17 at 9 57 00 pm" src="https://user-images.githubusercontent.com/30733262/45636215-bf431100-bac4-11e8-8037-a3a9454276c2.png">
<img width="1680" alt="screen shot 2018-09-17 at 9 56 55 pm" src="https://user-images.githubusercontent.com/30733262/45636217-c0743e00-bac4-11e8-99af-64a384edda91.png">

I tried to generate the YAML file by running the OpenAPI pars

[2018-09-17 16:40] PrajwalM2212 commented on #271
![image](https://user-images.githubusercontent.com/30733262/45636811-5fe60080-bac6-11e8-8112-7c1d18107054.png)

The initial error for test failure says that there is no YAML file , but it has existed all along . I wonder why it is not able to open it

[2018-11-11 16:31] xadahiya opened #280 "Make openapi_parser.py PEP8 complaint."
openapi_parser is not PEP8 compliant. See this
![screenshot_2018-11-11 pep8 online check - results 2](https://user-images.githubusercontent.com/9114274/48315514-43b19c00-e5fd-11e8-8c7f-9f6e110eac31.png)

[2018-11-14 10:49] xadahiya opened #281 "Improve Auth mechanism"
This is in reference to #179 ( Deleting expired tokens from db)
Any other ideas are welcome :smile:

[2018-11-14 10:57] #173 closed

[2018-11-14 10:58] xadahiya commented on #281
Same as #178

[2018-11-14 10:58] #281 closed

[2018-11-14 10:59] xadahiya commented on #204
Using placeholders for now

[2018-11-14 10:59] #204 closed

[2018-11-14 11:03] #268 closed

[2018-11-14 11:07] #271 closed

[2018-11-14 11:10] xadahiya opened #282 "Failing parser tests"
### I'm submitting a
- [x] bug report.

### Current Behaviour:
Currently, one test is failing for the open API  parser.

### Expected Behaviour:
All tests should pass

### Steps to reproduce:
- cd to `hydrus/tests/`
- Run `python -m unittest test_parser.py`

### Do you want to work on this issue?

NO

## Logs
[code]

[2018-11-14 11:14] xadahiya commented on #280
Also, users should be able to run tests from any directory ( not just the tests directory). So no relative file imports should be used.

[2018-11-14 11:15] xadahiya commented on #282
Also, users should be able to run tests from any directory ( not just the tests directory). So no relative file imports should be used.

[2018-11-15 14:47] soderluk opened #285 "Support for RAML in addition to OpenAPI"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

As there are plans for hydrus to support OpenAPI, I think it would be beneficial to also support the RAML specification: https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/ in addition.

[2018-11-17 14:16] usmanmuhd commented on #280
Can I take this up?

[2018-11-18 12:51] usmanmuhd commented on #282
Submitted PR #287 to fix this.

[2018-11-19 02:18] #282 closed

[2018-11-19 03:53] #280 closed

[2018-11-19 06:00] usmanmuhd commented on #248
Can you assign this to me?

[2018-11-19 07:16] xadahiya opened #291 "Update hydrus README.md wiki links"
Some of the links in hydrus README file are outdated. New wiki is present at http://hydraecosystem.org/

[2018-11-19 10:07] chrizandr commented on #285
Hi @soderluk, sounds like a great idea, we will try and have a discussion about this. Please feel free to forward your suggestions in the chatroom as well.

[2018-11-20 10:19] #291 closed

[2018-11-20 15:38] vddesai1998 commented on #226
For requests containing a single object, the server returns 400 when the required parameter is not provided and returns 405 (Method not allowed) when a client tries to modify read-only data.
But when a client in a single request sends multiple objects to the server and one or few of them are violating this conditions should other valid objects be processed or the whole request should be discarded?

[2018-11-21 08:52] soderluk commented on #285
I'm not sure I understand. Which chatroom?

[2018-11-21 09:10] xadahiya commented on #285
https://gitter.im/HTTP-APIs/Lobby

On Wed 21 Nov, 2018, 2:22 PM Kenneth Söderlund <notifications@github.com
wrote:

[2018-11-21 09:32] soderluk commented on #285
Could this chatroom be mentioned somewhere in the README? I had no idea there existed such a chat.

[2018-11-21 09:40] xadahiya commented on #285
Sure! Sorry for the inconvenience :)

On Wed 21 Nov, 2018, 3:02 PM Kenneth Söderlund <notifications@github.com
wrote:

[2018-11-22 12:32] vddesai1998 opened #293 "Failing test in test_crud.py"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

Currently, the test for update function fails because of a bug in the test code.
Test code is generating a random class to create an object and insert into database and then tries to update it with another object which is of a different class (randomly selected), which causes InstanceNotFound error.

### Expecte

[2018-11-26 09:00] #293 closed

[2018-11-30 06:25] vddesai1871 opened #296 "Adapt and modify tests in test_app.py"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

Currently, tests in test_app.py are not testing(asserting) the behaviour of the app correctly. For most of the tests, it is not even executing the code which is supposed to test the functionality.
1) In test_Collection_GET and few other tests, we are treating the endpoint as collection name instead of extracting

[2018-12-04 07:58] vddesai1998 opened #297 "Request for some endpoint contexts return 404 Not Found"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

Currently, when a client tries to fetch a context for non colllection or collection endpoint which has an independent path, the server returns 404.
In #206 we implemented independent paths for collection and non collection endpoints, but didn't adapt `Context` in app.py accordingly.
### Expected Behaviour:

Cont

[2018-12-05 10:56] Mec-iS opened #300 "Push notifications on data changes (client-server data sync)"
### I'm submitting a
- [x ] feature request.

### Current Behaviour:
There is no way for now to make the client-side graph representation of the data aware of data changes. Clients have to query the server every time to be sure that data has not been updated since the last query. This opens to the possibility of the client using stale data.

### Expected Behaviour:
hydrus should allows the clients

[2018-12-06 13:49] Mec-iS commented on #226
@vddesai1998 nice point. I suppose this is not the right issue for this. We should have a "Multiple insertion/update for list of items" issue.

This issue remains here, to implement the status code system:
* 400: missing parameter
* 404: object not present
* 405: read-only item, write-only item

[2018-12-06 13:58] Mec-iS opened #301 "Refactor app.py"
### I'm submitting a
- [X] bug report.

### Current Behaviour:
The `app.py` module is too long and it is hardly readable

### Expected Behaviour:
Refactor the codebase by splitting functionally the methods among different modules (`auth.py`, etc.). Also the server `__main__` should be by itself in a dedicated module.

[2018-12-06 14:05] vddesai1998 commented on #226
We do not have endpoint method for updating multiple items at once. Should I create an issue? ( I am asking because I do not know why it was not implemented early when we implemented multiple inserts and deletes. )

[2018-12-06 14:10] Mec-iS commented on #226
bedore going too far with this we should ask in the mailing list what is the general consensus about passing list of items and implementing multiple resources' CRUD operations, I suppose.

After a brief research:

In my opinion, in this case the handler should return `202 Accepted` instead of `201 Created`. Maybe in the body of the response should be present the item that failed and at which const

[2018-12-06 14:15] vddesai1998 commented on #226
This solves my all doubts about proper way to check for contraints. Can you assign this issue to me..?

[2018-12-06 14:29] Mec-iS opened #302 "Set up "hydra:search" endpoints to filter items/ids (IRITemplate)"
### I'm submitting a
- [x] feature request.

### Current Behaviour:
As discussed in this issue in the Specs https://github.com/HydraCG/Specifications/issues/168#issuecomment-404415370
hydrus should provide an endpointbased on `hydra:search` to introspect/filter items and ids. In particular:

### Expected Behaviour:
As described in the issue mentioned above:

[2018-12-08 14:58] Mec-iS opened #303 "Generic Refactoring"
### Current Behaviour:
Some code is not readable and some optimization should be applied. For example:
* URL formatting should be using: `str.format()`: `'{}/{}/{}'.format(..., ..., ...)` or better `f'{domain}/{path}/{id}'`
* issue #301
* please @chrizandr @xadahiya add to the list
* Adding doc strings wherever missing

### Expected Behaviour:
Code should be refactored

[2018-12-08 15:51] #297 closed

[2018-12-08 16:10] PrajwalM2212 opened #304 "Mechanism for pagination"
### I'm submitting a
- [ ] feature request.

### Expected Behaviour:
Hydra should allow  to retrieve collections by pages so that I can show first batch of items as soon as possible. This is also discussed in https://github.com/HydraCG/Specifications/blob/master/drafts/use-cases/3.2.pagination.md.

[2018-12-08 16:26] PrajwalM2212 opened #305 "Setup travis CI"
### I'm submitting a
- [ ] feature request.

### Expected Behaviour:
It would be good to have travis enabled on the project

[2018-12-08 17:18] Mec-iS commented on #304
Yes, pagination is a very important feature.

[2018-12-10 12:16] pradeepgangwar commented on #303
@Mec-iS Allow me to work on this.

[2018-12-10 17:03] Mec-iS commented on #303
You don't need to ask for permission. Please get familiar with Github Workflow (forking, branching, pull requests, etc).

[2018-12-17 14:17] invinciblycool commented on #216
Would like to work on this. Is this up for grabs?

[2018-12-17 14:47] Mec-iS commented on #216
you can work on any issue you prefer, no need to ask. Please get familiar with Github Workflow and how to submit a Pull Request.

[2018-12-19 09:53] #305 closed

[2018-12-19 09:54] #301 closed

[2018-12-22 12:02] xadahiya commented on #296
fixed in #299

[2018-12-22 12:02] #296 closed

[2018-12-22 15:55] Mec-iS commented on #47
You can start collecting some examples of Gossip over HTTP. We are also looking to implement a protocol for server-agent data synchronization >>> https://github.com/HTTP-APIs/hydrus/issues/300
basically an agent should be notified to update its data graph when an update happens in hydrus.

[2018-12-23 12:36] Mec-iS commented on #137
As I said above, one of the most interesting feature about using Hydra is the fact that the server can change endpoints semantics without any need to hard-code the client. So we are looking for a way to demonstrate this feature using flock-demo.
Somehow should be possible from the UI to update the controller's vocabulary and change the endpoints, so to show on the screen that the drones just adapt

[2018-12-23 12:40] Mec-iS commented on #47
@invinciblycool just a note: as Hydra is a W3C draft we have some wish of using other W3C standards to where possible. that's why I suggested [WebSub](https://www.w3.org/TR/websub/)

[2018-12-23 17:14] invinciblycool commented on #47
Makes sense, WebSub is great to start with.

[2018-12-26 06:53] invinciblycool commented on #47
https://github.com/andymccurdy/redis-py#publish--subscribe can definitely be considered.

[2018-12-27 14:08] Mec-iS commented on #137
this looks good.

you can create the relative issues in the respective flock-demo repositories so we can discuss each one with more details.

[2018-12-27 14:10] vddesai1871 commented on #218
@Mec-iS  @xadahiya can you provide more information on this issue from the mail you are referring to.
Is it about global unique ids we were planning to implement?

[2018-12-27 14:48] Mec-iS commented on #218
This has been moved to the agent-server data synchronisation issue #300 and relative inbox/outbox system that could or could not work leveraging checksums.

[2018-12-27 14:48] #218 closed

[2018-12-30 06:09] vddesai1871 commented on #303
@Mec-iS Python 3.5 does not support f-string.
We can use any clever hacks available out there but it makes sense to use plain old string.format

[2018-12-30 06:35] xadahiya commented on #303
I don't think there's any nice way to use fstrings in python 3.5 right now. If we want to use fstrings then we might have to ditch python 3.5, not sure we should do that.
If think it would be better if we stick we old string formatting, for now at least.

[2018-12-30 07:00] xadahiya opened #312 "Write tests to check PEP8 compliance"
### I'm submitting a
- [ x ] feature request.

Write unit test to check PEP8 compliance

[2018-12-30 07:50] de-sh opened #313 "Tests are failing"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

[code]
I am using Pipenv with the version of venv python is 3.6
(Why is there a NameError?)

### Expected Behaviour:

Runs without assertion error and `API_NAME` is found to be defined.

### Steps to reproduce:

Starting from codebase after #311
[code]

### Do you want to work on this issue?

YES!

[2018-12-30 07:53] de-sh commented on #313
Found out the error was because of my own mistake, sorry for the unnecessary issue

[2018-12-30 07:53] #313 closed

[2018-12-30 08:32] de-sh commented on #303
I will work with str.format() in case you decide to remain with python3.5

[2018-12-30 10:46] de-sh commented on #303
All tests are passing on this one :100: 🎉

[2018-12-30 13:32] Mec-iS commented on #312
we need to add pylint to the CI pipeline, then

[2018-12-30 14:52] de-sh commented on #312
I would like to take this up. Any suggestions you'd like me to follow?

[2018-12-31 15:30] vddesai1871 opened #317 "function to generate dummy objects fails for classes with explicitly defined paths."
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

This function is used to create dummy classes for test purposes.
[code]
The first parameter of the function `class_` is ambiguous. Its not clear whether it should take class.title as its value or class.path as its value. In either case, it will fail for classes with explicitly given path names.
Suppose the class

[2019-01-01 09:39] xadahiya commented on #312
Fixed in #319

[2019-01-01 09:39] #312 closed

[2019-01-01 15:46] xadahiya commented on #303
Fixed in #316

[2019-01-01 15:59] vddesai1871 commented on #303
@xadahiya can you reopen it and add "Adding doc strings wherever missing" in the list. And doc strings right now doesn't describe possible exception which a function can raise, so it would be nice to add those also.

[2019-01-02 10:43] Mec-iS commented on #317
I think `class_` is a HydraClass object not a `str`. I agree that parameters shall be documented and their types explicitly documented a well.

[2019-01-02 10:46] Mec-iS commented on #137
Moved to flock-demo. See referenced issues ^

[2019-01-02 10:46] #137 closed

[2019-01-02 10:47] Mec-iS commented on #178
Merged to `develop`. Waiting for merge in `master`.

[2019-01-02 10:49] Mec-iS commented on #226
@vddesai1871 if this is fixed, please reference PR number.

[2019-01-02 10:50] Mec-iS commented on #216
This has been merged to `develop`. Waiting for merging to `master`.

[2019-01-02 10:51] Mec-iS commented on #248
This has been merged to `develop`. Waiting to merge in `master`.

[2019-01-02 10:56] #248 closed

[2019-01-02 10:57] #216 closed

[2019-01-02 10:57] #178 closed

[2019-01-02 12:00] vddesai1871 commented on #317
From function body and function calls it is clear we are expecting `class_` to be a string. But it was not clear whether it is `class.title` or `class.path`. We were passing `class.title` as value in function calls which is bound to fail when the class has explicitly defined path. I was suggesting to use class_title or class_path as the parameter and change the code accordingly.
But yeah using Hyd

[2019-01-02 12:07] vddesai1871 commented on #226
@Mec-iS I haven't created a PR yet, I have yet to write code for write-only properties so I will complete it and open a PR over the weekend.

[2019-01-05 13:13] Mec-iS opened #322 "Move examples file into `examples`"
`petstore_openapi.yaml`, like any other examples-related data, should be in the `examples` directory.

[2019-01-05 13:14] Mec-iS commented on #322
Same for `doc.jsonld`

[2019-01-05 13:15] Mec-iS opened #323 "Fix vulnerability for current version of pyyaml"
Report about details of this vulnerability and how to fix it:
https://github.com/HTTP-APIs/hydrus/network/alerts

Then open a PR with the fix.

[2019-01-05 13:18] Mec-iS opened #324 "Remove .DS_Store files and add them to gitignore"
There are some `.DS_Store` files in the repository, any non-used file shall be removed.

[2019-01-05 13:30] Mec-iS opened #325 "Add "Raises" block to docstrings"
Add the "Raises" block to docstrings to all functions so to described if/which exceptions the function raises.

[2019-01-05 15:12] ShravanDoda commented on #325
@Mec-iS can I work on it?

[2019-01-05 15:20] newbazz commented on #322
I would like to work on this issue.

[2019-01-05 15:48] knakul853 commented on #322
actually i'have made pr on this issue :p

[2019-01-05 15:51] vddesai1871 opened #327 "Refactor deeply nested if blocks"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

Currently the code in `resources.py` has deeply nested if blocks which decrease the readability of the code, also it causes the code to violate PEP max-line-length constraint, trying to avoid that we use line breaks which makes the code even less readable.

### Expected Behaviour:

Instead of using nested Ifs we

[2019-01-05 15:54] Mec-iS commented on #322
@newbazz you don't need ask for permission. Please follow Github Workflow

[2019-01-05 15:57] Mec-iS commented on #323
@newbazz the link is accessible only to repository collaborators I suppose.
Here a screenshot:

![pyyaml-vulnerability](https://user-images.githubusercontent.com/3146196/50726264-93df4300-1102-11e9-914c-5ea59de2ec63.png)

[2019-01-05 16:05] knakul853 commented on #324
@Mec-iS  can i work on this ?

[2019-01-05 16:11] Mec-iS commented on #325
https://github.com/HTTP-APIs/hydrus/issues/322#issuecomment-451666591

(These messages will be removed)

[2019-01-05 16:11] Mec-iS commented on #324
https://github.com/HTTP-APIs/hydrus/issues/322#issuecomment-451666591

(these messages will be removed)

[2019-01-05 16:42] realsdx commented on #327
I want to work on this issue. Should i start?

[2019-01-05 16:44] Mec-iS commented on #327
#322 (comment)

(These messages will be removed)

[2019-01-05 17:18] chrizandr commented on #327
Good idea, although I am unsure if this would help in readability of the code, it is usually easier to understand the `True` cases and then handle failures, than handle failures and do the actual computation in the `else` case. It would certainly reduce the indentation level of it. Rather than this I suggest maybe group similar conditions into a function and handle them at once?

[2019-01-05 17:19] Mec-iS commented on #327
Is there any OO pattern we can apply, like Observer on a property or something similar?

[2019-01-05 18:51] Mec-iS opened #330 "Make OpenAPI parser into its own repository"
The OpenAPI -> Hydra parser should be segregated into its own repository and downloaded by hydrus via `requirements.txt`. It may be also published in PyPi eventually.

[2019-01-05 19:35] chrizandr commented on #330
There is also a new sub-module feature on GitHub, where we link separate repositories into existing ones as sub-modules. Maybe we can explore that as well?

[2019-01-05 20:59] chrizandr commented on #323
Fixed in #331

[2019-01-05 20:59] #323 closed

[2019-01-06 08:08] vddesai1871 commented on #327
How about using [Notifications](https://martinfowler.com/eaaDev/Notification.html). As most of the IFs we have are about validation so I think it can be applied.

[2019-01-06 09:14] de-sh commented on #303
Have we considered moving to [Pipenv](https://pipenv.readthedocs.io/en/latest/)? I personally recommend using it, with the Pipfile, one could easily better segragate dependencies and stuff.

[2019-01-06 10:04] de-sh opened #334 "Move hydrus to using Pipenv"
### Why?
This helps with managing the dependent python version for hydrus to also be backward compatible.
- Also the Pipfile.lock exercises caution with the use of SHA hashes to maintain integrity of dependencies.
- Pipenv also provides a shell with auto-loading features to load env. variables, which might come in handy in the future.

### How?
- loading pipenv to install from requirements.txt, th

[2019-01-06 10:13] ShravanDoda commented on #330
Is it necessary to put into  `requirements.txt`? After creating a separate Repo for OpenAPI, I added the following code to my setup.py file --
`parserUrl = "https://github.com/ShravanDoda/parser"`
`os.mkdir(os.path.join(os.getcwd(), 'hydrus/parser'))`
`os.system("git clone {} hydrus/parser".format(parserUrl))`

[2019-01-06 11:38] Mec-iS commented on #330
@ShravanDoda you can use `git+git://` directly in the requirements: https://stackoverflow.com/questions/16584552/how-to-state-in-requirements-txt-a-direct-github-source

[2019-01-06 11:44] Mec-iS commented on #327
@vddesai1871 How the code would look like? Some dummy example?

[2019-01-06 17:18] newbazz commented on #330
can i work on this issue? As i have already done one beginners issue?

[2019-01-06 19:05] newbazz commented on #303
i think different issue should be opened for refactoring different files, as it will allow easy readability and easier management.

[2019-01-06 19:14] newbazz commented on #322
I think this issue should be closed as it already has the PR approved and merged.

[2019-01-07 06:41] #322 closed

[2019-01-07 06:41] chrizandr commented on #334
Putting this here for reference.
https://github.com/HTTP-APIs/hydrus/pull/335#issuecomment-451735167

[2019-01-07 13:38] vddesai1871 commented on #327
[code]
Usage
[code]

[2019-01-07 18:30] chrizandr commented on #327
Wouldn't we have to make classes for each different type of validation then? And again check for each validation in a separate `if` clause? Am I missing something?

[2019-01-08 06:09] ShravanDoda commented on #330
I created a python project for parser with setup.py and sdist. I'm able to install it directly from my terminal via git+git/git+https but with requirements.txt it throws an error.
`Could not find a version that satisfies the requirement parser (from hydrus==0.0.1) (from versions: )`

[2019-01-08 06:20] ShravanDoda commented on #330
I created a python package for parse with setup.py and sdist. I'm able to download it to hydrus with requirements.txt by specifying the dependency_links in setup.py. But in order to make it work properly I'll have to change all the references of parser in the import statement. Is this the right way?

[2019-01-08 06:31] ShravanDoda commented on #330
Here's the link to parser repo: https://github.com/ShravanDoda/parser

[2019-01-08 13:49] vddesai1871 commented on #327
I don't think so, ValidationError.error will have information about which kind of error it is.

Yes, you are correct we will still need multiple if clauses and they will be still checking for negations ( Which as you mentioned is undesirable) just they will be in a separate function.
I, too, would like to avoid that but I can't think of a way to remove this nested ifs without checking for negation

[2019-01-08 16:47] de-sh commented on #330
Sorry I couldn't update you guys before the PR, issue is solved, but had to make a PyPi package. Nice new lesson for me! :smile:

[2019-01-08 18:07] Mec-iS commented on #330
Work on this has to be moved here -> https://github.com/HTTP-APIs/hydra-openapi-parser

[2019-01-08 20:09] Mec-iS commented on #330
yeah take the parser code out of hydrus but keep the history for the that part of the codebase

[2019-01-11 20:16] kartikpandey596 commented on #327
You can use flag to solve this problem.
For example:
Your present condition is:
If (condition):
     If (condition):
          ....
     else:
else:
The solution is:
If(condition):
     If(condition):
           ....   Before reaching the max situation pass check variable value to 1 when if condition is true
Otherwise its default value is 0
    else:
else:
And at last
Check the condition
If(check=

[2019-01-12 10:21] HarsheetKakar commented on #303
Can I start working on this issue?

[2019-01-13 13:40] Mec-iS commented on #330
https://github.com/HTTP-APIs/hydra-python-core created for `hydraspecs`

[2019-01-13 13:41] #325 closed

[2019-01-17 11:19] invinciblycool commented on #324
@chrizandr The vscode `settings.json` still persists.

[2019-01-20 09:14] knakul853 commented on #302
@Mec-iS  i read the above mentioned link and bit confuse with the feature what exactly you have requested.
is it only just a mechanism to search the endpoints to filter items/ids  . i guess <br>  ```hydrus  should provide an endpointbased on hydra:search to introspect/filter items and ids. In particular: ```  this should be in expected Behaviour section:<br>need bit guidance related to this featur

[2019-01-21 18:05] knakul853 commented on #302
i already checked out btw  thanks @de-sh
is not this sould be in  expected behaviour section ```hydrus should provide an endpointbased on hydra:search to introspect/filter items and ids```

[2019-01-23 18:53] ujjwalrox opened #343 "Using `with` keyword to handle file Input/output."
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

Currently, file handling is done without `with` keyword, which in fact is dangerous because if an exception occurs before the call to `close()` then `close()` will not be called and the memory issues can occur, or the file can be corrupted.

Ref: [Python Official docs](https://docs.python.org/3/tutorial/inputout

[2019-01-23 19:51] aribalam commented on #226
@Mec-iS @xadahiya what is the status of this issue? I would like to create a PR for this. Would it be fine if I submit it by the weekend?

[2019-01-26 09:18] knakul853 commented on #302
@Mec-iS  thanks

[2019-01-26 15:34] Mec-iS commented on #302
you can try looking into the mailing-list archive, for example: https://lists.w3.org/Archives/Public/public-hydra/2016Nov/0000.html

Best way is to go through examples and then try to write to the mailing-list asking for specific questions.

[2019-01-26 15:42] Mec-iS commented on #226
@aribalam there is already a PR #326 it would be nice to widen the collaboration and take the best part of both

[2019-01-26 15:42] Mec-iS commented on #343
merged

[2019-01-26 15:42] #343 closed

[2019-01-27 16:12] vddesai1871 commented on #226
Both PRs are still using api doc in crud.py, #326  is using it to handle write-only props and #345 is using it for required props, as I mentioned earlier by only storing write-only attribute in database we can still handle read-only and required from resources.py without making any unnecessery database reads (I think storing required attribute in db, we will need to change the database schema and

[2019-01-27 17:38] aribalam commented on #226
@vddesai1871 We can definitely handle read-only and required properties without storing it in the database. But it would be much cleaner and maintainable if we do it the other way. I think logically,  checking property constraints should be handled on a lower level (i.e. `crud.py`) than `resources.py`. We might need to add more resources in the future and it could become a tedious task if we do it

[2019-01-28 04:57] vddesai1871 commented on #226
:+1:

prop = session.query(properties).filter(properties.id == data.predicate).one()
This is used only once in both the cases and has to be present anyway.

I was talking about handling required property constraint, and it will also require changing db schema if I am not missing something. Can we do it without changing db schema?

@xadahiya  we are thinking to go with storing these attributes in d

[2019-01-28 08:01] aribalam commented on #226
This might be a good way to go.

[2019-01-31 16:35] #303 closed

[2019-02-01 18:20] aribalam opened #348 "refactoring in doc_maker"
I have a few suggestions -
1. Currently the `doc_maker` has a number of `doc_keys` defined inside functions which creates classes, properties, operations and statuses to check for those keys. Since those are all hard-coded and are subject to changes, what if we put all those keys in one place as global declarations?
We could then map those keys to their respective `body_type` and use it accordingl

[2019-02-02 09:47] Mec-iS commented on #327
As mentioned above, we want to implement a [standard pattern](https://python-patterns.guide/)

[2019-02-02 09:52] Mec-iS commented on #226
A change in database schema is not a big deal, if we implement a migration tool (Alembic:  I open a issue for that).

:+1:

[2019-02-02 09:54] Mec-iS opened #349 "Implement migrations with Alembic"
### I'm submitting a
- [x] feature request.

### Current Behaviour:
The server should provide a standard migration tools to handle any change in schemas. The most popular migration tool for SQLAlchemy is [Alembic](https://alembic.sqlalchemy.org/en/latest/)

### Expected Behaviour:
All changes in the database schema should be tracked and reproducible

[2019-02-02 09:57] Mec-iS commented on #302
New page on the doc about: http://www.hydraecosystem.org/IriTemplate

[2019-02-02 10:08] Mec-iS commented on #226
@aribalam please contribute to https://github.com/HTTP-APIs/hydrus/pull/326 on branch https://github.com/vddesai1871/hydrus/tree/impl_props

[2019-02-02 14:15] aribalam commented on #349
@Mec-iS I am not able to understand the goal of this feature. What are we going to achieve with this. Is it related with including property attributes in the database (#226)?
Currently only the relationships between classes and properties (the triples) are being stored in a database. With property constraints and other sorts of validation to be performed by `HydraDoc` in `resources.py` as was deci

[2019-02-02 16:34] vddesai1871 commented on #226
@Mec-iS the best thing about hydrus is its DB schema, I don't think we will need migration.
Regarding to this issue the approach suggested by @chrizandr here https://github.com/HTTP-APIs/hydrus/pull/326#issuecomment-459416953 will provide a more cleaner solution and it will also provide a more elegant solution for #327. I think https://github.com/HTTP-APIs/hydrus/pull/326#issuecomment-459416953 is

[2019-02-19 05:25] sreetamparida commented on #304
I want to work on this issue

[2019-02-24 03:12] xadahiya commented on #348
@aribalam please move this to https://github.com/HTTP-APIs/hydra-python-core.

Closing this

[2019-02-24 03:12] #348 closed

[2019-02-24 03:14] xadahiya commented on #330
Done https://github.com/HTTP-APIs/hydra-openapi-parser

[2019-02-24 03:14] #330 closed

[2019-02-24 12:19] xadahiya opened #355 "Update `parser` and `hydraspec` reference in cli.py"

[2019-02-24 12:32] Mec-iS commented on #285
I think this can be moved to the parser's repo https://github.com/HTTP-APIs/hydra-openapi-parser/issues

[2019-02-25 07:35] vddesai1871 opened #356 "Check for incomplete docstrings and complete them"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

In many files docstrings are incomplete, some does not describe parameters and return values.
### Expected Behaviour:

Every docstring must describe all parameters, return value and raised exceptions of the function being documented.
### Steps to reproduce:

### Do you want to work on this issue?

No

[2019-02-28 14:41] chrizandr commented on #349
@aribalam There might be changes we make to the DB in that would change the schema. It is a good practice to have migrations in place to make the transition easier, without having to clean the entire database.

[2019-03-05 14:12] aribalam opened #358 "Revamps in Hydrus"
There are a list of things in Hydrus that I think needs some discussion. So I am opening a new issue about it.

1. When creating a `GraphIAC` relation, the value of property inserted by the client is a class name which could create conflicts in the meaning of the value (the client meant it as a string value, the server would interpret it as a reference to a class). I think it would be more appropr

[2019-03-05 15:02] vddesai1871 commented on #358
I don't think using IDs will be the proper way to handle this, as I think clients are not supposed to know (or function on the knowledge of) which IDs server is using internally. One approach comes to my mind is --- clients should use a prefix when passing class as a property value, something like "vocab:Drone"(I don't think it will be semantically ambiguous anymore), then the server can strip off

[2019-03-05 18:37] aribalam commented on #358
Me neither. Although I think there might be some predicates whose meaning depends on the context or subject we are using upon.

Agreed. But should not we have an additional check to remove all properties that are not supported by the class whose instance we are inserting?

[2019-03-07 07:15] chrizandr commented on #358
Here are a few comments:

1. GraphIAC uses the internal class IDs to link the classes, not strings, so there is no ambiguity there. If you see the models, it is listed as a foreign key. Also, **like I said before** none of the models that include classes: GraphCAC, GraphIAC; are accessed by the client. This data is not served at any endpoints so there is no actual need for them to have IDs. They a

[2019-03-07 09:39] anubhavp28 opened #359 "Error installing hydrus from source"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:
pip complains that it couldn't find a version of `hydra_python_core` which satisfies the requirement.

### Expected Behaviour:
hydrus should install correctly.

### Steps to reproduce:
[code]

### Do you want to work on this issue?
yes

[2019-03-07 09:44] anubhavp28 commented on #359
Correct me if I am wrong, I think the problem is with `requirements.txt` mentioning release version in the URL. `requirements.txt` mentions `hydra_python_core` as `git+https://github.com/HTTP-APIs/hydra-python-core@v0.1#egg=hydra_python_core`(with v0.1 release number), which doesn't work. If I change it to `git+https://github.com/HTTP-APIs/hydra-python-core.git#egg=hydra_python_core`, it works fin

[2019-03-07 09:46] ShravanDoda commented on #359
@anubhavp28 it works fine for me. Can you please take me through the steps you followed?

[2019-03-07 09:50] ShravanDoda commented on #359
Kindly use `pip install -r requirements.txt` instead of `pip install .`

[2019-03-07 10:00] ShravanDoda commented on #359
The problem is not with specifying the version of `hydra-python-core` but with the dependency links not being specified in `setup.py`. I'll create a PR for that

[2019-03-07 11:14] Mec-iS commented on #359
@anubhavp28 `virtualenv` is deprecated since a while now. The standard way is using `venv` module. see [doc](https://docs.python.org/3/library/venv.html).

This issue can be closed.

[2019-03-07 11:14] #359 closed

[2019-03-13 14:27] Mec-iS opened #360 "Remove doc.py from `hydrus serve` command"
### I'm submitting a
- [ X] bug report.
- [ ] feature request.

### Current Behaviour:
When `hydrus serve` is run after installation, this error occurs:
[code]

### Expected Behaviour:
server should run. If there is no ApiDocumentation to load, an error message should be print in stdout telling what to do to generate an ApiDoc or where to find an example to use.

[2019-03-13 14:32] pydevsg commented on #360
I would like to work on this issue, @Mec-iS .

[2019-03-13 14:35] Mec-iS commented on #360
no need to ask, open a Pull Request as per [Github Flow](https://guides.github.com/introduction/flow/) when you have something done.

[2019-03-13 14:39] pydevsg commented on #360
Okay, @Mec-iS .

[2019-03-15 15:26] xadahiya opened #361 "Create tests for Hydrus CLI"
### I'm submitting a
- [x] bug report.
- [x] feature request.

### Current Behaviour:

Currently, the test suite doesn't cover `cli.py`.
### Expected Behaviour:

The test suite should include tests for all major modules.
### Steps to reproduce:

See `hydrus/tests`
### Do you want to work on this issue?

NO

[2019-03-16 13:31] invinciblycool commented on #361
Taking this up!

[2019-03-16 17:54] invinciblycool opened #363 "Wrong imports in cli.py"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:
 - ModuleNotFoundError is caused due to a wrong import [here](https://github.com/HTTP-APIs/hydrus/blob/a3b0e8083c9717cafd71aa62cddb9fc7c0f9bce5/cli.py#L12)
 - Also, due to a wrong import [here](https://github.com/HTTP-APIs/hydrus/blob/a3b0e8083c9717cafd71aa62cddb9fc7c0f9bce5/cli.py#L4), the `serve_forever()` meth

[2019-03-16 19:22] invinciblycool commented on #361
@xadahiya While writing tests, invoking [startserver](https://github.com/HTTP-APIs/hydrus/blob/develop/cli.py#L40) using [CliRunner](http://click.palletsprojects.com/en/6.x/testing/) does not allow any tests to run since `serve_forever()` method is blocking. This is largely different from the mocking done for the app in `test_app` since there was no such single function which was calling a blockin

[2019-03-17 08:14] de-sh commented on #363
Hey @invinciblycool I am working on this, can you help me add more such typos to be corrected?

[2019-03-17 08:32] de-sh commented on #360
@Mec-iS in which environment does this error occur?
I get the following in mine
[code]

[2019-03-17 15:53] Mec-iS commented on #363
Use the same PR please

[2019-03-17 15:55] Mec-iS commented on #360
This was from Windows user in the chat

[2019-03-17 16:00] #363 closed

[2019-03-17 16:01] Mec-iS commented on #355
@xadahiya Please be more specific about what it is to be done.

[2019-03-18 14:10] knakul853 commented on #360
@Mec-iS
```what to do to generate an ApiDoc ``` for this can we provide this on stdout
https://www.hydraecosystem.org/01-Usage.html#newdoc
telling how to create ApiDoc object?

[2019-03-18 15:48] knakul853 commented on #360
@Mec-iS  ok

[2019-03-19 11:34] Mec-iS commented on #349
Implementing Alembic is a step-stone for allowing on-the-fly ApiDoc updates (e.g. change the classes definition without hard-coding the client, or "dynamic paths"). A note:

[2019-03-19 12:27] #355 closed

[2019-03-19 12:27] Mec-iS commented on #334
Postponed

[2019-03-19 12:27] #334 closed

[2019-03-19 13:53] Mec-iS opened #367 "Switch all provisioning scripts to use PyPI"
As hydrus is now on PyPi, all the scripts involved in the installation should use the official release on PyPi (instead of the Github repository).

[2019-03-20 12:19] codehawkdevs commented on #367
![Screenshot from 2019-03-20 17-46-33](https://user-images.githubusercontent.com/42430373/54683634-230fca80-4b38-11e9-997b-2889f5a7cae4.png)
When I tried to install hydrus using `pip3 install --user hydrus`, the requirement.txt file was missing. Should I make changes directly to **setup.py** file?

[2019-03-20 12:36] Mec-iS commented on #367
You can fork the repo and open a PR from your fork

[2019-03-20 15:54] de-sh commented on #367
@Mec-iS I think we will have to make a PyPI package for both hydra_python_core and hydra_openapi_parser.

[2019-03-21 03:45] xadahiya commented on #327
Fixed in #341

[2019-03-21 03:45] #327 closed

[2019-03-21 09:57] Mec-iS commented on #300
no, this is a backend implementation for a server-client updates

[2019-03-21 13:16] Mec-iS commented on #226
Merging at https://github.com/HTTP-APIs/hydrus/pull/326

[2019-03-21 13:17] Mec-iS commented on #226
Migrations implementation at https://github.com/HTTP-APIs/hydrus/issues/349

[2019-03-22 13:37] ShravanDoda commented on #300
@Mec-iS shouldn't this work both ways. Rather than just making client aware of data changes on the server-side, client should be able to push changes to server as well (given it has been authenticated). I don't know if `hydrus` currently supports any way to push changes to `HydraDoc`. Please guide.

[2019-03-22 13:41] vddesai1871 commented on #300
I do not think, client is supposed to change HydraDoc. If I am correct, this feature is mainly about pushing data changes made by other clients to any client connected with that instance of hydrus.

[2019-03-22 14:35] ShravanDoda commented on #300
@vddesai1871 I think `hydra-python-agent` can add new instances of resources.. It might not be able to add new classes or collections. Please take a look
https://github.com/HydraCG/Specifications/blob/master/drafts/use-cases/5.1.creating-event-with-put.md

[2019-03-22 14:38] vddesai1871 commented on #300
That's what I wrote above

[2019-03-22 14:39] ShravanDoda commented on #300
I guess I should've said server database instead of `HydraDoc`

[2019-03-22 14:47] vddesai1871 commented on #300
Client does this by standard HTTP methods. (through operations available/provided in HydraDoc).
We need push mechanism at server to propogate such individual changes to other client connected to the server. (So data at every client remains synchronized with the server data).

[2019-03-23 11:42] Mec-iS commented on #300
Absolutely not, only source of truth for data shall be the server.

[2019-03-23 12:14] Mec-iS opened #372 "Considering HTTP/2 support, porting to Quart"
### I'm submitting a
- feature request.

### Current Behaviour:
Flask does not have any plan for supporting HTTP/2 (current installations use reverse proxying). Quart is a web-server based on HyperCorn that has the same API as Flask but support natively HTTP/2 because it is natively asynchronous (ASGI instead of uWSGI).

### Expected Behaviour:
hydrus will need to support HTTP/2. This may be neede

[2019-03-23 12:18] Mec-iS commented on #358
@aribalam what is the status of this? after the discussion, what are the improvements that it is still worth considering?

[2019-03-23 16:47] de-sh commented on #361
As part of working on this I think we can also considering moving out the PEP8 test and working on making cli.py compliant with it.

[2019-03-24 16:09] xadahiya opened #374 "Issue with retrieving nested objects"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

Retrieving nested objects like
[code]
causes the server to crash.
I guess this happened after the internal mechanism change that was done (Seggrigating nested objects at a different url location). When trying to retrieve any nested object, the server throws this error
`
[2019-03-24 21:33:05,891] ERROR in app: Ex

[2019-03-24 16:11] xadahiya opened #375 "Add crud tests for nested objects"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

Currently, there are no tests in test_crud.py to test crud operations on nested objects like
[code]

### Expected Behaviour:

Tests should be there.

### Steps to reproduce:

See test_crud.py in `hydrus/tests`
### Do you want to work on this issue?

NO

[2019-03-24 16:46] Mec-iS commented on #374
@xadahiya please provide a proper link to the changes you are talking about

[2019-03-24 17:00] xadahiya commented on #374
Yes, but that is when we retrieve the object. This is the object I used to store the object in CommandCollection. The server crashes when trying to retrieve this item.

[2019-03-24 17:54] vddesai1871 commented on #374
hydrus is working fine, I can not reproduce that same error in this repo.
This issue should be migrated to flock-controller repo. I have tried running the controller by following instructions provided there. But I am getting an installation error, I will further investigate it tommorow, meanwhile looking at that repository, it has api_docs directory and it has an old doc_gen script which defines S

[2019-03-24 18:31] xadahiya commented on #374
I tried that but it didn't work. Could you please try to find out what's wrong with the demo?

[2019-03-25 00:30] Mec-iS commented on #374
@xadahiya

might help.

[2019-03-25 01:26] chrizandr commented on #374
To add to this, we might have to make tests for nested objects. We don't have any right now, that is why it was missed out before merging.

[2019-03-25 04:25] vddesai1871 opened #377 "Add tests for retrieving Items from collections"
### I'm submitting a
- [x] bug report.
- [x] feature request.

### Current Behaviour:

~We have tests for checking operations over individual members of collection, but we do not have any test to check response for collection (for example checking response for api/XyzCollection).~
Add test to check `member` field of collection response holds valid items/elements.
### Expected Behaviour:

We need a

[2019-03-25 07:47] vddesai1871 commented on #374
There isn't any bug related to nested objects in hydrus. I added tests related to this (in  test_app.py) when I added these changes. And I have tested it manually before and now, and it is working fine. You can see the screenshots I posted above or try reproducing that bug in this repo by adding an item to command collection and retrieve it. If we are clear on this then we can migrate this issue t

[2019-03-25 07:49] xadahiya commented on #374
Cool! @vddesai1871 please create an issue in the flock-demo repo

[2019-03-25 07:49] #374 closed

[2019-03-25 13:44] Mec-iS opened #379 "Find a type checker and run it with Travis"
### I'm submitting a
- feature request.

### Current Behaviour:
Type annotations with `mypy` allow the code to tell developers which type of inputs/outputs are expected but there is no tool that checks that the annotations are respected by the functions

### Expected Behaviour:
Some command-line tool should run with CI to check if types annotations are correct. See [pyre](https://pyre-check.org/do

[2019-03-25 17:01] knakul853 commented on #361
test is added now you can close this

[2019-03-25 17:11] Mec-iS commented on #361
only the test for running the server has been developed. Has the CLI other subcommands?

[2019-03-25 17:21] knakul853 commented on #361
in startserver() we are using all the CLI commands so testing it doesn't imply testing it's subcommand
please clarify

[2019-03-26 12:27] aribalam commented on #358
@Mec-iS. I think we have an option. On the basis of the link provided by @chrizandr ([http://www.linkeddatatools.com/properties](url))

I propose that we add an additional parameter `range` to property that would define the type of values the property can hold. We can provide a list of values to define it. For example -

`{
    property: 'property_name'
    range: ['ABSTRACT', 'INSTANCE']
   ....

[2019-03-26 15:43] invinciblycool commented on #367
@codehawkdevs Try adding a `MANIFEST.in` file with `requirements.txt` in it and submit a PR. `setup.py` might not need any change.

[2019-03-27 08:02] chrizandr commented on #358
We don't add anything to the API documentation that is not defined in the Hydra spec.

Properties that are stored in the API will mostly be defined in the API doc itself, these can be verified on the server side. Those that are not stored in the API, will have a URI provided for them, we don't worry about these, because it is a link to where the actual object is. Dereferencing and verifying the co

[2019-03-27 16:05] Mec-iS commented on #358
As Chris specified, we cannot add anything to the ApiDoc that is not in the spec.

We may do this by adding a configuration module to the server and the client (something like the Django `settings.py` module in which the variables in the module are readable as dict-like keys). I suggest to try to generalize the problem, like asking yourself: beside properties, how this problem could be solved for

[2019-03-27 16:11] Mec-iS commented on #358
About https://github.com/HTTP-APIs/hydrus/issues/358#issuecomment-477025040

This kind of long reply are really well suited to become part of the documentation, if they are not yet. Please consider opening a PR on `http-apis.github.io` adding this information in the right file or creating a new file.

[2019-04-02 10:24] Mec-iS opened #382 "Upgrade Flask version to latest"
### I'm submitting a
- [ ] bug report.

### Current Behaviour:
We are running a dated version of Flask

### Expected Behaviour:
We shall use the latest stable

Also check other requirements for stale versions.

[2019-04-03 18:24] kurianbenoy commented on #382
Hey @Mec-iS, I am a bit confused by your statement dated version of Flask. On checking [change logs](http://flask.pocoo.org/docs/1.0/changelog/) the current version of Flask in 1.0.2 is already the latest stable version.

[2019-04-03 22:58] Mec-iS commented on #382
you are right, I misread from an old local branch

[2019-04-03 22:58] #382 closed

[2019-04-03 22:59] Mec-iS commented on #379
another option: https://github.com/Microsoft/pyright

[2019-04-17 13:47] HarsheetKakar commented on #304
https://github.com/djrobstep/sqlakeyset came across this we can use parts of the code or put it in requirements... give your feedback.

[2019-05-03 05:14] ShravanDoda commented on #300
Can we use some stateful protocol for synchronization between client and server?

[2019-05-03 09:50] Mec-iS commented on #300
The best approach is something like a PubSub (with Redis as we have already it available) or better *an inboxes system like the one used by actors* in an [Actor Model](https://www.brianstorti.com/the-actor-model/); the server and clients have each of them an inbox; messages are in a queue that is consumed by the actor. Types of messages can be for example: PUT this payload in resource with id, POS

[2019-05-10 14:19] vddesai1871 opened #386 "hydrus can't show nested collections"
### I'm submitting a
- [x] bug report.
- [x] feature request.

### Current Behaviour:

hydrus can't show nested collections. (eg. collection of comments on a particular issue/article)
### Expected Behaviour:

Quoting @Mec-iS

#### Possible approach
 we can have a hyperlink to the endpoint of nested collection
something like
[code]

### Steps to reproduce:

Run hydrus with real-world-app API Doc I

[2019-05-10 14:57] Guttz commented on #360
This was already solved by @de-sh on https://github.com/HTTP-APIs/hydrus/commit/1b9aa2ef733cbc575249a924cd48590e6a8fb5df on the dev branch.

Current state:
![Group (4)](https://user-images.githubusercontent.com/11739405/57533013-07a58c80-733d-11e9-8f8a-fc2a28ccdc1d.png)

I guess this can be closed.

[2019-05-10 15:58] #360 closed

[2019-05-10 18:23] chrizandr commented on #386
This is true, we need to modify the models as well to be able to this. Properties usually point to instances or terminals. Now we need to consider that they will point to collections. We could create a new relationship model GraphIACol or something that links Instance>Abstract Property>Collection. Inherently we would then have to define a separate model for collections maybe, right now it's just a

[2019-05-11 09:56] Mec-iS commented on #386
I don't think this is necessary. It shouldn't be so hard to generate a IRI that points to the collection. The server can read the ApiDoc and find the right collection IRI to point to. Or am I missing something?
It is not the model that needs to represent a property pointing to the collection, but the API that should be able to refer to itself.

[2019-05-11 11:41] vddesai1871 commented on #386
It is not the model that needs to represent a property pointing to the collection, but the API that should be able to refer to itself. The server can read the ApiDoc dictionary, find the right resource, add the right id and return the string.

Here we are trying to find a way to get a nested collection, this nested collection might be just a small part of the complete collection. For example, the

[2019-05-11 13:06] Mec-iS commented on #386
@vddesai1871
What you describe requires the implementation of the `IRITemplate` spec feature, as we are supposed to provide in the response a IRI that filters the collection with the expected objects. Again, there is no change to be made in the model, see #302 that should have priority for the first weeks of GSOC. In general, everything that is already in the spec and it is not in hydrus should ha

[2019-05-11 13:51] vddesai1871 commented on #386
Yeah, I can't believe I completely missed this point-of-view. We'll still need some way to relate elements to their parent.
And intially I was proposing to create a new endpoint/resource for nested collections of form `"api/Class/id/NestedCollection"` but now by utilizing `IRITemplate` we can provide a direct IRI `api/CommentCollection?parent_id=x`, so we'll be able to avoid making major changes i

[2019-05-11 13:57] Mec-iS commented on #386
Exactly. Please prioritise this #386 and #302 for your first weeks
Also for @Guttz, we need these implemented before starting anything with the demo or the client.

Please take some time to map and list everything we are missing from the spec.

[2019-05-11 14:09] #358 closed

[2019-05-11 14:10] Mec-iS commented on #367
PyPi packages will be created when the repositories move to alpha stage. Until then we use git.

[2019-05-11 14:10] #367 closed

[2019-05-11 14:11] #47 closed

[2019-05-11 14:15] Mec-iS commented on #226
Any of the readOnly, writeOnly and Required properties as defined in the ApiDoc, shall be treated as per these plan:
* for now all these properties shall be checked via functions (i.e. `check_write_only` in case of a GET, `check_read_only` in case of a POST, etc.)

[2019-05-11 16:48] Guttz commented on #300
After a bit of discussion with @vddesai1871 and inspiration from other comments here I would like to bring a solution into discussion that would use Websockets and an Inbox mechanism.

## Websocket implementation

To implement the socket mechanism we would use [FlaskSocketIO](https://github.com/miguelgrinberg/Flask-SocketIO) which is a Socket.io intregration for Flask applications and allows the c

[2019-05-15 08:07] Guttz commented on #349
Okay so while implementing this I realized that **there are two situations into the same issue**, which also had me confused for a while now:

**1 -** Alembic migrations with the intent of **on-the-fly ApiDoc**(Modification on the structure of the API)
**2 -** Migrations with the intent of occasionally giving the users a way to maintain their data **in the case we change how we store the relations

[2019-05-15 11:38] Mec-iS commented on #349
Exactly. We need to support Alembic so users can change their schemas as they need (hopefully via a CLI command).

[2019-05-29 13:40] vddesai1871 opened #392 "Change response message structure"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

Right now hydrus returns a string as response message which contains the information related to object's ID. If the client wants to access that, it has to use a regular expression to extract the ID from the message.
### Expected Behaviour:

We can return a response in which object ID is separated from the verbal

[2019-05-29 14:03] Guttz commented on #392
That's what I think is important for now. I guess a third value as the timestamp may turn out to be necessary in the future for sync conflicts, but if it eventually appears as crucial we do it. Thanks, @vddesai1871!

[2019-05-29 17:14] Mec-iS commented on #392
also adding a boolean in a `error` key if the status code is not 2xx or 3xx would be nice to have

[2019-05-31 10:02] #304 closed

[2019-06-01 13:37] chrizandr commented on #392
Does the spec say anything about the format of response messages? We should find that out.

Alternatively, we can return the modified object in case of PUT/POST. For DELETE the status code should be sufficient. The reason being that we would have a more standard response rather than ambiguous messages that we need to parse or custom objects where we define our own fields.

Also since all responses

[2019-06-01 13:59] chrizandr opened #396 "Hydra Status and Error Classes"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:
Currently both responses and errors are basic JSON responses with no defined structure.

### Expected Behaviour:
The spec was updated to include responses and errors using the hydra:Status and hydra:Error classes.
https://www.hydra-cg.com/spec/latest/core/#example-22-associating-additional-information-to-an-http-

[2019-06-02 13:10] vddesai1871 commented on #392
Yes following the spec would be the best option to go.
As I mentioned in the issue the issue was created to separate the object ID from the textual message.
So according to spec(the portion you linked in the other issue), we can directly return a `Status` or `Error` object in the response. And looking at the example given there and looking at core.jsonld (the actual vocab) the response will look s

[2019-06-02 14:00] vddesai1871 opened #397 "Paginated collections using IriTemplating"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

### Expected Behaviour:

hydrus should provide support for client initiated pagination.
When the client initiated pagination is enabled(at server side) , hydrus(server) will add necessary mappings in the IriTemplate of the collection response and as mentioned in the spec the client will use that to pass query (p

[2019-06-03 08:32] chrizandr commented on #397
Should we allow the client to modify pagination? We assume that there are multiple clients contacting the server at any given time, would one client then paginate the results for all? How do we separate that for each client?
I think pagination is a feature that should be enabled and disabled at the server end.

Let's discuss this before proceeding.

[2019-06-03 09:56] vddesai1871 commented on #397
Yes that's true, I think we have some misunderstanding here,  by client initiated pagination we do not mean that clients will be able to enable or disable it. It can only be enabled or disabled at the server side. Once enabled, it will provide an IriTemplate related for pagination, that can be used by any client without interfering with how other clients are interacting with the server.

[2019-06-03 10:32] chrizandr commented on #397
In that case it would be wrong to call it client initiated. The client will only send requests for the page number/offset it needs. Pagination itself is a server side feature.

[2019-06-03 10:37] chrizandr commented on #392
The spec mentions subclassing the Error and Status classes. It also allows us to add additional identifiers to the messages.

This means we can use the `@id` field in status and objects to provide URIs. In case of PUT/POST these can represent the URI for the instance. For DELETE, I don't think we really need an ID in the response since the instance with that ID would have been deleted, just a 200

[2019-06-03 10:47] chrizandr commented on #377
We do have `test_Collections_GET` and `test_Collections_PUT` in `test_app.py`.

Is there anything I am missing? I added those tests a long time ago in #48 . We are already checking responses for every collection, what seems to be missing there?

[2019-06-03 10:52] chrizandr commented on #361
@Mec-iS @xadahiya Is this good to close?